- if @current_plugin_manager
  %script
    - @current_plugin_manager.metas.each do |name,hash|
      == #{ name } = {};
      == #{ name }.meta = #{ raw hash.to_json };
    
  - @current_plugin_manager.javascript_files.each do |k,v|
    - v.each do |f|
      %script{ :type => "text/javascript", :src => "#{ @current_vendor.plugin_url }/#{ k }/#{ f }"}
      
  - @current_plugin_manager.stylesheet_files.each do |k,v|
    - v.each do |f|
      %link{ :rel => "stylesheet", :type => "text/css", :href => "#{ @current_vendor.plugin_url }/#{ k }/#{ f }"}
      
  - @current_plugin_manager.template_files.each do |k,v|
    - v.each do |f|
      = raw File.read(File.join(@current_vendor.plugin_path, k, v))