!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile? or mobile_special?
      %meta{ 'name' => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }
      %link{ :rel => "apple-touch-icon", :href => "apple-touch-icon-57x57.png"}
      %link{ :rel => "apple-touch-icon", :sizes => "72x72", :href => "apple-touch-icon-72x72.png"}
      %link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => "apple-touch-icon-114x114.png"}

    %title SalorHospitality

    = csrf_meta_tag
    = javascript_include_tag 'application'
    = javascript_include_tag 'draw'
    - if workstation?
      = javascript_include_tag 'application-workstation'
      = javascript_include_tag 'jquery.modcoder.excolor'
      = javascript_include_tag 'jquery.checkbox'
      = javascript_include_tag 'jquery.keyboard'
      = javascript_include_tag 'jquery.keyboard.config'
      = javascript_include_tag "jquery.ui.datepicker-#{ I18n.locale }"


    - if mobile?
      = javascript_include_tag 'application-mobile'
    - if controller.controller_name == 'orders' and controller.action_name == 'index' and permit('manage_hotel') and workstation? and not mobile_special?
      = javascript_include_tag 'booking'
      = javascript_include_tag 'bookings'
      = javascript_include_tag 'season'
    - if controller.controller_name == 'orders' and (controller.action_name == 'index' or controller.action_name == 'refund')
      = javascript_include_tag 'orders-generic'
      - if workstation?
        = javascript_include_tag 'orders-workstation'
      - else
        = javascript_include_tag 'orders-mobile'

    %style= render :file => 'app/views/layouts/_fonts', :formats => [:css], :content_type => 'text/css' 
    = stylesheet_link_tag 'generic', :media => 'screen'
    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
    - if workstation?
      = stylesheet_link_tag 'print', :media => 'print'
      = stylesheet_link_tag('workstation', :media => 'screen')
    - if mobile_special?
      = stylesheet_link_tag('mobile_special', :media => 'screen')

    %script
      == automatic_printing = #{ (@current_customer.nil? and @current_user.automatic_printing and @current_company.mode != 'local') ? 'true' : 'false' };
      == vendor_printers = #{ raw @current_vendor.vendor_printers_hash.to_json };
      == customer = #{ raw @current_customer.to_hash.to_json };

  %body
    %audio#audio{ :src=>"/alert.wav" }
    #screenwait
    = render 'sessions/screenlock' if workstation? and controller.controller_name == 'orders'
    #rooms_container
    #container
      #draw_controls
        %span#submit_drawing{ :onclick => "submit_drawing();" }= t('.submit_scribe')
      #header= render 'layouts/header'
      #flash
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_error= flash[:error]
      - if permit('see_debug')
        #messages messages
      #main= yield
      #footer
      #copyright
        .left
          = image_tag 'logo-tiny.png', :class => 'logo_tiny'
          = SalorHospitality::Application::VERSION
          == | #{Company.model_name.human}: #{ @current_company.name } | #{Vendor.model_name.human}: #{ @current_vendor.name }
        .right
          &copy; 2012 Red (E) Tools Ltd. (red-e.eu)
          = image_tag 'red-e-tiny.png', :class => 'logo_red_e'

:javascript
  var i18n = #{ get_i18n };
  var settings = #{ get_settings };