!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile?
      %meta{ 'name' => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title BillGastro
    
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'page.js'
    = javascript_include_tag 'menucard_iframe.js'
    
    %style= render :file => 'app/views/layouts/_fonts.css.erb', :content_type => 'text/css' 
    
    = stylesheet_link_tag('iframe', :media => 'screen')

  %body
    #digital_menucard= yield
