!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile? or mobile_special?
      %meta{ 'name' => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }
      
    = render :partial => "layouts/favicons"
      

    %title== #{ @branding_title } Login
      
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = stylesheet_link_tag('generic', :media => 'screen')
    - if workstation?
      = javascript_include_tag 'jquery.keyboard.js'
      = javascript_include_tag 'jquery.keyboard.config.js'
      %script
        == $.keyboard.defaultOptions.layout = "#{ @locale }";
    
    %style= render :file => 'app/views/layouts/_fonts', :formats => [:css], :content_type => 'text/css' 

    = csrf_meta_tag

    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
    - elsif workstation?
      = stylesheet_link_tag('workstation', :media => 'screen')      

  %body
    - if workstation? and session[:ad_url] and not session[:ad_url].empty?
      #advertising
        %iframe#adfram{ :src => session[:ad_url] }
        #adclickcatcher{ :onclick => 'show_login();' }
    #container
      #header
        = image_tag "logo-small-#{@branding_codename}.png", :id => 'logo'
      #flash
        - if flash[:notice] and flash[:notice].empty? == false
          #flash_notice= flash[:notice]
        - if flash[:error] and flash[:error].empty? == false
          #flash_error= flash[:error]
      #main{:style => 'bottom: 0px' }= yield
      #footer
      #copyright
        .left
          = image_tag "logo-tiny-#{@branding_codename}.png", :class => 'logo_tiny'
          = SalorHospitality::Application::VERSION
        .right
          &copy; 2012 Red (E) Tools Ltd. (red-e.eu)
          = image_tag 'red-e-tiny.png', :class => 'logo_red_e'
:javascript
  if ($('#flash').children().size() > 0) {
    $('#flash').fadeIn(1000);
    setTimeout(function(){ $('#flash').fadeOut(1000); }, 5000);
  }
  
  function show_login() {
    $('input#password').focus();
    $('#login').css('z-index', 1099);
  }
  
  $(function() {
    $('input#password').focus();
    $('#advertising').css('z-index', 1000);
  });