!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile? or mobile_special?
      %meta{ 'name' => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }
      - branding_codename = SalorHospitality::Application::CONFIGURATION[:branding_codename]
      - icon57 = "/apple-touch-icon-57x57-#{branding_codename}.png"
      - icon72 = "/apple-touch-icon-72x72-#{branding_codename}.png"
      - icon114 = "/apple-touch-icon-114x114-#{branding_codename}.png"
      %link{ :rel => "apple-touch-icon", :href => icon57 }
      %link{ :rel => "apple-touch-icon", :sizes => "72x72", :href => icon72 }
      %link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => icon114}
      

    %title== #{ SalorHospitality::Application::CONFIGURATION[:branding_title] } Login
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = stylesheet_link_tag('generic', :media => 'screen')
    - if workstation?
      = javascript_include_tag 'jquery.keyboard.js'
      = javascript_include_tag 'jquery.keyboard.config.js'
      - if defined?(SalorSaas) == 'constant'
        = javascript_include_tag 'salor_saas/application'
    
    %style= render :file => 'app/views/layouts/_fonts', :formats => [:css], :content_type => 'text/css' 

    = csrf_meta_tag

    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
    - elsif workstation?
      = stylesheet_link_tag('workstation', :media => 'screen')

    - if defined?(SalorSaas) == 'constant'
      = stylesheet_link_tag('salor_saas/application.css', :media => 'screen')
      

  %body
    #container
      #header
        = image_tag "logo-small-#{SalorHospitality::Application::CONFIGURATION[:branding_codename]}.png", :id => 'logo'
      #flash
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_error= flash[:error]
      #main= yield
      #footer
      #copyright
        .left
          = image_tag "logo-tiny-#{SalorHospitality::Application::CONFIGURATION[:branding_codename]}.png", :class => 'logo_tiny'
          = SalorHospitality::Application::VERSION
        .right
          &copy; 2012 Red (E) Tools Ltd. (red-e.eu)
          = image_tag 'red-e-tiny.png', :class => 'logo_red_e'
:javascript
  if ($('#flash').children().size() > 0) {
    $('#flash').fadeIn(1000);
    setTimeout(function(){ $('#flash').fadeOut(1000); }, 5000);
  }