%table{ :class => 'settlements' }
  %tr
    %th{ :style => 'width:300px' }= t :item
    %th{ :style => 'width:40px' }= t :count
    %th{ :style => 'width:90px' }= t :single
    %th{ :style => 'width:90px' }= t :cost_center
    %th{ :style => 'width:90px' }= t :total
    %th{ :style => 'width:100px' }= t :order_sums
  - total = 0
  - orders.each do |so|
    %tr
    %tr
      %td{ :colspan => 4, :style => 'text-align:left' }== #{ link_to("#{ t :order, :count => 1} ##{so.id}", order_path(so)) } auf #{ so.table.name } am #{ l so.created_at, :format => :datetime_iso }

      - subtotal = 0
      - so.items.each do |item|
        - c = item.count
        - p = item.quantity_id ? item.quantity.price : item.article.price
        - sum = 0
        - sum = c * p
        - subtotal += sum
        - total += sum
        %tr
          %td= item.quantity_id ? compose_item_label(item.quantity) : item.article.name
          %td= c
          %td= number_to_currency p
          %td= item.cost_center.name
          %td{ :class => 'colsum' }= number_to_currency sum
    %tr
      %td
      %td
      %td
      %td
      %td
      %td{ :class => 'subtotal' }
        = number_to_currency subtotal
        %br
        = link_to((t :delete), @order, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3
  %tr
  %tr.total
    %td{ :colspan => '5', :class => 'colsum' } Abrechnungssumme
    %td{ :class => 'total' }= number_to_currency total
