%table.detailed_list
  %tr
    %th{ :style => 'width:280px' }= Item.human_name
    %th{ :style => 'width:30px' }= t '.count'
    %th{ :style => 'width:50px' }= t '.unit_price'
    %th{ :style => 'width:50px' }= t '.total'
    %th{ :style => 'width:80px' }= t '.revenue'
  - total = 0
  - orders.each do |so|
    %tr
    %tr
      %td.order_begin{ :colspan => 6 }
        = t('.order_number_on_table_on_date', :order => Order.human_name, :number => so.id, :table => so.table.name, :time => l(so.created_at, :format => :datetime_iso))
        %br
        == #{ User.human_name }: #{ so.user.title }
        %br
        == #{ CostCenter.human_name }: #{ so.cost_center.name }
        %br
        = link_to t(:invoice), order_path(so)
        = link_to((t :delete), @order, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3

      - subtotal = 0
      - so.items.each do |item|
        - p = item.real_price
        - p = -p if item.storno_status == 2
        - sum = item.count * p
        - subtotal += sum
        - total += sum
        %tr
          %td= item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
          %td.number= item.count
          %td.number= number_to_currency p
          %td.colsum= number_to_currency sum
    %tr
      %td.subtotal{ :colspan => 6 }= number_to_currency subtotal
        
  %tr.total
    %td.total{ :colspan => 6 }= number_to_currency total
