- orders = Order.find_all_by_user_id(settlement.user.id, :conditions => { :settlement_id => nil, :finished => true }, :order => 'id DESC' )
- sum = orders.sum(&:sum)

= form_for settlement, :remote => true, :html => { :id => "form_user_#{ settlement.user.id }" } do |settlement_form|
  %p.username== #{ settlement.user.login }

  = settlement_form.label :initial_cash, Settlement.human_attribute_name(:initial_cash)
  = settlement_form.text_field :initial_cash

  - if not orders.empty?
    %p.username= link_to "#{ orders.size } #{ t('activerecord.models.order', :count => orders.size) }", "/settlements/detailed_list?user_id=#{settlement.user.id}"
    %p.revenue= number_to_currency sum

  %div{ :id => "finish_#{ settlement.user.id }", :style => "#{ 'display: none' if settlement.new_record? }" }
    %p
      = settlement_form.label :revenue, Settlement.human_attribute_name(:revenue)
      = settlement_form.text_field :revenue
    %p
      = settlement_form.label :created_at, Settlement.human_attribute_name(:created_at)
      = settlement_form.text_field :created_at, :class => 'datepicker', :id => "settlement_created_at_#{ settlement.user.id }"
    = settlement_form.hidden_field :user_id, :value => settlement.user.id

  %p= settlement_form.submit (settlement.new_record? ? t('.start') : t('.finish')), :class => 'submitbutton'
