- settlement = @current_vendor.settlements.where(:finished => nil, :user_id => u.id).last
- settlement = Settlement.new( :user_id => u.id ) if settlement.nil?
- orders = @current_vendor.orders.where(:user_id => u.id, :settlement_id => nil, :finished => true).reverse
- sum = orders.sum(&:sum)

%div.unsettled_orders{ :id => "user_#{ u.id }" }
  = form_for settlement, :remote => true, :html => { :id => "form_user_#{ settlement.user.id }" } do |settlement_form|
    - if settlement.new_record?
      %p.username== #{ settlement.user.login }
    - else
      %p.username== #{ settlement.user.login } (#{ t('activerecord.models.settlement.one') } ##{ settlement.id })
      %p.username== #{ t '.started_at' } #{ l settlement.created_at, :format => :datetime_iso }

    = settlement_form.label :initial_cash, Settlement.human_attribute_name(:initial_cash)
    = settlement_form.text_field :initial_cash

    - if not orders.empty?
      - if workstation?
        %p.orders= link_to "#{ orders.size } #{ t('activerecord.models.order', :count => orders.size) }", "/settlements/detailed_list?user_id=#{settlement.user.id}"
      - else
        %p.orders== #{ orders.size } #{ t('activerecord.models.order', :count => orders.size) }
      %p.revenue= number_to_currency sum

    %div{ :id => "finish_#{ settlement.user.id }", :style => "#{ 'display: none' if settlement.new_record? }" }
      %p
        = settlement_form.label :revenue, Settlement.human_attribute_name(:revenue)
        = settlement_form.text_field :revenue
      = settlement_form.hidden_field :user_id, :value => settlement.user.id
      %input{ :type => 'hidden', :id => "finished_#{ settlement.user.id }", :name => 'settlement[finished]' }
      %input{ :type => 'hidden', :id => "port_#{ settlement.user.id }", :name => 'port', :value => "#{ @current_company.vendor_printers.existing.first.id if @current_company.vendor_printers.existing.first }" }
      %input{ :type => 'hidden', :id => "print_#{ settlement.user.id }", :name => 'print' }


    - if settlement.new_record?
      %p= settlement_form.submit t('.start'), :class => 'submitbutton'
    - else
      %p= settlement_form.submit t('.finish'), :class => 'submitbutton', :onclick => "$('#finished_#{ settlement.user.id }').val(1); $('#print_#{ settlement.user.id }').val(1);"
