%h2= t('activerecord.models.settlement.other')

= error_messages_for 'settlement'

= render :partial => 'detailed_list', :locals => { :orders => @settlement.orders, :selected_cost_center => @cost_center }

- if controller.controller_name == 'settlements'

  - if controller.action_name == 'show'
    %tr
      %td{ :colspan => '3', :class => 'colsum' }= t '.revenue'
      %td{ :colspan => '2', :class => 'colsum' }= number_to_currency @settlement.revenue

  - if controller.action_name == 'edit'
    - path = user_settlement_path(@settlement.user, @settlement)
    - form_for :settlement, @settlement, :url => path, :html => { :method => 'put' } do |sm_form|
      %tr
        %td{ :colspan => '1', :class => 'colsum' }= sm_form.label('created_at', 'Datum')
        %td{ :colspan => '4', :class => 'colsum' }= sm_form.date_select('created_at')

  - if controller.action_name == 'create' or controller.action_name == 'new'
    - path = user_settlements_path
    - form_for :settlement, @settlement, :url => path, :html => { :method => 'post' } do |sm_form|
      %tr
        %td{ :colspan => '1', :class => 'colsum' }= sm_form.label('created_at', 'Datum')
        %td{ :colspan => '4', :class => 'colsum' }= sm_form.date_select('created_at')
