- if @settlement.id
  %h2== #{ t('activerecord.models.settlement.one') } ##{ @settlement.id } #{ @settlement.user.login }
- else
  %h2== #{ t('activerecord.models.settlement.one') } #{ @settlement.user.login }
= render :partial => 'detailed_list', :locals => { :orders => @orders }
