- if @settlement.id
  %h2== #{ t('activerecord.models.settlement.one') } ##{ @settlement.id } #{ @settlement.user.login }
- else
  %h2== #{ t('activerecord.models.settlement.one') } #{ @settlement.user.login }

%a.iconbutton.print2_button{ :href => "/settlements/print/#{ @settlement.id }" }

= render :partial => 'detailed_list', :locals => { :orders => @orders }
