%h2= t :settlement

- if @settlement.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @settlement.errors.size, :model => Settlement.model_name.human
    %ul
      - @settlement.errors.full_messages.each do |msg|
        %li= msg

= render :partial => 'detailed_list', :locals => { :orders => @settlement.orders, :selected_cost_center => @cost_center }

- path = user_settlement_path(@settlement.user, @settlement)
- form_for :settlement, @settlement, :url => path, :html => { :method => 'put' } do |sm_form|
  = sm_form.label('created_at', 'Datum')
  = sm_form.date_select('created_at')
  = submit_tag
