- cost_center_header_text = "(#{ CostCenter.model_name.human }: #{@selected_cost_center.name})" if @selected_cost_center
%h2== #{ t 'activerecord.models.settlement.other' } #{ cost_center_header_text }

= form_tag settlements_path, :method => :get do
  = label('from', t('.start_date'))
  = select_date(@from, :prefix => 'from')
  = label('to', t('.end_date'))
  = select_date(@to, :prefix => 'to')
  = label('cc', CostCenter.model_name.human)
  %select{ :name => 'cost_center_id' }
    %option{ :value => '' }= t '.all_cost_centers'
    = options_from_collection_for_select(@cost_centers, :id, :name)
  = submit_tag t(:display)

%table{ :class => 'settlements' }
  %tr
    %th{ :class => 'bb', :style => 'width:40px' }
    %th{ :class => 'bb' }= t :dateandtime
    %th{ :class => 'br bb' }= User.model_name.human
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{ t :net }
    %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :net }
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{t :gross} #{ number_to_percentage tax.percent, :precision => 0 }
    %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :gross }

  - total_net = {}
  - Tax.all.each { |t| total_net[t.id] = 0 }
  - total_gro = {}
  - Tax.all.each { |t| total_gro[t.id] = 0 }
  - @settlements.each do |s|
      
    - s_net = {}
    - Tax.all.each { |t| s_net[t.id] = 0 }
    - s_gro = {}
    - Tax.all.each { |t| s_gro[t.id] = 0 }
    - s_gro, total_net, total_gro = calculate_sums(s, s_net, s_gro, total_net, total_gro)
      
    %tr
      %td= link_to "##{s.id}", settlement_path(s)
      %td= l s.created_at, :format => :date_iso
      %td{ :class => 'br' }= s.user.login
      - @taxes.each do |tax|
        %td= number_to_currency s_net[tax.id]
      %td{ :class => 'br colsum' }= number_to_currency s_net.to_a.sum { |n| n[1] }
      - @taxes.each do |tax|
        %td= number_to_currency s_gro[tax.id]
      %td{ :class => 'br colsum' }= number_to_currency s_gro.to_a.sum { |g| g[1] }

  %tr
    %td{ :colspan => 3, :class => 'br sum' }= t('.sum_total')
    - @taxes.each do |tax|
      %td{ :class => 'sum' }= number_to_currency total_net[tax.id]
    %td{ :class => 'sum colsum br' }= number_to_currency total_net.to_a.sum { |n| n[1] }
    - @taxes.each do |tax|
      %td{ :class => 'sum' }= number_to_currency total_gro[tax.id]
    %td{ :class => 'sum colsum br' }= number_to_currency total_gro.to_a.sum { |g| g[1] }
