- cost_center_header_text = "(#{ CostCenter.model_name.human }: #{@selected_cost_center.name})" if @selected_cost_center
%h2== #{ t 'activerecord.models.settlement.other' } #{ cost_center_header_text }

= form_tag settlements_path, :method => :get do
  = label('from', t('.start_date'))
  = select_date(@from, :prefix => 'from')
  = label('to', t('.end_date'))
  = select_date(@to, :prefix => 'to')
  = label('cc', CostCenter.model_name.human)
  %select{ :name => 'cost_center_id' }
    %option{ :value => '' }= t '.all_cost_centers'
    = options_from_collection_for_select(@cost_centers, :id, :name)
  = submit_tag t(:display)

%table{ :class => 'settlements' }
  %tr
    %th{ :class => 'bb', :style => 'width:40px' }
    %th{ :class => 'bb' }= t :dateandtime
    %th{ :class => 'br bb' }= User.model_name.human
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{ t :net }
    %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :net }
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{t :gross} #{ number_to_percentage tax.percent, :precision => 0 }
    %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :gross }

  - @settlements.each do |s|
    %tr
      %td.link= link_to "##{s.id}", "settlements/detailed_list?settlement_id=#{ s.id }"
      %td= l s.created_at, :format => :date_iso
      %td{ :class => 'br' }= s.user.login
      - @taxes.each do |t|
        %td= number_to_currency @report[s.id][t.id][:net]
      %td{ :class => 'br colsum' }= number_to_currency @report[s.id][:total_net]
      - @taxes.each do |t|
        %td= number_to_currency @report[s.id][t.id][:gro]
      %td{ :class => 'br colsum' }= number_to_currency @report[s.id][:total_gro]

  %tr
    %th{ :colspan => 3, :class => 'br sum' }= t('.sum_total')
    - @taxes.each do |t|
      %th{ :class => 'sum' }= number_to_currency @report[:tax_subtotal_net][t.id]
    %th{ :class => 'sum colsum br' }= number_to_currency @report[:subtotal_net]
    - @taxes.each do |t|
      %th{ :class => 'sum' }= number_to_currency @report[:tax_subtotal_gro][t.id]
    %th{ :class => 'sum colsum br' }= number_to_currency @report[:subtotal_net]
