%h2 Alle Abrechnungen

- col = 0
%table{ :class => 'settlements' }
  %tr
    %th{ :class => 'bb', :style => 'width:40px' }= t :settlement_abbr
    %th{ :class => 'bb' }= t :datum
    %th{ :class => 'br bb' }= t :user
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:60px' }== #{ tax.name }<br>#{ t :net }
    %th{ :class => 'br bb colsum', :style => 'width:90px' }== #{ t :sum }<br>#{ t :net }
    - @taxes.each do |tax|
      %th{ :class => 'bb', :style => 'width:60px' }== #{ tax.name }<br>#{t :gr} #{ number_to_percentage tax.percent }
    %th{ :class => 'br bb colsum', :style => 'width:90px' }== #{ t :sum }<br>#{ t :gr }
    %th{ :class => 'bb', :style => 'width:90px' }== #{ t :settlement_abbr }<br>#{ t :gr }
    %th{ :class => 'bb', :style => 'width:50px' }== #{ t :diff }<br>#{ t :gr }
  - total_net = Array.new(@taxes.size + 1) { 0 }
  - total_gro = Array.new(@taxes.size + 1) { 0 }
  - total_rev = 0
  - total_diff = 0
  - @settlements.each do |s|
    - s_net = Array.new(@taxes.size + 1) { 0 }
    - s_gro = Array.new(@taxes.size + 1) { 0 }
    - s.orders.each do |o|
      - o.items.each do |i|
        - s_gro[i.article.category.tax.id] += i.count * i.article.price if !i.free
    - @taxes.each do |tax|
      - s_net[tax.id] = s_gro[tax.id] / (1 + tax.percent/100.0)
      - total_net[tax.id] += s_net[tax.id].round(2)
      - total_gro[tax.id] += s_gro[tax.id] #.round(2) not neccessary
    %tr
      %td= link_to "##{s.id}", settlement_path(s)
      %td= l s.created_at, :format => :date_iso
      %td{ :class => 'br' }= s.user.login
      - @taxes.each do |tax|
        %td= number_with_precision s_net[tax.id]
      %td{ :class => 'br colsum' }= number_with_precision s_net.sum
      - @taxes.each do |tax|
        %td= number_with_precision s_gro[tax.id]
      %td{ :class => 'br colsum' }= number_with_precision s_gro.sum
      %td= number_with_precision rev = s.revenue
      %td= number_with_precision diff = s.revenue - s_gro.sum
      - total_rev += rev
      - total_diff += diff
  %tr
    %td{ :colspan => 3, :class => 'br sum' } Summen
    - @taxes.each do |tax|
      %td{ :class => 'sum' }= number_to_currency total_net[tax.id]
    %td{ :class => 'sum colsum br' }= number_to_currency total_net.sum
    - @taxes.each do |tax|
      %td{ :class => 'sum' }= number_to_currency total_gro[tax.id]
    %td{ :class => 'sum colsum br' }= number_to_currency total_gro.sum
    %td{ :class => 'sum' }= number_to_currency total_rev
    %td{ :class => 'sum' }= number_to_currency total_diff

    -#%td= link_to 'Bearbeiten', edit_user_settlement_path(settlement.user, settlement)
    -#%td= link_to 'Loeschen', se, :confirm => 'Sind Sie sicher?', :method => :delete
