%h2= t :settlements_menu

%h3 Offene
- @unsettled_users.each do |uu|
  %ul
    %li= link_to uu.login, new_user_settlement_path(uu)
    %ul
      - Order.find_all_by_user_id(uu.id, :conditions => { :settlement_id => nil, :finished => true } ).each do |uo|
        %li= link_to "Best. ##{uo.id}", order_path(uo)


- if @current_user.role >= 2
  %h3 Gesamtabrechnung
  
  - form_tag 'index' do
    = label('from', 'von')
    = select_date(@from, :prefix => 'from')
    = label('to', 'bis')
    = select_date(@to, :prefix => 'to')
    = submit_tag 'abfragen'
  
  %br
  
  
  - col = 0
  %table{ :class => 'settlements' }
    %tr
      %th{ :class => 'bb', :style => 'width:40px' }= t :settlement_abbr
      %th{ :class => 'bb' }= t :datum
      %th{ :class => 'br bb' }= t :user
      - @taxes.each do |tax|
        %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{ t :net }
      %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :net }
      - @taxes.each do |tax|
        %th{ :class => 'bb', :style => 'width:90px' }== #{ tax.name }<br>#{t :gr} #{ number_to_percentage tax.percent }
      %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }<br>#{ t :gr }
      %th{ :class => 'bb', :style => 'width:100px' }== #{ t :settlement_abbr }<br>#{ t :gr }
      %th{ :class => 'bb', :style => 'width:60px' }== #{ t :diff }<br>#{ t :gr }

    - total_net = Array.new(@taxes.size + 1) { 0 }
    - total_gro = Array.new(@taxes.size + 1) { 0 }
    - total_rev = 0
    - total_diff = 0

    - @settlements.each do |s|
      - s_net = Array.new(@taxes.size + 1) { 0 }
      - s_gro = Array.new(@taxes.size + 1) { 0 }
      - s.orders.each do |o|
        - o.items.each do |i|
          - price = @current_user.role >= 3 ? 0 : i.article.price
          - s_gro[i.article.category.tax.id] += i.count * price
      - @taxes.each do |tax|
        - s_net[tax.id] = s_gro[tax.id] / (1 + tax.percent/100.0)
        - total_net[tax.id] += s_net[tax.id].round(2)
        - total_gro[tax.id] += s_gro[tax.id] #.round(2) not neccessary

      %tr
        %td= link_to "##{s.id}", settlement_path(s)
        %td= l s.created_at, :format => :date_iso
        %td{ :class => 'br' }= s.user.login
        - @taxes.each do |tax|
          %td= number_to_currency s_net[tax.id]
        %td{ :class => 'br colsum' }= number_to_currency s_net.sum
        - @taxes.each do |tax|
          %td= number_to_currency s_gro[tax.id]
        %td{ :class => 'br colsum' }= number_to_currency s_gro.sum

        - rev = s.revenue
        - diff = s.revenue - s_gro.sum
        - total_rev += rev
        - total_diff += diff
        - rev = diff = total_rev = total_diff = 0 if @current_user.role >= 3

        %td= number_to_currency rev
        %td= number_to_currency diff

    %tr
      %td{ :colspan => 3, :class => 'br sum' } Summen
      - @taxes.each do |tax|
        %td{ :class => 'sum' }= number_to_currency total_net[tax.id]
      %td{ :class => 'sum colsum br' }= number_to_currency total_net.sum
      - @taxes.each do |tax|
        %td{ :class => 'sum' }= number_to_currency total_gro[tax.id]
      %td{ :class => 'sum colsum br' }= number_to_currency total_gro.sum
      %td{ :class => 'sum' }= number_to_currency total_rev
      %td{ :class => 'sum' }= number_to_currency total_diff
  
      -#%td= link_to 'Bearbeiten', edit_user_settlement_path(settlement.user, settlement)
      -#%td= link_to 'Loeschen', se, :confirm => 'Sind Sie sicher?', :method => :delete
