%table.detailed_list
  %tr
    %th{ :style => 'width:280px' }= Item.model_name.human
    %th{ :style => 'width:70px' }= t '.count'
    %th{ :style => 'width:50px' }= t '.unit_price'
    %th{ :style => 'width:50px' }= t '.total'
    %th{ :style => 'width:80px' }= t '.revenue'
  - total = 0
  - @orders.each do |so|
    - total += so.sum
    %tr
    %tr
      %td.order_begin{ :colspan => 6 }
        = t('.order_number_on_table_on_date', :order => Order.model_name.human, :number => so.nr, :table => so.table.name, :time => l(so.created_at, :format => :datetime_iso))
        %br
        == #{ User.model_name.human }: #{ so.user.title }
        %br
        == #{ CostCenter.model_name.human }: #{ so.cost_center.name if so.cost_center }
        %br
        = so.printed_from if so.printed_from
        %br
        = link_to t(:invoice), order_path(so)

      - so.items.existing.positioned.each do |item|
        %tr
          %td= item.quantity ? "#{ t(:refund) + ' ' if item.refunded }#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ t(:refund) + ' ' if item.refunded }#{ item.article.name } #{ item.comment }"
          %td.number= item.count
          %td.number= number_to_currency item.price
          %td.colsum= number_to_currency item.sum
        - item.option_items.each do |o|
          - next if o.price == 0
          %tr
            %td== #{ t(:refund) + ' ' if item.refunded }#{ o.name }
            %td.number= item.count
            %td.number= number_to_currency o.price
            %td.colsum= number_to_currency item.refunded ? 0 : item.count * o.price
    %tr
      %td.subtotal{ :colspan => 6 }= number_to_currency so.sum
        
  %tr.total
    %td.total{ :colspan => 6 }= number_to_currency total
