- cost_center_header_text = "(#{ CostCenter.model_name.human }: #{@selected_cost_center.name})" if @selected_cost_center
%h2== #{ t 'activerecord.models.settlement.other' } #{ cost_center_header_text }

= form_tag settlements_path, :method => :get do
  = submit_tag t(:display)
  = label 'from', t('.start_date'), :class => 'right'
  = select_date(@from, :prefix => 'from', :order => [:year, :month, :day])
  = label 'to', t('.end_date'), :class => 'right'
  = select_date(@to, :prefix => 'to', :order => [:year, :month, :day])

%table{ :class => 'settlements' }
  %tr
    %th{ :class => 'bb', :style => 'width:40px' }
    %th{ :class => 'bb', :style => 'width:40px' }
    %th{ :class => 'bb' }= t :dateandtime
    %th{ :class => 'br bb' }= User.model_name.human
    %th{ :class => 'br bb colsum', :style => 'width:100px' }== #{ t :sum }

  - if @settlements.any?
    - @settlements.reverse.each do |s|
      %tr
        %td.link= link_to "##{s.id}", "settlements/detailed_list?settlement_id=#{ s.id }"
        %td= link_to '', "/settlements/print/#{ s.id }", :class => 'print1_button_small', :remote => true
        %td= l s.created_at, :format => :date_iso
        %td{ :class => 'br' }= s.user.login
        %td= number_to_currency s.sum
    %tr
      %th{ :colspan => 4 }= t('.sum_total')
      %th{ :class => 'br sum' }= number_to_currency @settlements_sum
