%h4= t '.list_of_taxes'
%table.taxes
  %tr
    %th.left= Tax.model_name.human
    %th.left= Tax.human_attribute_name(:percent)
    %th.right_wide= t(:net)
    %th.right_wide= t(:tax_amount)
    %th.right_wide= t(:gross)
  - model.taxes.each do |k,v|
    %tr
      %td.left== (#{v[:l]}) #{v[:e]}
      %td.left= number_to_percentage v[:p]
      %td.right_wide= number_to_currency v[:n]
      %td.right_wide= number_to_currency v[:t]
      %td.right_wide= number_to_currency v[:g]
