- if mobile?
  %img#logo{ :src => "/images/logo-small.png" }

%div#login
  - form_tag session_path do
    %p
      = label_tag 'login', (t '.username')
      %select{ :name => 'login' }
        - @users.each do |u|
          %option{ :value => u.login }== #{ u.login } (#{ u.language })
    %p
      = label_tag 'password', (t '.password')
      = password_field_tag 'password', '', :size => 9


    - if request.remote_ip != '127.0.0.1' and request.remote_ip[0..2] != '192' and not mobile?
      %p
        = label_tag 'email', (t '.email')
        = text_field_tag 'email', params[:email]
      %p
        = label_tag 'realname', (t '.realname')
        = text_field_tag 'realname', params[:realname]
      %p{ :style => 'font-size: 10px;' }== #{t('.your_ip_address') }: #{ request.remote_ip } #{ Time.now }

    %p
      = submit_tag t('.login'), :class => 'submit'
