%div#login
  - form_tag session_path do
    %p
      = label_tag 'login', (t '.username')
      = select_tag 'login', options_from_collection_for_select(@users, 'login', 'login')
    %p
      = label_tag 'password', (t '.password')
      = password_field_tag 'password', '', :size => 9
    %p
      = submit_tag (t '.login'), :class => 'submit'
