- if workstation?
  .adminlinks
    = link_to( t(:exit), 'sessions/exit')

#login
  - if mobile?
    %img#logo{ :src => "/images/logo-small.png", :width => 200, :height => 77 }
  = form_tag '/session' do
    %p
      = label_tag 'password', (t '.password')
      = password_field_tag 'password', '', :size => 9, :class => 'qwerty ui-keyboard-input'
      %span#password_display_keyboard.display_keyboard
    %p= submit_tag t('.login'), :class => 'submit'

- if workstation?
  :javascript
    $('#password').keyboard( {openOn: '', position: { at: 'center bottom' }, accepted: function(){ $('#login form').submit(); } } );
    $('#password_display_keyboard').click(function(){  $('#password').getkeyboard().reveal();  } );

- if workstation? and not demo_variant?
  :javascript
    $('#password').getkeyboard().reveal();
