%div#login
  - form_tag session_path do
    = label_tag 'login', (t :login)
    = text_field_tag 'login'
    %br
    = label_tag 'password', (t :password)
    = password_field_tag 'password'
    %br
    = submit_tag (t :login)
