%h2= t('activerecord.models.role.other')

%p= link_to((t :new), new_role_path, :class => 'links')

%table
  %tr
    %th{:style => "width: 120px"}= Role.human_attribute_name :name
    %th{:style => "width: 100px; text-align: center"}= Role.human_attribute_name :weight
    %th= t "activerecord.models.user.other"
    %th
  %tr
  - @roles.each do |r|
    %tr
      %td= link_to r.name, edit_role_path(r), :class => "list_item"
      %td{:style => "text-align: center" }= r.weight
      %td= r.users.existing.collect { |u| u.login }.join(", ")
      %td
        - if @current_company.users.existing.where(:role_id => r.id).any?
          = image_tag 'button_small_delete.png'
        - else
          = link_to(image_tag('button_small_delete.png', :title => Role.human_attribute_name(:hidden), :alt => Role.human_attribute_name(:hidden), :style => "vertical-align:bottom;padding-top:5px;"), role_path(r), :method => :delete, :confirm => t(:are_you_sure))
