%h2= @role.new_record? ? (t '.new_role') : (t '.edit_role')

- if @role.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @role.errors.size, :model => Role.model_name.human
    %ul
      - @role.errors.full_messages.each do |msg|
        %li= msg

= form_for @role do |role_form|
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
  = role_form.text_field :name, :size => '20'
  %br
  = role_form.text_field :weight, :size => '5'
  %span#role_name_display_keyboard.display_keyboard
  %br
  %br
  %h3= t '.permissions'
  %br
  - permissions = ['take_orders','decrement_items','delete_items','cancel_all_items_in_active_order','finish_orders','split_items','move_tables','refund','assign_cost_center','assign_order_to_booking','move_order','manage_articles','manage_categories','manage_options','finish_all_settlements','finish_own_settlement','view_all_settlements','manage_business_invoice','manage_statistics','manage_users','manage_taxes','manage_cost_centers','manage_payment_methods','manage_tables','manage_vendors','counter_mode','see_item_notifications_user_preparation','see_item_notifications_user_delivery','see_item_notifications_vendor_preparation','see_item_notifications_vendor_delivery','see_item_notifications_static','manage_pages','manage_customers','see_debug','manage_hotel','manage_roles','item_scribe','assign_tables','download_database','remote_support','login_locking']
  
  - permissions.each do |p|
    %input{ :id => "permissions_#{p}", :type => 'checkbox', :name => 'role[permissions][]', :value => p, :checked => role_form.object.permissions.include?(p) }
    %label{ :for => "permissions_#{p}" }= t ".#{p}"
    %br

:javascript
  $('#role_name').keyboard( {openOn: '' } );
  $('#role_name_display_keyboard').click(function(){
    $('#role_name').getkeyboard().reveal();
  });
