%h2= @presentation.new_record? ? (t '.new_presentation') : (t '.edit_presentation')

- if @presentation.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @presentation.errors.size, :model => Presentation.model_name.human
    %ul
      - @presentation.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @presentation do |presentation_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), presentations_path, :class => 'links')
    .clear
    %table
      %tr
        %td= presentation_form.label 'name'
        %td
          = presentation_form.text_field :name
          %span#presentation_name_display_keyboard.display_keyboard
      %tr
        %td= presentation_form.label 'model'
        %td
          %select#presentation_model{ :name => 'presentation[model]' }
            = options_for_select(get_model_names.invert.to_a, presentation_form.object.model)
      %tr
        %td= presentation_form.label 'description'
        %td
          = presentation_form.text_field :description
          %span#presentation_description_display_keyboard.display_keyboard
      %tr
        %td= presentation_form.label 'markup'
        %td
          = presentation_form.text_area :markup
          %span#presentation_markup_display_keyboard.display_keyboard
      %tr
        %td= presentation_form.label 'active'
        %td= presentation_form.check_box :active

:javascript
  $('#presentation_name').keyboard( {openOn: '' } );
  $('#presentation_name_display_keyboard').click(function(){
    $('#presentation_name').getkeyboard().reveal();
  });

  $('#presentation_description').keyboard( {openOn: '' } );
  $('#presentation_description_display_keyboard').click(function(){
    $('#presentation_description').getkeyboard().reveal();
  });

  $('#presentation_code').keyboard( {openOn: '' } );
  $('#presentation_code_display_keyboard').click(function(){
    $('#presentation_code').getkeyboard().reveal();
  });
  
  $('#presentation_markup').keyboard( {openOn: '' } );
  $('#presentation_markup_display_keyboard').click(function(){
    $('#presentation_markup').getkeyboard().reveal();
  });
