/%p= t '.served_by_X', :user => booking.user.title
%p.floatright= l booking.created_at, :format => :long
%p== #{ Season.human_attribute_name :from_date } #{ l booking.from_date, :format => :date_iso} #{ Season.human_attribute_name :to_date } #{ l booking.to_date, :format => :date_iso} (#{ t'datetime.distance_in_words.x_days.other', :count => Integer(booking.duration) })
%p= booking.room.name

%table
  %tr
    %th.left= Tax.model_name.human
    %th.left= GuestType.model_name.human
    %th.left
    %th.left= Season.model_name.human
    %th.right= BookingItem.human_attribute_name :base_price
    %th.center= BookingItem.human_attribute_name :count
    %th.center= BookingItem.human_attribute_name :duration
    %th.right= BookingItem.human_attribute_name :sum

  - sum_taxes = Hash.new
  - @current_vendor.taxes.existing.each { |t| sum_taxes[t.id] = 0 }

  - booking.booking_items.existing.each do |item|
    %tr
      %td.left.narrow= item.tax_letters
      %td.left= item.guest_type.name if item.guest_type
      %td.left= item.invoice_label
      %td.left= item.season.name
      %td.right= number_to_currency item.unit_sum
      %td.center.narrow= item.count
      %td.center.narrow= item.duration
      %td.right= number_to_currency item.sum
    /- item.surcharge_items.each do |si|
    /  %tr
    /    %td.left= si.taxes.collect{ |k,v| v[:l]}.join(',')
    /    %td.left= item.guest_type.name if item.guest_type
    /    %td.left= si.surcharge.name
    /    %td.left= si.season.name
    /    %td.right= number_to_currency si.amount
    /    %td.center= item.count
    /    %td.center= item.duration
    /    %td.right= number_to_currency si.amount * item.count * item.duration
  %tr
    %td{ :colspan => 7 }= t :sum
    %td.right= number_to_currency booking.booking_item_sum
