%table.booking_totals
  %tr.total
    %td= Booking.model_name.human
    %td#booking_total
  - booking.orders.each do |o|
    %tr
      %td= "O#{ o.nr }"
      %td= number_to_currency o.sum
  %tr.subtotal
    %td= t 'various.subtotal'
    %td#booking_subtotal
