%h2= @season.new_record? ? (t '.new_season') : (t '.edit_season')

- if @season.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @season.errors.size, :model => Season.model_name.human
    %ul
      - @season.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @season do |season_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), seasons_path, :class => 'links')
    .clear
    %table
      %tr
        %td= season_form.label :name
        %td= season_form.text_field :name, :size => '20'
      %tr
        %td= season_form.label :from_date
        %td= season_form.date_select :from_date, :size => '20'
      %tr
        %td= season_form.label :to_date
        %td= season_form.date_select :to_date, :size => '20'
      %tr
        %td= season_form.label :color
        %td= season_form.text_field :color, :size => '20'

:javascript
  $("#season_color").colpick({
    onSubmit: function(hsb, hex, rgb, el, by_set_color) {
      $("#season_color").val("#" + hex);
    }
  });