:css
  div#partial_#{ partial.id } img { width: #{ partial.image_size || 0 }px; }
  div#partial_#{ partial.id } { color: #{ partial.color } }

.partial{ :id => "partial_#{ partial.id }", :style => "left: #{ partial.left }px; top: #{ partial.top }px", :left_orig => partial.left, :top_orig => partial.top }
  %span{ :style => "font-size: #{ partial.size }%; font-family: #{ partial.font };" }= raw markup
