%style= generate_tax_color_style
%h2= @tax.new_record? ? (t '.new_tax') : (t '.edit_tax')

- if @tax.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @tax.errors.size, :model => Tax.model_name.human
    %ul
      - @tax.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @tax do |tax_form|
    %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    %table
      %tr
        %td= tax_form.label('name',Tax.human_attribute_name(:name))
        %td
          - if @tax.new_record?
            = tax_form.text_field :name, :size => '20'
          - else
            = @tax.name
      %tr
        %td= tax_form.label('percent', Tax.human_attribute_name(:percent))
        %td= tax_form.text_field :percent, :size => '10'
      %tr
        %td= tax_form.label('percent', Tax.human_attribute_name(:letter))
        %td= tax_form.text_field :letter, :size => '10'
      %tr
        %td= tax_form.label('color', Tax.human_attribute_name(:color))
        %td
          %select#category_color{ :name => 'tax[color]' }
            = options_for_select(get_tax_colors.invert.to_a, tax_form.object.color)
