%style= generate_tax_color_style
%h2= @tax.new_record? ? (t '.new_tax') : (t '.edit_tax')

- disabled = @tax.articles.existing.any?

- if @tax.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @tax.errors.size, :model => Tax.model_name.human
    %ul
      - @tax.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @tax do |tax_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), taxes_path, :class => 'links')
    .clear
    %table
      %tr
        %td= tax_form.label :name
        %td= tax_form.text_field :name, :size => '20'
      %tr
        %td= tax_form.label :percent
        %td= tax_form.text_field :percent, :size => '10', :disabled => disabled
      %tr
        %td= tax_form.label :letter
        %td= tax_form.text_field :letter, :size => '10'
      %tr
        %td= tax_form.label :color
        %td
          %select#category_color{ :name => 'tax[color]' }
            = options_for_select(get_tax_colors.invert.to_a, tax_form.object.color)
      - if permit('settlement_statistics_taxes')
        %tr
          %td= tax_form.label :include_in_statistics
          %td= tax_form.check_box :include_in_statistics
      - if permit('settlement_statistics_taxes_categories')
        %tr
          %td= tax_form.label :statistics_by_category
          %td= tax_form.check_box :statistics_by_category