%h2= t('activerecord.models.tenmplate.other')

%p= link_to((t :new), new_presentation_path, :class => 'links')

%table
  %tr
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:150px' }= Presentation.human_attribute_name(:name)
    %th{ :style => 'width:100px' }= Presentation.human_attribute_name(:model)
  - @presentations.each do |p|
    %tr
      %td= link_to p.name, edit_presentation_path(p)
      %td= p.model
      %td= link_to Presentation.human_attribute_name(:hidden), presentation_path(p), :method => :delete, :confirm => t(:are_you_sure)
