- @found_articles.each do |ar|
  %li{ :id => "source_#{ar.id}" }
    %img{ :id => "handle_for_article_#{ar.id}", :src => '/images/drag_handle.png', :style => 'cursor:move;' }
    = link_to ar.name, edit_article_path(ar)
    %br
    == (#{ar.quantities.existing.empty? ? number_to_currency(ar.price) : "#{ar.quantities.existing.size} #{t '.variants', :count => ar.quantities.existing.size }"})
    %script== $('#source_#{ar.id}').draggable({ handle: 'handle_for_article_#{ar.id}', revert: true });
