-# The generated HTML code of this partial is inserted into the JS code of the add_quantity_link helper
-# Note that the statement 'quantity' represents the name of this partial

- frm.fields_for :quantities, quantity do |f|
  - quantitynumber = /article\[quantities_attributes\]\[(.*)\]/.match(f.object_name)[1]
  %td= f.label :prefix, Quantity.human_attribute_name(:prefix)
  %td= f.text_field :prefix, :class => 'prefix'
  %td= f.label :postfix, Quantity.human_attribute_name(:postfix)
  %td= f.text_field :postfix, :class => 'postfix'
  %td= f.label :price, Quantity.human_attribute_name(:price)
  %td= f.text_field :price, :class => 'price'
  %td= f.label :usage, Quantity.human_attribute_name(:usage)
  %td
    %select{ :id => "article_quantities_attributes_#{ quantitynumber }_usage", :name => "article[quantities_attributes][#{ quantitynumber }][usage]" }
      %option{ :value => 0, :selected => f.object.usage == 0 } normal
      %option{ :value => 1, :selected => f.object.usage == 1 } mitnehmen
      %option{ :value => 2, :selected => f.object.usage == 2 } abwiegen
