-# The generated HTML code of this partial is inserted into the JS code of the add_quantity_link helper
-# Note that the statement 'quantity' represents the name of this partial

- frm.fields_for :quantities, quantity do |f|
  %td= f.label :prefix, Quantity.human_attribute_name(:prefix)
  %td= f.text_field :prefix, :class => 'prefix'
  %td= f.label :postfix, Quantity.human_attribute_name(:postfix)
  %td= f.text_field :postfix, :class => 'postfix'
  %td= f.label :price, Quantity.human_attribute_name(:price)
  %td= f.text_field :price, :class => 'price'
  %td= f.label :usage, Quantity.human_attribute_name(:usage)
  %td= select_tag 'usage', '<option value=0>normal</option><option value=1>mitnehmen</option>', :selected => f.object.usage
