- @categories.each do |ca|
  - articles = ca.articles.send "find_in_#{scope}".to_sym
  - if !articles.empty?
    %p.category_title= ca.name
    %ul
      - articles.each do |ar|
        %li{ :id => "#{scope}_#{ar.id}" }
          %img{ :id => "handle_for_#{scope}_article_#{ar.id}", :src => 'images/drag_handle.png', :style => 'cursor:move' }
          = link_to ar.name, edit_article_path(ar)
          %script== $('##{scope}_#{ar.id}').draggable({handle: 'handle_for_#{scope}_article_#{ar.id}', revert: true});
