var articleslist = new Array();

<%- @categories.each do |cat| %>
  articleslist[<%= cat.id %>] = "<%- cat.articles.find_in_menucard.each do |art|
        onclickaction = art.quantities.empty? ? "add_new_item_a(#{ art.id }, this, enter_price);" : "display_quantities(#{ art.id });"
        onmousedownaction = art.quantities.empty? ? "articles_onmousedown(this);" : ""
        image = "<img class='more' src='/images/more.png'>" if not art.quantities.empty?
  %><div id='article_<%= art.id %>' class='article' onclick='<%= onclickaction %>' onmousedown='<%= onmousedownaction %>'><%= art.name %> <%= raw image %></div><div id='article_<%= art.id %>_quantities'></div><% end %>"
<% end %>



var quantitylist = new Array();

<%- @categories.each do |cat| %>
  <%- cat.articles.find_in_menucard.each do |art| %>
    <%- next if art.quantities.empty? %>
    quantitylist[<%= art.id %>] = "<%- art.quantities.active_and_sorted.each do |qu| %><div id='quantity_<%= qu.id %>' class='quantity' onmousedown='quantities_onmousedown(this);' onclick='add_new_item_q(<%= qu.id %>, this);'><%= qu.prefix %> <%= qu.postfix %></div><%- end %>"
  <%- end %>
<%- end %>



var itemdetails_q = new Array();

<%- @categories.each do |cat| %>
  <%- cat.articles.find_in_menucard.each do |art| %>
    <%- art.quantities.each do |qu| %>
      itemdetails_q[<%= qu.id %>] = new Array( '<%= qu.article.id %>', '<%= escape_javascript qu.article.name %>', '<%= escape_javascript qu.prefix %>', '<%= qu.price %>', '<%= escape_javascript qu.article.description %>', '<%= escape_javascript qu.prefix %> <%= escape_javascript qu.article.name %> <%= escape_javascript qu.postfix %>', '<%= cat.id %>', '<%= qu.usage %>');
    <%- end %>
  <%- end %>
<%- end %>
    

var itemdetails_a = new Array();
<%- @categories.each do |cat| %>
  <%- cat.articles.find_in_menucard.each do |art| %>
    itemdetails_a[<%= art.id %>] = new Array( '<%= art.id %>', '<%= escape_javascript art.name %>', '<%= escape_javascript art.name %>', '<%= art.price %>', '<%= escape_javascript art.description %>', '<%= escape_javascript art.name %>', '<%= cat.id %>', '<%= art.usage %>');
  <%- end %>
<%- end %>


var optionsselect = new Array();

<%- @categories.each do |cat| %>
  <%- next if cat.options.empty? %>
    optionsselect[<%= cat.id %>] = "<%- cat.options.each do |opt| %><option value='<%= opt.id %>'><%= escape_javascript opt.name %></option><%- end %>"
<%- end %>
