<h1>Alle Artikel</h1>
<%= link_to 'Neuen Artikel hinzufuegen', new_article_path %>
<% for ca in @categories %>
  <h2><%= ca.name %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Preis</th>
    </tr>
    <% for ar in ca.articles %>
      <tr>
        <td><%= ar.name %></td>
        <td><%= ar.price %></td>
        <td><%= link_to 'Bearbeiten', edit_article_path(ar) %></td>
        <td><%= link_to 'Loeschen', ar, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% end %>
