%h2= t :articles

%span= link_to((t :new), new_article_path) if @current_user.role >= 2
%span= link_to('Vereinfachte Eingabe Speisen', new_foods_articles_path) if @current_user.role >= 2

%table{ :valign => 'top' }
  %tr
    %td{ :style => 'width:300px;vertical-align:top' }
      %fieldset#drop_remove
        = drop_receiving_element :drop_remove, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=remove'"
        %legend Alle Artikel
        = label_tag 'article_name', 'Suchbegriff'
        = text_field_tag 'article_name'
        = observe_field 'article_name', :frequency => 0.5, :update => 'articles_search_results', :url => { :action => 'find_articles' }, :with => "'articles_search_text=' + escape(value)", :loading => "document.getElementById('search_spinner_#{@id}').style.display='inline'", :loaded => "document.getElementById('search_spinner_#{@id}').style.display='none'"
        %ul#articles_search_results{ :style => 'list-style-type:none' }
          = render 'articles_search_results'


    %td
      %fieldset#drop_add_to_menucard
        %legend Menuekarte
        = link_to 'Druckansicht', :controller => 'menucard'
        = render 'menucard_list'
        = drop_receiving_element :drop_add_to_menucard, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=add_to_menucard'"

    %td
      %fieldset#drop_add_to_waiterpad
        %legend Bestellblock
        = link_to 'Druckansicht', :controller => 'waiterpad'
        = render 'waiterpad_list'
        = drop_receiving_element :drop_add_to_waiterpad, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=add_to_waiterpad'"

    %td
      %fieldset#drop_add_to_blackboard
        %legend Online Tafel
        = link_to 'Online Ansicht', :controller => 'blackboard'
        = render 'blackboard_list'
        = drop_receiving_element :drop_add_to_blackboard, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=add_to_blackboard'"
