%h2= t('activerecord.models.article.other')

= link_to (t :new), new_article_path, :class => 'links'

= link_to (t '.list_all'), listall_articles_path, :class => 'links'

%table.articles
  %tr
    %td#drop_remove{ :colspan => 2 }
      = text_field_tag 'article_name', '', :onclick => 'enable_articles_search = true;', :onkeypress => 'enable_articles_search = true;'
      %span#article_name_display_keyboard.display_keyboard
      %ul#search_results
  %tr
    - @scopes.each do |scope|
      %td{ :id => "drop_add_to_#{scope}" }
        %script== $('#drop_add_to_#{scope}').droppable({ hoverclass: 'receiving', drop: function(event,ui){ $.ajax({ type: 'POST', url: 'articles/change_scope', data: 'scope=#{scope}&id=' + ui.draggable.attr('id') })}});
        %span.scope_title= t "#{scope}_generic_name".to_sym
        = link_to t('.preview'), { :controller => scope }, :class => 'scopelink'
        %div.scope_list{ :id => "#{scope}_list" }= render :partial => 'scope_list', :locals => { :scope => scope }

= javascript_include_tag 'articles-index.js'
