%h2= t('activerecord.models.article.other')

- if @current_user.role >= 1
  =link_to((t :new), new_article_path, :class => 'links')
  =link_to((t '.quick_food_article_creation'), quick_foods_articles_path, :class => 'links')

=link_to((t '.list_all'), listall_articles_path, :class => 'links')

%table.articles
  %tr
    %td#drop_remove
      = drop_receiving_element :drop_remove, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=remove'"
      = text_field_tag 'article_name', t('.search_term'), :onclick => 'this.value="";'
      = observe_field 'article_name', :frequency => 2, :update => 'articles_search_results', :url => { :action => 'find_articles' }, :with => "'articles_search_text=' + escape(value)", :loading => "document.getElementById('search_spinner_#{@id}').style.display='inline'", :loaded => "document.getElementById('search_spinner_#{@id}').style.display='none'"
      %ul#articles_search_results
        = render 'articles_search_results'
    
    - @scopes.each do |@scope|
      %td{ :id => "drop_add_to_#{@scope}" }
        %span.scope_title= t "#{@scope}_generic_name".to_sym
        = link_to t('.preview'), { :controller => @scope }, :class => 'scopelink'
        %div{ :id => "#{@scope}_list" }
          = render 'list', :locals => { :scope => @scope }
        = drop_receiving_element "drop_add_to_#{@scope}", :hoverclass => 'receiving', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=add_to_#{@scope}'"
