%h2= t :articles_menu

- if @current_user.role >= 1
  %a.links{ :href => new_article_path} t :new 
  //%a.links{ :href => new_foods_articles_path} t :create_a_series_of_foods), new_foods_articles_path)
%a.links{ :href => listall_articles_path} t :all_articles 

%table.articles
  %tr
    %td#drop_remove
      = drop_receiving_element :drop_remove, :hoverclass => 'hover', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=remove'"
      = text_field_tag 'article_name', t(:search_term)
      = observe_field 'article_name', :frequency => 1, :update => 'articles_search_results', :url => { :action => 'find_articles' }, :with => "'articles_search_text=' + escape(value)", :loading => "document.getElementById('search_spinner_#{@id}').style.display='inline'", :loaded => "document.getElementById('search_spinner_#{@id}').style.display='none'"
      %ul#articles_search_results
        = render 'articles_search_results'
    
    - @scopes.each do |@scope|
      %td{ :id => "drop_add_to_#{@scope}" }
        %span.scope_title= t @scope.to_sym
        = link_to t(:print_preview), { :controller => @scope }, :class => 'scopelink'
        %div{ :id => "#{@scope}_list" }
          = render 'list', :locals => { :scope => @scope }
        = drop_receiving_element "drop_add_to_#{@scope}", :hoverclass => 'receiving', :url => { :action => 'update' }, :with => "'id=' + element.id + '&drop_action=add_to_#{@scope}'"
