%h2= t '.all_articles'

%table
  %tr
    %th{ :width => '250px' }
    %th{ :width => '250px' }
    %th{ :width => '80px' }
    %th{ :width => '50px' }
  - @articles.each do |ar|
    %tr
      - label = ar.quantities.collect { |qu| "#{ qu.name}, " }
      - if @current_user.role >= 2
        %td== #{ link_to(ar.name, edit_article_path(ar)) } #{ label }
      - else
        %td= label
      
      %td= ar.description
      %td= number_to_currency ar.price
      %td= link_to ((t :delete), ar, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3
