%h2= @article.new_record? ? (t :new_article) : (t :edit_article)
= error_messages_for 'article'

%table
  %tr
    %td
      - form_for @article do |article_form|
        %fieldset{ :style => 'width:350px' }
          %legend= t :article
          %table
            %tr
              %td{ :style => 'width:130px;' }
                = article_form.label( 'name', "#{t :name}*")
              %td{ :style => 'width:130px;' }
                = article_form.text_field :name
              %td{ :style => 'width:130px;' }
                %img{ :id => 'spinner', :src => '/images/ajax-loader.gif', :style => 'display:none;' }
            %tr
              %td
                = article_form.label('description', (t :description))
              %td
                = article_form.text_field :description
            %tr
              %td
                = article_form.label('price', "#{ t :price }*")
              %td
                = @article.new_record? ? article_form.text_field( :price, :size => 6 ) : article_form.text_field( :price, :size => 6, :readonly => 'readonly', :style => 'background-color: #EEE')
            %tr
              %td
                = article_form.label('category_id', "#{ t :category }*")
              %td
                = article_form.collection_select :category_id, Category.find(:all), :id, :name, { :include_blank => true }
            %tr
              %td
                = article_form.label('menucard', (t :menucard))
              %td
                = article_form.check_box :menucard
            %tr
              %td
                = article_form.label('blackboard', (t :blackboard))
              %td
                = article_form.check_box :blackboard
            %tr
              %td
                = article_form.label('waiterpad', (t :waiterpad))
              %td
                = article_form.check_box :waiterpad
            %tr
              %td{ :colspan => '2' }


        %fieldset{ :style => 'width:350px' }
          %legend Varianten
          %table{ :id => 'quantities' }

            - article_form.fields_for :quantities do |quantity_form|
              %tr
                %td
                  = quantity_form.label :name, (t :name)
                %td
                  = quantity_form.text_field :name, :size => '7'
                %td
                  = quantity_form.label :price, (t :price)
                %td
                  = quantity_form.text_field( :price, :price => '4', :readonly => 'readonly', :style => 'background-color: #EEE')
                %td
                  = quantity_form.label('active', (t :active))
                %td
                  = quantity_form.check_box :active


                - if @current_user.role > 4
                  %td
                    = quantity_form.label('_delete', (t :delete))
                  %td
                    = quantity_form.check_box :_delete

          %p
            %small= add_quantity_link((t :add_quantity), article_form)





        %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )

        = observe_field 'article_name', :frequency => 0.5, :update => 'foods_search_results', :url => { :action => 'find_foods' }, :with => "'foods_search_text=' + escape(value)", :loading => "document.getElementById('spinner').style.display='inline'", :loaded => "document.getElementById('spinner').style.display='none'"

      %td
        %p#foods_search_results
