%h2= @article.new_record? ? (t '.new_article') : (t '.edit_article')
= error_messages_for 'article'

- form_for @article do |article_form|
  %table.article_new
    %tr
      %td
        %table
          %tr
            %td.labels
              = article_form.label( 'name', Article.human_attribute_name(:name))
            %td.input_fields
              = article_form.text_field :name
            %td.spinner
              %img{ :id => 'spinner', :src => '/images/ajax-loader.gif', :style => 'display:none;' }
          %tr
            %td
              = article_form.label('description', Article.human_attribute_name(:description))
            %td
              = article_form.text_field :description
          - if article_form.object.quantities.empty?    
            %tr
              %td
                = article_form.label('price', Article.human_attribute_name(:price))
              %td
                = @article.new_record? or @article.price.nil? ? article_form.text_field( :price, :size => 6 ) : article_form.text_field( :price, :size => 6, :readonly => 'readonly', :style => 'background-color: #DDD')

          %tr
            %td
              = article_form.label('category_id', Article.human_attribute_name(:category))
            %td
              = article_form.collection_select :category_id, Category.find(:all), :id, :name, { :include_blank => true }
          %tr
            %td
              = article_form.label('menucard', Article.human_attribute_name(:menucard))
            %td
              = article_form.check_box :menucard
          %tr
            %td
              = article_form.label('hidden', Article.human_attribute_name(:hidden))
            %td
              = article_form.check_box :hidden
          %tr
            %td{ :colspan => '2' }
      %td#articles_search_results



  %h3= t('activerecord.models.quantity.other')
  %table#quantities_new
    - article_form.fields_for :quantities do |quantity_form|
      %tr
        %td
          = quantity_form.label :prefix, Quantity.human_attribute_name(:prefix)
        %td
          = quantity_form.text_field :prefix, :class => 'prefix'
        %td
          = quantity_form.label :postfix, Quantity.human_attribute_name(:postfix)
        %td
          = quantity_form.text_field :postfix, :class => 'postfix'
        %td
          = quantity_form.label :price, Quantity.human_attribute_name(:price)
        %td
          = @article.new_record? ? quantity_form.text_field(:price, :class => 'price') : quantity_form.text_field(:price, :readonly => 'readonly', :style => 'background-color: #DDD', :class => 'price')
        %td
          = quantity_form.label('active', Quantity.human_attribute_name(:active))
        %td
          = quantity_form.check_box :active
        %td
          = quantity_form.label('hidden', Quantity.human_attribute_name(:hidden))
        %td
          = quantity_form.check_box :hidden


        - if @current_user.role > 4
          %td
            = quantity_form.label('_destroy', (t :destroy))
          %td
            = quantity_form.check_box :_destroy

  %p
    %small= add_quantity_link((t '.add_quantity'), article_form)

  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )

  = observe_field 'article_name', :frequency => 2, :update => 'articles_search_results', :url => { :action => 'find_articles' }, :with => "'articles_search_text=' + escape(value)", :loading => "document.getElementById('spinner').style.display='inline'", :loaded => "document.getElementById('spinner').style.display='none'"
