%h2= @article.new_record? ? (t '.new_article') : (t '.edit_article')

- if @article.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @article.errors.size, :model => Article.model_name.human
    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg

= form_for @article do |article_form|
  %div.article_new
    %div.search_results
      %ul#search_results
    %div
      %span.label_width= article_form.label( 'name', Article.human_attribute_name(:name))
      %span.input_fields
        = article_form.text_field :name, :onkeypress => 'enable_articles_search = true;', :onchange => 'enable_articles_search = true;'
        %span#article_name_display_keyboard.display_keyboard
        %span.spinner
          %img{ :id => 'spinner', :src => '/images/ajax-loader.gif', :style => 'display:none;' }
    %div
      %span.label_width= article_form.label('description', Article.human_attribute_name(:description))
      %span.input_fields
        = article_form.text_field :description
        %span#article_description_display_keyboard.display_keyboard

    - if not @article.quantities.existing.any?
      %div
        %span.label_width= article_form.label('price', Article.human_attribute_name(:price))
        %span.input_fields
          = article_form.text_field( :price, :size => 6 )
          %span#article_price_display_keyboard.display_keyboard

    %div
      %span.label_width= article_form.label('category_id', Article.human_attribute_name(:category))
      %span.input_fields
        = article_form.collection_select :category_id, Category.find(:all), :id, :name, { :include_blank => true }
    %div
      %span.label_width= article_form.label :usage, Quantity.human_attribute_name(:usage)
      %span.input_fields
        %select{ :id => "article_usage", :name => "article[usage]" }
          %option{ :value => 0, :selected => article_form.object.usage == 0 }= t '.normal'
          %option{ :value => 1, :selected => article_form.object.usage == 1 }= t '.takeaway'

    %div
      %span.label_width= article_form.label('menucard', Article.human_attribute_name(:menucard))
      %span.input_fields= article_form.check_box :menucard
    %div
      = link_to Article.human_attribute_name(:hidden), article_path(article_form.object), :method => :delete, :confirm => t(:are_you_sure), :class => 'delete'


  %div.add_quantity
    %a#add_quantity= t '.add_quantity'

  %ul#quantities_new
    = article_form.fields_for :quantities, article_form.object.quantities do |quantity_form|
      = render :partial => 'quantity', :locals => { :f => quantity_form }

  %script== var quantity_template = '#{ generate_template(article_form, :quantities) }'

  %div= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )

:javascript

  var enable_articles_search = false;

  window.setInterval(
    function() {
      if (enable_articles_search == true) {
        enable_articles_search = false;
        $.ajax({
          type: 'POST',
          url: '/articles/find',
          data: 'articles_search_text=' + $('#article_name').val()
        });
      }
    }
  , 2000);

  $('#article_name').keyboard( {openOn: '', accepted: function(){ enable_articles_search = true } } );
  $('#article_name_display_keyboard').click(function(){
    $('#article_name').getkeyboard().reveal();
  });

  $('#article_description').keyboard( {openOn: '' } );
  $('#article_description_display_keyboard').click(function(){
    $('#article_description').getkeyboard().reveal();
  });

  $('#article_price').keyboard( {openOn: '' } );
  $('#article_price_display_keyboard').click(function(){
    $('#article_price').getkeyboard().reveal();
  });

  $('#add_quantity').click(function(){
    var new_quantity_id = new Date().getTime();
    $('#quantities_new').append(quantity_template.replace(/NEW_RECORD/g, 'new_' + new_quantity_id));
    $('#article_quantities_attributes_new_' + new_quantity_id + '_prefix').keyboard( {openOn: '' } );
    $('#article_quantities_attributes_new_' + new_quantity_id + '_prefix_display_keyboard').click(function(){
      $('#article_quantities_attributes_new_' + new_quantity_id + '_prefix').getkeyboard().reveal();
    });
  });

  $(document).ready(function(){
    $('#quantities_new').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#quantities_new').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            //$('#quantities_new').effect('highlight', {}, 300);
          },
        url: '/quantities/sort'})
      }
    });
  });
