%h2= t '.quick_food_article_creation'

%p
  %span{ :id => 'foods_in_menucard' }== #{ t '.there_are_x_foods_active', :count => @foods_in_menucard } (#{ link_to ((t :menucard), '/menucard') })
%p= link_to( (t '.remove_all_foods_from_menucard'), 'remove_all_foods_from_menucard', :confirm => (t :are_you_sure))

%table
  %tr
    %td
      %table
        - @food_count.times do |c|
          %tr
            - @food_categories.each do |food_category|
              - @article = food_category[c]
              - @id = "#{@article.category_id}_#{c}"
              %td
                = render 'quick_foods_form'
    %td#foods_search_results{ :style => 'vertical-align: top' }
