%h2= t :waiterpad_generic_name

- 3.times do
  %table{ :class => 'waiterpad' }
    %tr.logo
      %td{ :colspan => 2 }
      %td{ :colspan => 2 }= Table.model_name.human
    %tr
      %th.borderright= Article.model_name.human
      %th.borderright= Article.human_attribute_name(:price)
      %th.borderright= t :count
      %th= t :sum

    - i = 0
    - @categories.each do |ca|
      - if !ca.articles.waiterpad.size.zero?
        - ca.articles.waiterpad.each do |ar|
          - i += 1
          %tr{ :valign => 'top' }
            %td.borderright.textleft= ar.name
            %td.borderright.textright= number_with_precision ar.price, :precision => 2
            %td.borderright
            %td
    - (23-i).times do
      %tr
        %td.borderright.textleft
        %td.borderright.textright
        %td.borderright
        %td

    %tr.sum
      %td{ :colspan => 2} SUMME
      %td{ :colspan => 2}

