= stylesheet_link_tag 'invoice_cc'
= stylesheet_link_tag 'invoice_cc', :media => 'print'

.vendor_details
  = image_tag @current_vendor.image 'invoice_logo'
  .clear
  = raw Kramdown::Document.new(@order.vendor.invoice_header_blurb).to_html if @order.vendor.invoice_header_blurb
.customer_details
  - if @order.note
    = @order.note
  - if @order.customer
    = @order.customer.company_name
    %br
    == #{ @order.customer.first_name } #{ @order.customer.last_name}
    %br
    = @order.customer.address
    %br
    == #{ @order.customer.postalcode } #{ @order.customer.city }
    %br
    = @order.customer.tax_info
    %br
    = @order.customer.telephone
  %p.show_paper_invoice_notes{:onclick => "$('#paper_invoice_notes').slideDown();"}== #{ t('.add_notes') } ∇
  %div#paper_invoice_notes{:style => "display:none;"}
    %input
    %br
    %input
    %br
    %input
    %br
    %input
    %br
    %input
    %br
    %input
.clear

%h1== #{ t 'invoice' } ##{ @order.nr }

%p.date= l(@order.finished_at + @order.vendor.time_offset.hours, :format => :datetime_iso)

= render :partial => 'invoice_item_list', :locals => { :order => @order }

= render :partial => '/shared/invoice_tax_list', :locals => { :model => @order }

- if @current_user.role.permissions.include? 'manage_payment_methods'
  %p= PaymentMethodItem.model_name.human
  %table.payment_methods
    %tr
      %th.left_wide= PaymentMethodItem.model_name.human
      %th.right_wide= PaymentMethodItem.human_attribute_name :amount
    - @order.payment_method_items.existing.each do |pm|
      - if not pm.refunded
        %tr
          %td.left_wide= pm.payment_method.name
          %td.right_wide= number_to_currency pm.amount
      - else
        %tr
          %td.left_wide== #{ t(:refund) } #{ pm.refund_item.article.name } #{pm.payment_method.name}
          %td.right_wide= number_to_currency pm.amount

.invoice_footer= raw Kramdown::Document.new(@order.vendor.invoice_footer_blurb).to_html if @order.vendor.invoice_footer_blurb