.limitby
  = link_to (t '.slideshow'), pages_path, :class => 'links'
  = link_to (t :new), new_page_path, :class => 'links'
  = link_to (t '.view'), page_path(@page), :class => 'links'
  = link_to (t :delete), page_path(@page), :method => :delete, :confirm => t(:are_you_sure), :class => 'links'

  - if @page.errors.any?
    .errors
      %h3= t 'activerecord.errors.template.header', :count => @page.errors.size, :model => Page.model_name.human
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  = form_for nest_image(@page), :html => { :multipart => true } do |page_form|
    %div
      = page_form.fields_for :images do |image_form|
        %span.label_width= page_form.label 'image'
        %span.input_fields
          = image_form.file_field :file_data, :size => 15
    %div
      %span.label_width= page_form.label 'width'
      %span.input_fields= page_form.text_field :width, :size => 4
    %div
      %span.label_width= page_form.label 'height'
      %span.input_fields= page_form.text_field :height, :size => 4
    %div
      %span.label_width= page_form.label 'color'
      %span.input_fields= page_form.text_field :color, :size => 4
    = submit_tag controller.action_name == 'new' ? t(:create) : t(:edit)
  
%table.page
  %tr
    %td
      - background = @page.image ? "background-image: url(#{@page.image});" : ''
      - color = @page.color ? "background-color: #{ @page.color }" : ''
      .page{ :id => "page_#{ @page.id }", :style => "width: #{ @page.width }px; height: #{ @page.height }px; #{ background } #{ color }; display: block;" }
        = render :partial => 'page', :locals => { :page => @page, :partial_htmls => @partial_htmls }
        
    %td#remove
      = text_field_tag 'search_text', t('articles.index.search_term'), :onclick => 'this.value = "";', :onkeypress => 'enable_articles_search = true;'
      %span#search_text_display_keyboard.display_keyboard
      %ul#search_results

        
:javascript
  $("#page_#{ @page.id }").droppable({
    hoverClass: 'hover',
    drop: function(event,ui){
    console.log("Here");
      if (ui.draggable.attr('type') == 'partial') {
        $.ajax({
          type: 'PUT',
          url: '/partials/' + ui.draggable.attr('partial_id'),
          data: '&partial[left]=' + ui.draggable.position().left + '&partial[top]=' + ui.draggable.position().top
        });
      } else {
        $.ajax({
          type: 'POST',
          url: '/partials/',
          data: 'model_id=' + ui.draggable.attr('model_id') + '&page_id=#{ @page.id }&model=' + ui.draggable.attr('model') + '&type=' + ui.draggable.attr('type') + '&partial[left]=' + ui.draggable.position().left + '&partial[top]=' + ui.draggable.position().top
        });
      }
    }          
  });
