= link_to User.model_name.human, users_statistics_path, :class => 'links'
= link_to t('statistics.weekdays'), weekdays_statistics_path, :class => 'links'
= link_to Table.model_name.human, tables_statistics_path, :class => 'links'
= link_to Article.model_name.human, articles_statistics_path, :class => 'links', :onclick => 'alert("Dieser Vorgang dauert etwa eine halbe Minute und blockiert das System für diesen Zeitraum! Bitte warten, bis Artikel angezeigt werden.")'
= link_to t('statistics.journal'), journal_statistics_path, :class => 'links'
