= link_to 'Tische', '/statistics/tables'
= link_to 'Wochentage', '/statistics/weekdays'
= link_to 'Kellner', '/statistics/users'
= link_to 'Artikel', '/statistics/articles'
= link_to 'Journal', '/statistics/journal'
