%h2== #{ t 'statistic' } #{ t 'activerecord.models.user.other' }

= render 'menu'

= form_tag '/statistics/users' do
  = render 'date_form'

%table
  %tr
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:100px' }
  - @users.each do |u|
    %tr
      %td= u.login
      %td= number_to_currency Order.sum( 'sum', :conditions => { :user_id => u.id, :created_at => @from..@to })
