%h2== #{ t 'statistic' } #{ t 'statistics.weekdays' }

= render 'menu'

- form_tag '/statistics/weekdays' do
  = render 'date_form'

%table
  %tr
    %th{ :width => '100px' }
    %th{ :width => '100px' }
  - 0.upto 6 do |day|
    %tr
      %td= (t 'date.day_names')[day==6 ? 0 : day+1]
      %td= number_to_currency @weekdaysums[day]
