- id = /vendor\[vendor_printers_attributes\]\[(.*)\]/.match(f.object_name)[1]

.vendor_printer_form{ :id => "vendor_printer_#{ id }" }
  %h3= f.object.name
  
  = f.label :name, :class => 'narrow'
  = f.text_field :name, :size => 9
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_name_display_keyboard" }

  %br
  = f.label :path, :class => 'narrow'
  = f.text_field :path, :size => 9
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_path_display_keyboard" }

  %br
  = f.label :print_button_filename, :class => 'narrow'
  %select#print_button_filename{ :name => "vendor[vendor_printers_attributes][#{ id }][print_button_filename]" }
    %option
    = options_for_select get_print_button_filename_array, f.object.print_button_filename

  %br
  = f.label :copies, :class => 'narrow'
  = f.text_field :copies, :size => 1
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_copies_display_keyboard" }

  %br
  = f.label :codepage, :class => 'narrow'
  = f.text_field :codepage, :size => 1
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_codepage_display_keyboard" }

  %br
  = f.label :baudrate, :class => 'narrow'
  = f.text_field :baudrate, :size => 5
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_baudrate_display_keyboard" }

  %br
  = f.label :ticket_ad, :class => 'narrow'
  = f.text_field :ticket_ad, :size => 9
  %span.display_keyboard{ :id => "vendor_vendor_printers_attributes_#{ id }_ticket_ad_display_keyboard" }

  %br
  = f.label :pulse_receipt, :class => 'narrow'
  = f.check_box :pulse_receipt

  %br
  = f.label :pulse_tickets, :class => 'narrow'
  = f.check_box :pulse_tickets
  
  %br
  = f.label :cut_every_ticket, :class => 'narrow'
  = f.check_box :cut_every_ticket
  
  %br
  = f.label :one_ticket_per_piece, :class => 'narrow'
  = f.check_box :one_ticket_per_piece

  %br
  - unless f.object.new_record?
    %span.link{ :onclick => "$('#vendor_vendor_printers_attributes_#{ id }_hidden').val(1); $('#vendor_printer_#{ id }').hide();" }= image_tag('button_small_delete.png', :title => VendorPrinter.human_attribute_name(:hidden), :alt => VendorPrinter.human_attribute_name(:hidden))

    = f.hidden_field :hidden
    %br
  %br
  
- if @current_user.onscreen_keyboard_enabled
  :javascript
    $('#vendor_vendor_printers_attributes_#{ id }_name').keyboard( {openOn: '' } );
    $('#vendor_vendor_printers_attributes_#{ id }_name_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_name').getkeyboard().reveal(); });
    
    $('#vendor_vendor_printers_attributes_#{ id }_path').keyboard( {openOn: '' } );
    $('#vendor_vendor_printers_attributes_#{ id }_path_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_path').getkeyboard().reveal(); });
    
    $('#vendor_vendor_printers_attributes_#{ id }_copies').keyboard( {openOn: '', layout:'num' } );
    $('#vendor_vendor_printers_attributes_#{ id }_copies_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_copies').getkeyboard().reveal(); });
    
    $('#vendor_vendor_printers_attributes_#{ id }_codepage').keyboard( {openOn: '', layout:'num' } );
    $('#vendor_vendor_printers_attributes_#{ id }_codepage_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_codepage').getkeyboard().reveal(); });
    
    $('#vendor_vendor_printers_attributes_#{ id }_baudrate').keyboard( {openOn: '', layout:'num' } );
    $('#vendor_vendor_printers_attributes_#{ id }_baudrate_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_baudrate').getkeyboard().reveal(); });

    $('#vendor_vendor_printers_attributes_#{ id }_ticket_ad').keyboard( {openOn: '' } );
    $('#vendor_vendor_printers_attributes_#{ id }_ticket_ad_display_keyboard').click(function(){ $('#vendor_vendor_printers_attributes_#{ id }_ticket_ad').getkeyboard().reveal(); });