%h2= t('activerecord.models.item.other')

%table
  %tr
    %th{ :width => '100px' }
    %th{ :width => '200px' }
    %th{ :width => '120px' }
    %th{ :width => '120px' }
  - @unprinted_items.each do |ui|
    - next if ui.article.category.tax.percent != 10 # This is ugly but works for now
    %tr
      %td= ui.order.user.title
      %td= ui.order.table.name
      %td= ui.count
      %td= ui.article.name.upcase
