%p= t '.served_by_X', :user => booking.user.title
%p= l booking.created_at, :format => :long

%table
  %tr
    %th.left= Tax.model_name.human
    %th.left= GuestType.model_name.human
    %th.left
    %th.left= Season.model_name.human
    %th.right= BookingItem.human_attribute_name :base_price
    %th.right= BookingItem.human_attribute_name :count
    %th.right= BookingItem.human_attribute_name :sum

  - sum_taxes = Hash.new
  - @current_vendor.taxes.existing.each { |t| sum_taxes[t.id] = 0 }

  - booking.booking_items.existing.each do |item|
    - if item.guest_type
      %tr
        %td.left= item.guest_type.taxes.collect{ |t| t.letter }.join(',')
        %td.left= item.guest_type.name
        %td.left= item.booking.room.room_type.name
        %td.left= item.booking.season.name
        %td.right= number_to_currency item.base_price
        %td.center= item.count
        %td.right= number_to_currency item.base_price * item.count
    - item.surcharge_items.each do |si|
      %tr
        %td.left= si.taxes.collect{ |k,v| v[:letter]}.join(',')
        %td.left= item.guest_type.name if item.guest_type
        %td.left= si.surcharge.name
        %td.left= si.season.name
        %td.right= number_to_currency si.amount
        %td.center= item.count
        %td.right= number_to_currency si.amount * item.count
  %tr
    %td{ :colspan => 6 }= t :sum
    %td.right= number_to_currency booking.sum
