= form_tag 'by_nr', :id => 'search_by_nr' do
  = text_field_tag 'nr', t('.search_by_number')
  %span#nr_display_keyboard.display_keyboard

%div#buttons
  - if local_variant?
    - i = 0
    - @current_vendor.vendor_printers.existing.each do |p|
      - i += 1
      = link_to('', "/orders/update_ajax?id=#{ @booking.id }&printer=#{ p.id }&currentview=show", :class => "iconbutton printinvoice#{ i }_button", :title => "#{ t(:print) } #{ p.name }", :remote => true)
  - else
    = link_to '', "update_ajax?id=#{ @booking.id }&currentview=show", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t(:print)
  %a.iconbutton.print2_button{ :onclick => "window.print()", :title => (t '.print_business_invoice') }
  %a.iconbutton.tables_button{ :href => '/orders', :title => t(:go_back) }
  = link_to '', "/orders/storno/#{@booking.id}", :class => 'iconbutton refund_button', :title => t(:storno)
  %a.iconbutton.previous_button{ :href => order_path(@previous_order), :title => (t '.previous_invoice') }
  %a.iconbutton.next_button{ :href => order_path(@next_order), :title => (t '.next_invoice') }

.paper_invoice
  .vendor_details
    = raw Kramdown::Document.new(@booking.vendor.invoice_header_blurb).to_html
  .customer_details
    - if @booking.customer
      = @booking.customer.company_name
      %br
      == #{ @booking.customer.first_name } #{ @booking.customer.last_name}
      %br
      = @booking.customer.address
      %br
      == #{ @booking.customer.postalcode } #{ @booking.customer.city }
  .clear

  %h1== #{ t 'invoice' } #B#{ @booking.nr }
  
  %p= t 'served_by_X', :user => @booking.user.title
  %p= l @booking.created_at, :format => :long
  
  
  %table
    %tr
      %th.left= GuestType.model_name.human
      %th.left= RoomType.model_name.human
      %th.left= Season.model_name.human
      %th.right= BookingItem.human_attribute_name :base_price
      %th.right= BookingItem.human_attribute_name :count
      %th.right= BookingItem.human_attribute_name :sum
  
    - sum_taxes = Hash.new
    - @current_vendor.taxes.existing.each { |t| sum_taxes[t.id] = 0 }
  
    - @booking.booking_items.existing.each do |item|
      %tr
        %td.left= item.guest_type.name
        %td.left= item.booking.room.room_type.name
        %td.left= item.booking.season.name
        %td.right= number_to_currency item.base_price
        %td.center= item.count
        %td.right= number_to_currency item.base_price * item.count
        - item.surcharges.each do |s|
          %tr
            %td.left{ :colspan => 3 }= s.name
            %td.right= number_to_currency s.amount
            %td.center= item.count
            %td.right= number_to_currency s.amount * item.count
  
    %tr
      %td{ :colspan => 5 }= t :sum
      %td.right= number_to_currency @booking.sum
  
  %p= t '.list_of_taxes'
  

  %p= PaymentMethodItem.model_name.human

  %table.payment_methods
    %tr
      %th.left= PaymentMethodItem.model_name.human
      %th.right= PaymentMethodItem.human_attribute_name :amount
    - @booking.payment_method_items.each do |pm|
      %tr
        %td.left= pm.payment_method.name
        %td.right= number_to_currency pm.amount
    %tr
      %td.left= Booking.human_attribute_name :change_given
      %td.right= number_to_currency @booking.change_given

  .invoice_footer= raw Kramdown::Document.new(@booking.vendor.invoice_footer_blurb).to_html

:javascript
  $('#nr').keyboard( {openOn: '', layout:'num', accepted: function(){ $('form#search_by_nr').submit(); } } );
  $('#nr_display_keyboard').click(function(){
    $('#nr').val('');
    $('#nr').getkeyboard().reveal();
  });
  $('#nr').click(function(){
    $('#nr').val('');
  });
