= form_tag 'by_nr', :id => 'search_by_nr' do
  = text_field_tag 'nr', t('.search_by_number')
  %span#nr_display_keyboard.display_keyboard

%div#buttons
  %a.iconbutton.print2_button{ :onclick => "window.print()", :title => (t '.print_business_invoice') }
  %a.iconbutton.previous_button{ :href => booking_path(@previous_booking), :title => (t '.previous_invoice') }
  %a.iconbutton.next_button{ :href => booking_path(@next_booking), :title => (t '.next_invoice') }

.paper_invoice
  = image_tag @current_vendor.image 'invoice_logo'
  .vendor_details
    = raw Kramdown::Document.new(@booking.vendor.invoice_header_blurb).to_html if @booking.vendor.invoice_header_blurb
  .customer_details
    - if @booking.customer
      = @booking.customer.company_name
      %br
      == #{ @booking.customer.first_name } #{ @booking.customer.last_name}
      %br
      = @booking.customer.address
      %br
      == #{ @booking.customer.postalcode } #{ @booking.customer.city }
  .clear

  %h1== #{ t 'invoice' } #B#{ @booking.nr }
  
  
  = render :partial => 'invoice_item_list', :locals => { :booking => @booking }

  - @booking.orders.each do |order|
    %h3== #{ Order.model_name.human } #{ order.nr }
    = render :partial => '/orders/invoice_item_list', :locals => { :order => order }
  
  = render :partial => '/shared/invoice_tax_list', :locals => { :model => @booking }

  - if @current_user.role.permissions.include?('manage_payment_methods')
    %p= PaymentMethodItem.model_name.human

    %table.payment_methods
      %tr
        %th.left= PaymentMethodItem.model_name.human
        %th.right= PaymentMethodItem.human_attribute_name :amount
      - @booking.payment_method_items.each do |pm|
        %tr
          %td.left= pm.payment_method.name
          %td.right= number_to_currency pm.amount
      %tr
        %td.left= Order.human_attribute_name :change_given
        %td.right= number_to_currency @booking.change_given

  .invoice_footer= raw Kramdown::Document.new(@booking.vendor.invoice_footer_blurb).to_html if @booking.vendor.invoice_footer_blurb

:javascript
  $('#nr').keyboard( {openOn: '', layout:'num', accepted: function(){ $('form#search_by_nr').submit(); } } );
  $('#nr_display_keyboard').click(function(){
    $('#nr').val('');
    $('#nr').getkeyboard().reveal();
  });
  $('#nr').click(function(){
    $('#nr').val('');
  });
