%h2= t('activerecord.models.user.other')

%p= link_to((t :new), new_user_path, :class => 'links')

%table
  %tr
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:150px' }= User.human_attribute_name(:title)
    %th{ :style => 'width:150px' }= User.human_attribute_name(:role_id)
    %th{ :style => 'width:100px' }= User.human_attribute_name(:color)
    %th{ :style => 'width:100px' }= User.human_attribute_name(:language)
  - @users.each do |u|
    %tr
      %td= link_to u.login, edit_user_path(u)
      %td= u.title
      %td= u.role.name if u.role
      %td= get_colors[u.color]
      %td= BillGastro::Application::LANGUAGES[u.language]
      %td= link_to User.human_attribute_name(:hidden), user_path(u), :method => :delete, :confirm => t(:are_you_sure)
