%h2= t :users

%table
  %tr
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @users.each do |u|
    %tr
      - disclose = ((@current_user.role > u.role) or (@current_user.login == u.login))
      %td= disclose ? link_to(u.login, user_path(u)) : u.login
      %td= link_to((t :edit), edit_user_path(u)) if disclose
      %td= link_to((t :delete), u, :confirm => 'Sind Sie sicher?', :method => :delete) if @current_user.role >= 3

%p= link_to((t :new), new_user_path) if @current_user.role >= 2
