t%style= generate_color_style

%h2= @user.new_record? ? (t '.new_user') : (t '.edit_user')

- if @user.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @user.errors.size, :model => User.model_name.human
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @user do |user_form|
    %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    %table
      %tr
        %td
          %table
            %tr
              %td= user_form.label :active
              %td= user_form.check_box :active
            %tr
              %td= user_form.label :login
              %td
                = user_form.text_field :login
                %span#user_login_display_keyboard.display_keyboard
            %tr
              %td= user_form.label :title
              %td
                = user_form.text_field :title
                %span#user_title_display_keyboard.display_keyboard
            %tr
              %td= user_form.label :password
              %td
                = user_form.text_field :password
                %span#user_password_display_keyboard.display_keyboard
            %tr
              %td= user_form.label :role
              %td
                %select#user_role_id{ :name => 'user[role_id]' }
                  - @roles.each do |r|
                    - next if r.weight < @current_user.role.weight
                    %option{ :value => r.id, :selected => user_form.object.role == r }= r.name
            %tr
              %td= user_form.label :color
              %td
                %select#user_color{ :name => 'user[color]' }
                  = options_for_select(get_colors.invert.to_a, user_form.object.color)
            %tr
              %td= user_form.label :language
              %td
                %select#language{ :name => 'user[language]' }
                  = options_for_select(SalorGastro::Application::LANGUAGES.invert.to_a, user_form.object.language)
            %tr
              %td= user_form.label :screenlock_timeout
              %td
                = user_form.text_field :screenlock_timeout, :size => 5
                %span#user_screenlock_timeout_display_keyboard.display_keyboard
        - if @current_user.role.permissions.include?('assign_tables')
          %td
            = user_form.label :tables
            %br
            %small= t '.select_with_ctrl_key'
            %br
            = select_tag 'user[tables_array][]', options_from_collection_for_select(@tables, 'id', 'name', user_form.object.tables.collect{ |t| t.id }),  :multiple => true, :size => 20

:javascript
  $('#user_login').keyboard( {openOn: '' } );
  $('#user_login_display_keyboard').click(function(){
    $('#user_login').getkeyboard().reveal();
  });

  $('#user_title').keyboard( {openOn: '' } );
  $('#user_title_display_keyboard').click(function(){
    $('#user_title').getkeyboard().reveal();
  });

  $('#user_password').keyboard( {openOn: '' } );
  $('#user_password_display_keyboard').click(function(){
    $('#user_password').getkeyboard().reveal();
  });

  $('#user_screenlock_timeout').keyboard( {openOn: '', layout: 'num' } );
  $('#user_screenlock_timeout_display_keyboard').click(function(){
    $('#user_screenlock_timeout').getkeyboard().reveal();
  });
