%h2= @user.login

%p== Rolle: <i>#{ @user.role }

%table{ :class => 'settlements' }
  - sum = 0
  - @user.settlements.each do |s|
    %tr
      %td{ :style => 'width:120px' }= l s.created_at, :format => :datetime_iso
      %td{ :style => 'width:120px' }= link_to("#{ t :settlement } ##{s.id}", user_settlement_path(@user,s))
      %td{ :class => 'colsum', :style => 'width:120px' }= number_to_currency s.revenue
      - sum += s.revenue
  %tr
    %td{ :colspan => '2' }= t :sum
    %td{ :class => 'sum' }= number_to_currency sum
