- @categories.each do |ca|
  - if @articleshash[scope][ca.id] and @articleshash[scope][ca.id].any?
    %p.category_title= ca.name
    %ul
      - @articleshash[scope][ca.id].each do |ar|
        %li{ :id => "#{ scope }_#{ ar.id }", :source => scope, :model_id => ar.id }
          = image_tag 'drag_handle.png', :id => "handle_for_#{ scope }_article_#{ ar.id }", :style => 'cursor:move'
          = link_to ar.name, edit_article_path(ar), :class => "list_item"
          %script== $('##{ scope }_#{ ar.id }').draggable({handle: '#handle_for_#{ scope }_article_#{ ar.id }', revert: true});
