%h2= t 'scope_names.menucard'

%table
  %tr
    %th{ :style => 'width:250px' }
    %th{ :style => 'width:290px' }
    %th{ :style => 'width:100px' }

  - @categories.each do |ca|
    %tr{ :class => 'category' }
      %td{ :colspan => '3' }
        %b= ca.name
    - ca.articles.active.each do |ar|
      %tr{ :valign => 'top' }
        %td= ar.name
        %td= ar.description
        %td{ :style => 'text-align:right' }= number_to_currency ar.price
