%h2= t '.sort'

%a.iconbutton.back_button{ :href => '/articles', :title => t(:go_back) }

- @categories.each do |c|
  %h3= c.name
  %ul.sort_articles{ :id => "category_#{ c.id }" }
    - c.articles.existing.active.positioned.each do |a|
      %li{ :id => "article_#{ a.id }" }
        %span.handle
        = link_to a.name, edit_article_path(a), :class => "list_item"

- @categories.each do |c|
  :javascript
    $("#category_#{ c.id }").sortable({
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function() {
        $.ajax({
          type: 'POST',
          data: $('#category_#{ c.id }').sortable('serialize'),
          dataType: 'script',
          url: '/articles/sort'
        })
      }
    });
