<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :ctype %><br />
    <%= f.select :ctype,Coupon::CTYPES.collect {|ct| [ct[1],ct[0]]} %>
  </div>
  <div class="field">
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </div>
  <!-- <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div> -->
  <div class="field">
    <%= f.label :more_than_1_allowed %><br />
    <%= f.check_box :more_than_1_allowed %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </div>
  <!-- <div class="field">
    <%= f.label :time_based %><br />
    <%= f.check_box :time_based %>
  </div> -->
    <%= f.hidden_field :company_id, :value => $COMPANY.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
