<h1>Listing coupons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Ctype</th>
    <th>Sku</th>
    <!-- <th>Start date</th>
    <th>End date</th> -->
    <th>More than 1 allowed</th>
    <th>Article</th>
    <!-- <th>Time based</th> -->
    <th></th>
    <th></th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%= coupon.name %></td>
    <td><%= coupon.amount %></td>
    <td><%= coupon.ctype %></td>
    <td><%= coupon.sku %></td>
    <!-- <td><%= coupon.start_date %></td>
    <td><%= coupon.end_date %></td> -->
    <td><%= coupon.more_than_1_allowed %></td>
    <td><%= coupon.article_id %></td>
    <!-- <td><%= coupon.time_based %></td> -->
    <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
    <td><%= link_to 'Destroy', coupon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coupon', new_coupon_path %>
