%h2= t('activerecord.models.option.other')

= link_to (t :new), new_option_path, :class => 'links'

%table
  %tr
    %th{ :style => 'width:150px' }= Option.human_attribute_name(:name)
    %th{ :style => 'width:120px' }= Option.human_attribute_name(:category)
    %th{ :style => 'width:50px' }
  - @options.each do |opt|
    %tr
      %td= link_to opt.name, edit_option_path(opt)
      %td= opt.category.name if opt.category
      %td= link_to Option.human_attribute_name(:delete), option_path(opt), :method => :delete
