%h2= @option.new_record? ? (t '.new_option') : (t '.edit_option')

- if @option.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @option.errors.size, :model => Option.model_name.human
    %ul
      - @option.errors.full_messages.each do |msg|
        %li= msg

= form_for @option do |option_form|
  %table
    %tr
      %td= option_form.label('name', Option.human_attribute_name(:name))
      %td
        = option_form.text_field :name, :size => '20'
        %span#option_name_display_keyboard.display_keyboard
    %tr
      %td= option_form.label('price', Option.human_attribute_name(:price))
      %td
        = option_form.text_field :price, :size => '5'
        %span#option_price_display_keyboard.display_keyboard

    - @categories.each do |c|
      %tr
        %td
          %label{ :for => "category_#{ c.id }" }= c.name
        %td
          %input{ :id => "category_#{ c.id }", :type => 'checkbox', :name => 'option[set_categories][]', :value => c.id, :checked => option_form.object.categories.include?(c) }
    %tr
      %td= link_to Option.human_attribute_name(:hidden), option_path(option_form.object), :method => :delete, :confirm => t(:are_you_sure), :class => 'delete' unless option_form.object.new_record?
          
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )

:javascript
  $('#option_name').keyboard( {openOn: '' } );
  $('#option_name_display_keyboard').click(function(){
    $('#option_name').getkeyboard().reveal();
  });

  $('#option_price').keyboard( {openOn: '', layout: 'num'} );
  $('#option_price_display_keyboard').click(function(){
    $('#option_price').getkeyboard().reveal();
  });
