%h2= @option.new_record? ? (t '.new_option') : (t '.edit_option')

- if @option.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @option.errors.size, :model => Option.model_name.human
    %ul
      - @option.errors.full_messages.each do |msg|
        %li= msg

= form_for nest_image(@option), :html => { :multipart => true } do |option_form|
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
  %table
    %tr
      %td
        - if option_form.object.image
          %img.asset{ :src => @option.image }
        = option_form.fields_for :images do |image_form|
          = image_form.file_field :file_data, :size => 15

        %br
        = link_to image_tag('button_small_delete.png', :title => Option.human_attribute_name(:hidden), :alt => Option.human_attribute_name(:hidden)), option_path(option_form.object), :method => :delete, :confirm => t(:are_you_sure), :class => 'delete' unless option_form.object.new_record?

        %br
        = option_form.label 'name'
        = option_form.text_field :name, :size => '20'
        %span#option_name_display_keyboard.display_keyboard

        %br
        = option_form.label 'price'
        = option_form.text_field :price, :size => '5'
        %span#option_price_display_keyboard.display_keyboard

      %td
        %label{ :for => "select_all_options" } All
        %input{ :id => "select_all_options", :type => 'checkbox', :onchange => "toggle_all_option_checkboxes(this)"  }

        - @categories.each do |c|
          %label{ :for => "category_#{ c.id }" }= c.name
          %input{ :id => "category_#{ c.id }", :type => 'checkbox', :name => 'option[set_categories][]', :value => c.id, :checked => option_form.object.categories.include?(c) }
          %br

      %td
        = option_form.label :separate_ticket
        = option_form.check_box :separate_ticket
        %br
        = option_form.label :no_ticket
        = option_form.check_box :no_ticket

:javascript
  $('#option_name').keyboard( {openOn: '' } );
  $('#option_name_display_keyboard').click(function(){
    $('#option_name').getkeyboard().reveal();
  });

  $('#option_price').keyboard( {openOn: '', layout: 'num'} );
  $('#option_price_display_keyboard').click(function(){
    $('#option_price').getkeyboard().reveal();
  });

