%h2= @camera.new_record? ? (t '.new_camera') : (t '.edit_camera')

- if @camera.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @camera.errors.size, :model => Camera.model_name.human
    %ul
      - @camera.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @camera do |camera_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), cameras_path, :class => 'links')
    .clear
    %table
      %tr
        %td= camera_form.label :name
        %td= camera_form.text_field :name, :size => '10'
      %tr
        %td= camera_form.label :description
        %td= camera_form.text_field :description, :size => '20'
      %tr
        %td= camera_form.label :host_internal
        %td= camera_form.text_field :host_internal, :size => '20'
      %tr
        %td= camera_form.label :host_external
        %td= camera_form.text_field :host_external, :size => '20'
      %tr
        %td= camera_form.label :port
        %td= camera_form.text_field :port, :size => '20'
      %tr
        %td= camera_form.label :url_snapshot
        %td= camera_form.text_field :url_snapshot, :size => '20'
      %tr
        %td= camera_form.label :url_stream
        %td= camera_form.text_field :url_stream, :size => '20'
      %tr
        %td= camera_form.label :active
        %td= camera_form.check_box :active
