%h1= t('config.menulabel')

#message

= form_tag '/config', :remote => true, :id => 'config_form' do
  = label_tag 'config_name', t('.name')
  = text_field_tag 'config[name]', @config[:name]
  %br
  = label_tag 'config_subtitle', t('.subtitle')
  = text_field_tag 'config[subtitle]', @config[:subtitle]
  %br
  = label_tag 'config_address', t('.address')
  = text_field_tag 'config[address]', @config[:address]
  %br
  = label_tag 'config_taxnumber', t('.taxnumber')
  = text_field_tag 'config[taxnumber]', @config[:taxnumber]
  %br
  = label_tag 'config_slogan1', t('.slogan')
  = text_field_tag 'config[slogan1]', @config[:slogan1]
  %br
  = label_tag 'config_slogan2', t('.slogan')
  = text_field_tag 'config[slogan2]', @config[:slogan2]
  %br
  = label_tag 'config_internet', t('.internet_address')
  = text_field_tag 'config[internet]', @config[:internet]
  %br
  = label_tag 'config_email', t('.email')
  = text_field_tag 'config[email]', @config[:email]
  %br
  = label_tag 'config_printer_kitchen', t('.printer_kitchen')
  = select_tag 'config[printer_kitchen]', options_for_select(['/dev/usblp0', '/dev/usblp1', '/dev/ttyUSB0', '/dev/ttyUSB1','/dev/billgastro-printer-front','/dev/billgastro-printer-back-top-left','/dev/billgastro-printer-back-top-right','/dev/billgastro-printer-back-bottom-left','/dev/billgastro-printer-back-bottom-right'], @config[:printer_kitchen])
  %br
  = label_tag 'config_printer_bar', t('.printer_bar')
  = select_tag 'config[printer_bar]', options_for_select(['/dev/usblp0', '/dev/usblp1', '/dev/ttyUSB0', '/dev/ttyUSB1','/dev/billgastro-printer-front','/dev/billgastro-printer-back-top-left','/dev/billgastro-printer-back-top-right','/dev/billgastro-printer-back-bottom-left','/dev/billgastro-printer-back-bottom-right'], @config[:printer_bar])
  %br
  = label_tag 'config_printer_guestroom', t('.printer_guestroom')
  = select_tag 'config[printer_guestroom]', options_for_select(['/dev/usblp0', '/dev/usblp1', '/dev/ttyUSB0', '/dev/ttyUSB1','/dev/billgastro-printer-front','/dev/billgastro-printer-back-top-left','/dev/billgastro-printer-back-top-right','/dev/billgastro-printer-back-bottom-left','/dev/billgastro-printer-back-bottom-right'], @config[:printer_guestroom])
  %br
  = label_tag 'config_automatic_printing', t('.automatic_printing')
  = check_box_tag 'config[automatic_printing]', 1, @config[:automatic_printing]
  %br
  = submit_tag
