%h2= @room_price.new_record? ? (t '.new_room_price') : (t '.edit_room_price')

- if @room_price.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @room_price.errors.size, :model => RoomPrice.model_name.human
    %ul
      - @room_price.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @room_price do |room_price_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), room_prices_path, :class => 'links')
    .clear
    = room_price_form.label :base_price
    = room_price_form.text_field :base_price, :size => 5
