%h2= @guest_type.new_record? ? (t '.new_guest_type') : (t '.edit_guest_type')

- if @guest_type.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @guest_type.errors.size, :model => GuestType.model_name.human
    %ul
      - @guest_type.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @guest_type do |guest_type_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), guest_types_path, :class => 'links')
    .clear
    = guest_type_form.label :name
    = guest_type_form.text_field :name, :size => '20'
    %br
    = guest_type_form.label :taxes
    = select_tag 'guest_type[taxes_array][]', options_for_select(@taxes.collect{|t| ["#{t.name} (#{t.percent}%)",t.id]}, @selected_taxes), :multiple => true
