%h2= @cost_center.new_record? ? (t '.new_group') : (t '.edit_group')

= error_messages_for 'group'

- form_for @group do |group_form|
  %table
    %tr
      %td
        = group_form.label('name', Group.human_attribute_name(:name))
      %td
        = group_form.text_field :name

  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
