%div.invoice

  - remote_form_for :order, invoice_form, :url => { :controller => :orders, :action => :split_invoice, :id => invoice_form.id }, :html => { :id => 'form' } do |order_form|

    = hidden_field_tag 'order_action', 'not_set', :id => "order_action_#{invoice_form.id}"

    %h3== #{ t('activerecord.models.order.other')} ##{invoice_form.id} (##{invoice_form.order.id if invoice_form.order})
    %p= l invoice_form.created_at, :format => :long

    - if !invoice_form.finished
      %a#edit_invoice{ :href => edit_order_path(invoice_form), :title => t(:edit) }
        %div.iconbutton.edit_button

    %select#cost_center_for_invoice{ :name => 'cost_center_id', :title => t('.split_invoice') }
      = options_from_collection_for_select(@cost_centers, :id, :name)

    = link_to_remote('', :url => { :controller => :orders, :action => :split_invoice_all_at_once, :id => invoice_form.id }, :submit => "form", :html => { :class => 'iconbutton splitinvoice_button' })

    %a.iconbutton.print_kitchen_button{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print0'; this.parentNode.submit();", :title => t(:print)}

    %a{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print1'; this.parentNode.submit();", :title => t(:print) }
      %div.iconbutton.print_bar_button

    %a{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print2'; this.parentNode.submit();", :title => t(:print) }
      %div.iconbutton.print_guestroom_button
  
    %table{ :class => 'invoice' }
      %tr
        %th{ :style => 'width:20px; text-align:right' }
        %th{ :style => 'width:150px' }
        %th{ :style => 'width:70px' }
        %th{ :style => 'width:70px' }
      - subtotal = 0
      - order_form.fields_for :items do |item_form|
        - item = item_form.object
        - sum = item.count * item.real_price
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        %tr
          %td= item.count
          - label = item.quantity_id ? "#{ item.quantity.article.name} #{ item.quantity.name}" : item.article.name
          %td.simple_invoice{ :id => "item#{item.id}", :onclick => "mark_item_for_split_invoice(this, #{order_form.object.id}, #{itemnumber})"}= "%20.20s" % [label]
          %td{ :style => 'text-align:right' }= number_to_currency item.real_price
          %td{ :style => 'text-align:right' }= number_to_currency sum
          %input{ :id => "order_items_attributes_#{order_form.object.id}_#{itemnumber}_partial_order", :name => "order[items_attributes][#{itemnumber}][partial_order]", :type => "hidden"}

      %tr
        %td{ :colspan => '3'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
