%div.invoice{ :id => "invoice_#{invoice_form.id}" }

  - form_for :order, invoice_form, :url => { :controller => :orders, :action => :print, :id => invoice_form.id }, :html => { :method => 'put' } do |order_form|
    = hidden_field_tag 'order_action', 'not_set', :id => "order_action_#{invoice_form.id}"

    - if !invoice_form.finished
      %a.iconbutton.edit_button{ :href => edit_order_path(invoice_form), :title => t(:edit) }

    %a.iconbutton.print_kitchen_button{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print0'; this.parentNode.submit();", :title => t(:print)}
    %a.iconbutton.print_bar_button{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print1'; this.parentNode.submit();", :title => t(:print)}
    %a.iconbutton.print_guestroom_button{ :onclick => "document.getElementById('order_action_#{invoice_form.id}').value='print2'; this.parentNode.submit();", :title => t(:print)}

  - remote_form_for :order, invoice_form, :url => { :controller => :orders, :action => :update, :id => invoice_form.id }, :html => { :method => 'put', :id => "invoice_form_#{ invoice_form.id }" } do |order_form|

    %h3== #{ t('activerecord.models.order.one')} ##{invoice_form.id}
    %p= l invoice_form.created_at, :format => :long
    %select#cost_center_for_invoice{ :onchange => "new Ajax.Request('/orders/split_invoice_all_at_once/#{ invoice_form.id }', {asynchronous:true, evalScripts:true, parameters:Form.serialize('invoice_form_#{ invoice_form.id }')}); return false;", :name => 'order[cost_center_id]', :title => t('.split_invoice') }
      = options_from_collection_for_select(@cost_centers, :id, :name, (invoice_form.cost_center.id if invoice_form.cost_center))

    = link_to_remote('', :url => { :controller => :orders, :action => :split_invoice_all_at_once, :id => invoice_form.id }, :submit => "invoice_form_#{ invoice_form.id }", :html => { :class => 'iconbutton splitinvoice_button' })

    %table{ :class => 'invoice' }
      %tr
        %th{ :style => 'width:20px; text-align:right' }
        %th{ :style => 'width:150px' }
        %th{ :style => 'width:70px' }
        %th{ :style => 'width:70px' }
      - subtotal = 0
      - order_form.fields_for :items do |item_form|
        - item = item_form.object
        - sum = item.count * item.real_price
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        %tr
          %td.split= link_to_remote(item.count, :url => { :controller => :orders, :action => :split_invoice_one_at_a_time, :id => item.id }, :submit => "invoice_form_#{ invoice_form.id }", :html => { :class => 'count' })
          - label = item.quantity_id ? "#{ item.quantity.article.name} #{ item.quantity.name}" : item.article.name
          %td.simple_invoice{ :id => "item#{item.id}", :onclick => "mark_item_for_split_invoice(this, #{order_form.object.id}, #{itemnumber})"}= "%20.20s" % [label]
          %td{ :style => 'text-align:right' }= number_to_currency item.real_price
          %td{ :style => 'text-align:right' }= number_to_currency sum
          %input{ :id => "order_items_attributes_#{order_form.object.id}_#{itemnumber}_partial_order", :name => "order[items_attributes][#{itemnumber}][partial_order]", :type => "hidden"}

      %tr
        %td{ :colspan => '3'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
