%div.invoice{ :id => "invoice_#{invoice_form.id}" }
  - if local_variant?
    - i = 0
    - @current_vendor.vendor_printers.existing.each do |p|
      - i += 1
      = link_to('', "/orders/update_ajax?id=#{ invoice_form.id }&printer=#{ p.id }&currentview=invoice", :class => "iconbutton printinvoice#{ i }_button", :title => "#{ t('.print_and_finish') } #{ p.name }", :remote => true)
  - else
    = link_to '', "/orders/update_ajax?id=#{ invoice_form.id }&printer=0&currentview=invoice", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t('.print_and_finish')
  - if not invoice_form.finished
    = link_to '', "/orders/update_ajax?id=#{ invoice_form.id }&currentview=invoice", :remote => true, :class => 'iconbutton finish_button', :title => t('.just_finish')

  = form_for invoice_form, :as => :order, :url => { :controller => :orders, :action => :update, :id => invoice_form.id }, :remote => true, :html => { :method => 'put', :id => "invoice_form_#{ invoice_form.id }" } do |order_form|

    - if !invoice_form.finished

      - buttonclass = session[:display_tax_colors] ? 'splitinvoice_button' : 'tables2_button'
      - buttontitle = session[:display_tax_colors] ? t('.split_invoice') : t('.set_taxes')

      - if @current_vendor.country == 'cc' or @current_vendor.country == 'de'
        = link_to '', "/orders/toggle_tax_colors/#{ invoice_form.id }", :class => "iconbutton #{ buttonclass }", :title => '', :remote => true, :method => :post, :title => buttontitle

      = link_to '', "", :remote => true, :class => 'iconbutton order_button', :title => t(:edit), :onclick => "go_to(#{invoice_form.table.id}, 'table', '', #{invoice_form.id})", :onmouseup => 'this.style.border = "2px solid black";'

      - if session[:display_tax_colors]
        %select#cost_center_and_tax_for_invoice{ :onchange => "$.ajax({ type: 'PUT', url: '/orders/#{ invoice_form.id }', data: 'order[tax_id]='+$(this).val() });", :title => t('.set_tax_for_all') }
          - if invoice_form.tax.nil?
            %option
          = options_from_collection_for_select(@taxes, :id, :name, (invoice_form.tax.id if invoice_form.tax))
      - elsif @current_user.role.permissions.include? 'assign_cost_center'
        %select#cost_center_and_tax_for_invoice{ :onchange => "$.ajax({ type: 'PUT', url: '/orders/#{ invoice_form.id }', data: 'order[cost_center_id]='+$(this).val() });", :title => t('.set_cost_center') }
          = options_from_collection_for_select(@cost_centers, :id, :name, (invoice_form.cost_center.id if invoice_form.cost_center))

  %h3== #{ t('activerecord.models.order.one')} ##{invoice_form.nr}, #{ invoice_form.table.name }, #{ invoice_form.user.login }
  %p= l invoice_form.created_at, :format => :long
  %table.invoice
    - invoice_form.items.existing.each do |item|
      - article_label = item.article.name[0..13]
      - prefix_label = item.quantity.prefix[0..9] if item.quantity and item.quantity.prefix
      - postfix_label = item.quantity.postfix[0..9] if item.quantity and item.quantity.postfix
      %tr.item{ :id => "order_#{invoice_form.id}_item_#{item.id}", :style => "background-color: #{ session[:display_tax_colors] ? item.tax.color : '' }" }
        %td.count= session[:display_tax_colors] ? item.tax.letter : item.count
        %td.label{ :id => "item#{item.id}"}
          - if invoice_form.finished
            == #{ prefix_label } #{ article_label } #{ item.comment }<br>#{ postfix_label }
          - else
            - path = session[:display_tax_colors] ? "/items/rotate_tax/#{ item.id }" : item_path(item.id)
            - linktitle = session[:display_tax_colors] ? t('.switch_tax_for_this_item') : t('.split_this_item')
            - label = item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
            - optionslabel = item.options.collect { |o| "<br>#{ o.name }" unless o.price.zero? }.join
            - optionsprices = item.options.collect { |o| "<br>#{ number_with_precision o.price, :precision => 2 }" unless o.price.zero? }.join
            - label = raw "%20.20s%s" % [label, optionslabel]
            - if @current_user.role.permissions.include? 'split_items' or session[:display_tax_colors]
              = link_to raw(label), path, :method => :put, :remote => true, :class => 'link', :id => item.id, :title => linktitle
            - else
              = raw(linktext)
        %td.price
          = number_with_precision item.price, :precision => 2
          = raw optionsprices
        %td.total= number_with_precision item.full_price, :precision => 2

    %tr
      %td{ :colspan => '4', :style => 'text-align:right'}
        %span.subtotal= number_to_currency invoice_form.sum
