%div.invoice{ :id => "invoice_#{invoice_form.id}" }

  %a.iconbutton.print_kitchen_button{ :href => "/orders/print/#{ invoice_form.id }/0", :title => t(:print)}
  %a.iconbutton.print_bar_button{ :href => "/orders/print/#{ invoice_form.id }/1", :title => t(:print)}
  %a.iconbutton.print_guestroom_button{ :href => "/orders/print/#{ invoice_form.id }/2", :title => t(:print)}
  - if !invoice_form.finished
    %a.iconbutton.order_button{ :href => edit_order_path(invoice_form), :title => t(:edit) }

  - remote_form_for :order, invoice_form, :url => { :controller => :orders, :action => :update, :id => invoice_form.id }, :html => { :method => 'put', :id => "invoice_form_#{ invoice_form.id }" } do |order_form|

    %select#cost_center_for_invoice{ :onchange => "new Ajax.Request('/orders/split_invoice_all_at_once/#{ invoice_form.id }', {asynchronous:true, evalScripts:true, parameters:Form.serialize('invoice_form_#{ invoice_form.id }')}); return false;", :name => 'order[cost_center_id]', :title => t('.split_invoice') }
      = options_from_collection_for_select(@cost_centers, :id, :name, (invoice_form.cost_center.id if invoice_form.cost_center))

    %h3== #{ t('activerecord.models.order.one')} ##{invoice_form.id}, #{ invoice_form.table.name }
    %p= l invoice_form.created_at, :format => :long
    %table{ :class => 'invoice' }
      - subtotal = 0
      - order_form.fields_for :items do |item_form|
        - item = item_form.object
        - sum = item.count * item.real_price
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        %tr
          %td.count= link_to_remote(item.count, :url => { :controller => :orders, :action => :split_invoice_one_at_a_time, :id => item.id }, :submit => "invoice_form_#{ invoice_form.id }")
          - article_label = item.article.name[0..13]
          - quantity_label = "#{item.quantity.prefix[0..9] if item.quantity.prefix }, #{item.quantity.postfix[0..9] if item.quantity.postfix}" if item.quantity
          %td.label{ :id => "item#{item.id}", :onclick => "mark_item_for_split_invoice(this.parentNode, #{order_form.object.id}, #{itemnumber})"}== #{ article_label }<br>#{ quantity_label }
          %td.price= number_to_currency item.real_price
          %td.total= number_to_currency sum
          %input{ :id => "order_items_attributes_#{order_form.object.id}_#{itemnumber}_partial_order", :name => "order[items_attributes][#{itemnumber}][partial_order]", :type => "hidden"}

      %tr
        %td{ :colspan => '3'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
