%div.invoice{ :id => "invoice_#{invoice_form.id}" }
  - if local_variant?
    - i = 0
    - @current_company.vendor_printers.available.each do |p|
      - i += 1
      = link_to('', "/orders/print_and_finish/#{ invoice_form.id }/#{ p.id }", :class => "iconbutton printinvoice#{ i }_button", :title => "#{ t('.print_and_finish') } #{ p.name }", :remote => true)
  - else
    = link_to '', "/orders/print_and_finish/#{ invoice_form.id }/1", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t('.print_and_finish')
  - if not invoice_form.finished
    = link_to '', "/orders/print_and_finish/#{ invoice_form.id }/0", :remote => true, :class => 'iconbutton finish_button', :title => t('.just_finish')

  = form_for invoice_form, :as => :order, :url => { :controller => :orders, :action => :update, :id => invoice_form.id }, :remote => true, :html => { :method => 'put', :id => "invoice_form_#{ invoice_form.id }" } do |order_form|

    - if !invoice_form.finished

      - buttonclass = session[:display_tax_colors] ? 'splitinvoice_button' : 'tables2_button'
      - buttontitle = session[:display_tax_colors] ? t('.split_invoice') : t('.set_taxes')
      = link_to '', "/orders/toggle_tax_colors/#{ invoice_form.id }", :class => "iconbutton #{ buttonclass }", :title => '', :remote => true, :method => :post, :title => buttontitle

      = link_to '', "/orders/#{ invoice_form.id }/edit", :remote => true, :class => 'iconbutton order_button', :title => t(:edit), :onmouseup => 'this.style.border = "2px solid black";'

      - if session[:display_tax_colors]
        %select#cost_center_and_tax_for_invoice{ :onchange => "$.ajax({ type: 'PUT', url: '/orders/#{ invoice_form.id }', data: 'order[tax_id]='+$(this).val() });", :title => t('.set_tax_for_all') }
          - if invoice_form.tax.nil?
            %option
          = options_from_collection_for_select(@taxes, :id, :name, (invoice_form.tax.id if invoice_form.tax))
      - elsif @current_user.role.permissions.include? 'assign_cost_center'
        %select#cost_center_and_tax_for_invoice{ :onchange => "$.ajax({ type: 'PUT', url: '/orders/#{ invoice_form.id }', data: 'order[cost_center_id]='+$(this).val() });", :title => t('.set_cost_center') }
          = options_from_collection_for_select(@cost_centers, :id, :name, (invoice_form.cost_center.id if invoice_form.cost_center))

  %h3== #{ t('activerecord.models.order.one')} ##{invoice_form.nr}, #{ invoice_form.table.name }, #{ invoice_form.user.login }
  %p= l invoice_form.created_at, :format => :long
  %table.invoice
    - subtotal = 0
    - invoice_form.items.each do |item|
      - sum = item.count * item.real_price
      - subtotal += sum
      - article_label = item.article.name[0..13]
      - prefix_label = item.quantity.prefix[0..9] if item.quantity and item.quantity.prefix
      - postfix_label = item.quantity.postfix[0..9] if item.quantity and item.quantity.postfix
      %tr.item{ :id => "order_#{invoice_form.id}_item_#{item.id}", :style => "background-color: #{ session[:display_tax_colors] ? item.real_tax.color : '' }" }
        %td.count= session[:display_tax_colors] ? item.real_tax.letter : item.count
        %td.label{ :id => "item#{item.id}"}
          - if invoice_form.finished
            == #{ prefix_label } #{ article_label } #{ item.comment }<br>#{ postfix_label }
          - else
            - path = session[:display_tax_colors] ? "/items/rotate_tax/#{ item.id }" : item_path(item.id)
            - linktitle = session[:display_tax_colors] ? t('.switch_tax_for_this_item') : t('.split_this_item')
            - linktext = "#{ prefix_label } #{ article_label } #{ item.comment }<br>#{ postfix_label }"
            - if @current_user.role.permissions.include? 'split_items' or session[:display_tax_colors]
              = link_to raw(linktext), path, :method => :put, :remote => true, :class => 'link', :id => item.id, :title => linktitle
            - else
              = raw(linktext)
        %td.price= number_to_currency item.real_price
        %td.total= number_to_currency sum

    %tr
      %td{ :colspan => '4', :style => 'text-align:right'}
        %span.subtotal= number_to_currency subtotal
