-# The generated HTML code of this partial is inserted into the JS code of the add_item_link helper
-# Note that the statement 'item' represents the name of this partial

= frm.fields_for :items, item do |f|
  - nested_attribute_id = /order\[items_attributes\]\[(.*)\]/.match(f.object_name)[1]

  = f.label :count, 'Anzahl:'
  %select{ :id => "order_items_attributes_#{ nested_attribute_id }_count", :name => "order[items_attributes][#{ nested_attribute_id }][count]" }
    = options_for_select MyGlobals::predefined_count

  = f.label :article_id, 'Artikel:'
  %select{ :id => "order_items_attributes_#{ nested_attribute_id }_article_id", :name => "order[items_attributes][#{ nested_attribute_id }][article_id]" }
    %option{ :value => '' }
    = option_groups_from_collection_for_select Category.find(:all), :articles, :name, :id, :name, f.object.article_id

  = f.label :free
  = f.check_box :free
