= form_tag '/orders/receive_order_attributes_ajax', :remote => true, :id => 'order_form_ajax' do
  = hidden_field_tag 'order_action'
  = hidden_field_tag 'order[id]'
  = hidden_field_tag 'order[table_id]'
  = hidden_field_tag 'target_table'

  %div.waiter
    %select#order_user_id{ :name => 'order[user_id]' }
      = options_from_collection_for_select User.all, :id, :login, { :include_blank => !mobile? }

  #order_info= t :loading

  %div#categories
    - @categories.each do |category|
      %div{ :class => "category #{ category.name.delete ' ' }", :style => "background-color: #{category.color}; background-image: url('/images/category_#{category.icon}.png')", :onmousedown => "category_onmousedown(#{ category.id })" }
        %div{ :class => "category_label" }
          %span= category.name
  
  %div#articles
  %div#quantities
  %div#items
    %div.ordersum_container
      = t '.sum'
      = t 'number.currency.format.unit'
      %input#order_sum{ :value => 0 }
    %div#inputfields
    %table#itemstable
