%h3
  %span#order_info{ :onclick => '$("#note_for_order").slideDown()'}= t :just_order

#note_for_order= render 'note'

- if workstation?
  #customer_list
    %h3= t 'activerecord.models.customer.other'
    = text_field_tag 'customer_search'
    %span#customer_search_display_keyboard.display_keyboard
    #customer_list_target
    %span.done{ :onclick => "$('#customer_list').slideUp();" }
  #tablesselect
    %h3= t :move_order_to_table
    %span.done{ :onclick => "$('#tablesselect').slideUp();" }
    - @current_user.tables.each do |t|
      %span.option{ :onclick => "go_to(submit_json.order.table_id, 'tables', 'move', '', #{t.id});" }== #{ t.name }

#categories
  - @categories.existing.active.positioned.each do |category|
    .category{ :class => category.name.delete(' '), :style => "background-color: #{category.color}; background-image: url('#{category.icon_path}')", :onmousedown => "category_onmousedown(#{ category.id }, this)" }
      %div{ :class => "category_label" }
        %span= category.name

#articles

#items
  .ordersum_container
    %span== #{ t '.sum' } #{ t 'number.currency.format.unit' }
    %span#order_sum
  %table#itemstable
