- rooms = 4
- 1.upto(rooms) do |room|
  %div.room{ :id => "room#{ room }" }
    - if ipod?
      - if @last_finished_order
        %a.iconbutton.storno_button{ :href => "/orders/storno/#{ @last_finished_order.id }", :title => "#{t(:storno)}" }
      - 1.upto(rooms) do |icon|
        - style = icon == room ? "border: 2px solid #{ @current_user.color };" : ''
        %a{ :class => "iconbutton room#{icon}_button", :style => style, :onclick => "Effect.ScrollTo('room#{icon}', 10);", :title => "#{t(:scroll_to_room)} #{ icon }" }
