%div.invoice{ :id => "invoice_#{storno_form.id}" }
  - if local_variant?
    = link_to('', "/orders/print_and_finish/#{ storno_form.id }/0", :class => 'iconbutton print_kitchen_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";', :remote => true)
    = link_to '', "/orders/print_and_finish/#{ storno_form.id }/1", :remote => true, :class => 'iconbutton print_bar_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";'
    = link_to '', "/orders/print_and_finish/#{ storno_form.id }/2", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";'
  - else
    = link_to '', "/orders/#{ storno_form.id }.bill", :class => 'iconbutton print_guestroom_button', :title => t(:print)

  = form_for storno_form, :as => :order, :url => "/orders/storno/#{storno_form.id}", :html => { :method => :put, :id => 'storno_form' }, :remote => true do |order_form|
    %h3== #{ t(:invoice) } ##{storno_form.nr}, #{ storno_form.table.name }
    %p= l storno_form.created_at, :format => :long
    %table
      - subtotal = 0
      = order_form.fields_for :items do |item_form|
        - item = item_form.object
        - p = item.real_price
        - p = -p if item.storno_status == 2
        - sum = item.count * p
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        - color = item.storno_status.zero? ? 'transparent' : '#FAA'
        - label = item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
        - label = "%20.20s" % [label]

        %tr{ :style => "background-color: #{color}" }
          %td.count.grey
            - if item.storno_status.zero? and @current_user.role.permissions.include? 'make_storno'
              = link_to item.count, edit_item_path(item), :method => 'get', :remote => true, :title => t('.do_separate_items')
            - else
              = item.count

          %td.label{ :id => "item#{item.id}" }
            - if @current_user.role.permissions.include? 'make_storno'
              = link_to label, item_path(item), :method => 'delete', :remote => true, :title => t('.do_storno')
            - else
              = label
          %td.total{ :style => 'text-align:right' }= number_to_currency sum
  
      %tr
        %td{ :colspan => '2'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
