%div.invoice{ :id => "invoice_#{storno_form.id}" }
  - if local_variant?
    - i = 0
    - @current_company.vendor_printers.available.each do |p|
      - i += 1
      = link_to('', "/orders/print_and_finish/#{ storno_form.id }/#{ p.id }", :remote => true, :class => "iconbutton printinvoice#{ i }_button", :title => "#{ t(:print) } #{ p.name }" )
  - else
    = link_to '', "/orders/print_and_finish/#{ storno_form.id }/1", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t(:print)

  = form_for storno_form, :as => :order, :url => "/orders/storno/#{storno_form.id}", :html => { :method => :put, :id => 'storno_form' }, :remote => true do |order_form|
    %h3== #{ t(:invoice) } ##{storno_form.nr}, #{ storno_form.table.name }
    %p= l storno_form.created_at, :format => :long
    %table
      - subtotal = 0
      = order_form.fields_for :items do |item_form|
        - item = item_form.object
        - sum = item.count * item.real_price
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        - color = item.storno_status.zero? ? 'transparent' : '#FAA'
        - label = item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
        - label = "%20.20s" % [label]

        %tr{ :style => "background-color: #{color}" }
          %td.count.grey
            - if item.storno_status.zero? and @current_user.role.permissions.include? 'make_storno'
              = link_to item.count, edit_item_path(item), :method => 'get', :remote => true, :title => t('.do_separate_items')
            - else
              = item.count

          %td.label{ :id => "item#{item.id}" }
            - if @current_user.role.permissions.include? 'make_storno'
              = link_to label, item_path(item), :method => 'delete', :remote => true, :title => t('.do_storno')
            - else
              = label
          %td.total{ :style => 'text-align:right' }= number_to_currency sum
  
      %tr
        %td{ :colspan => '2'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
