%div.invoice
  = link_to('', "/orders/print_and_finish/#{ storno_form.id }/0", :class => 'iconbutton print_kitchen_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";', :remote => true)
  = link_to '', "/orders/print_and_finish/#{ storno_form.id }/1", :remote => true, :class => 'iconbutton print_bar_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";'
  = link_to '', "/orders/print_and_finish/#{ storno_form.id }/2", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t(:print), :onmouseup => 'this.style.border = "2px solid black";'

  = form_for :order, storno_form, :url => "/orders/storno/#{storno_form.id}", :html => { :method => :put, :id => 'storno_form' }, :remote => true do |order_form|
    %h3== #{ t(:invoice) } ##{storno_form.nr}
    %p= l storno_form.created_at, :format => :long
    %table
      - subtotal = 0
      = order_form.fields_for :items do |item_form|
        - item = item_form.object
        - p = item.real_price
        - p = -p if item.storno_status == 2
        - sum = item.count * p
        - subtotal += sum
        - itemnumber = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]
        - color = ((item.storno_status == 2) or (item.storno_status == 3)) ? '#FAA' : 'transparent'
        - storno_enabled = (item.storno_status.nil? or item.storno_status.zero?)
        - onclick_action = storno_enabled ? "mark_item_for_storno(this.parentNode, #{order_form.object.id}, #{itemnumber})" : ''
        %tr{ :style => "background-color: #{color}" }
          %td.count= link_to item.count, item_path(item.id), :method => 'delete', :remote => true
          - label = item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
          %td.label{ :id => "item#{item.id}", :onclick => onclick_action }= "%20.20s" % [label]
          %td.total{ :style => 'text-align:right' }= number_to_currency sum
          - if storno_enabled
            %input{ :id => "order_items_attributes_#{order_form.object.id}_#{itemnumber}_storno_status", :name => "order[items_attributes][#{itemnumber}][storno_status]", :type => "hidden"} 
  
      %tr
        %td{ :colspan => '2'}
        %td{ :style => 'text-align:right'}
          %b= number_to_currency subtotal
