%h2= t :orders

.Order_index{ :id => 'tables' }
  - @tables.each do |ta|
    - unfinished_orders = Order.find_all_by_finished(false, :conditions => { :table_id => ta.id })
    - c = unfinished_orders.empty? ? 'occupied' : 'vacant'
    %div{ :class => "table #{ c }"}
      = ta.name
      %br
      - if unfinished_orders.empty?
        = link_to 'Neue Bestellung', new_table_order_path(ta)
      - else
        = link_to 'laufende Bestellung', edit_table_order_path(ta, unfinished_orders.last)
