%h2= t :orders

.Order_index{ :id => 'tables' }
  - @tables.each do |ta|
    - unfinished_orders = Order.find_all_by_finished(false, :conditions => { :table_id => ta.id })
    - c = unfinished_orders.empty? ? 'occupied' : 'vacant'
    %div{ :class => "table #{ c }"}
      = ta.name
      %br
      = link_to 'Neue Bestellung', new_table_order_path(ta)
      - unfinished_orders.each do |uo|
        = link_to "##{uo.id}", edit_table_order_path(ta, uo)
        = ' ,' if uo != unfinished_orders.last
