%h2= t('activerecord.models.order.other')

#login{ :style => "display: #{ logged_in? ? 'none' : 'visible' };" }
  = render 'login_form' if not logged_in?

- if logged_in?
  #rooms= render 'rooms'
  #tables= render @tables
  #functions
    #functions_header_index= render 'functions_header_index' if workstation?
    #functions_header_order_form{ :style => 'display: none;' }= render 'functions_header_order_form'
    #functions_header_invoice_form{ :style => 'display: none;' }= render 'functions_header_invoice_form'
  #orderform{ :style => 'display: none;' }= render 'order'
  #invoices
  #functions_footer{ :style => 'display: none;' }
    %img{ :src => '/images/send.gif', :style => 'display:none;' }
    - if workstation?
      %a.iconbutton.scrollup_button{ :onclick => '$("html, body").animate({scrollTop: $("container").height()}, 500);', :title => t(:scroll_up) }
    - else
      = render('functions_footer')
