- if workstation?
  %h2.current_user= @current_user.login

- unless workstation?
  #areas= render 'areas'
#tables= render @tables
#functions
  #functions_header_index= render 'functions_header_index' if workstation?
  #functions_header_order_form{ :style => 'display: none;' }= render 'functions_header_order_form'
  #functions_header_invoice_form{ :style => 'display: none;' }= render 'functions_header_invoice_form'
#orderform{ :style => 'display: none;' }= render 'order_form'

- if permit('see_item_notifications')
  #items_notifications_vendor
    %h3= t '.preparation_list'
    #preparation_list_vendor
    %h3= t '.delivery_list'
    #delivery_list_vendor
  #items_notifications
    %h3= t '.preparation_list'
    #preparation_list
    %h3= t '.delivery_list'
    #delivery_list
    %span.done{ :onclick => "$('#items_notifications').slideUp();" }

#invoices
#functions_footer{ :style => 'display: none;' }= render('functions_header_order_form') if mobile?

#queue
  %a
    %div queue
