#login
  = render 'login_form' if not @current_user

- if @current_user
  #functions= render 'functions'
  %h2= t('activerecord.models.order.other')
  #rooms= render 'rooms'
  #tables= render @tables
  #orderform{ :style => 'display: none;' }= render 'order'
  #invoiceform{ :style => 'display: none;' }= render 'invoice'
  = link_to t(:logout, :who => @current_user.login), session_path, :method => :delete, :class => 'links logout', :style => "background-color: #{ @current_user.color };" if logged_in? and ipod?
  = periodically_call_remote(:url => { :action => 'statusupdate_tables' }, :frequency => 5, :condition => 'tableupdates == true' )
