#login{ :style => "display: #{ logged_in? ? 'none' : 'visible' };" }
  = render 'login_form' if not logged_in?

- if logged_in?
  #functions= render 'functions'
  %h2= t('activerecord.models.order.other')
  #rooms= render 'rooms'
  #tables= render @tables
  #orderform{ :style => 'display: none;' }= render 'order'
  #invoiceform{ :style => 'display: none;' }= render 'invoice'
  = periodically_call_remote(:url => { :action => 'statusupdate_tables' }, :frequency => 5, :condition => 'tableupdates == true' )
