= javascript_include_tag 'orders-generic'
- if workstation?
  = javascript_include_tag 'orders-workstation'

%h2= @current_user.login

#rooms= render 'rooms'
#tables= render @tables
#functions
  #functions_header_index= render 'functions_header_index' if workstation?
  #functions_header_order_form{ :style => 'display: none;' }= render 'functions_header_order_form'
  #functions_header_invoice_form{ :style => 'display: none;' }= render 'functions_header_invoice_form'
#orderform{ :style => 'display: none;' }= render 'order_form'
#invoices
#functions_footer{ :style => 'display: none;' }
  %img{ :src => '/images/send.gif', :style => 'display:none;' }
  - if workstation?
    %a.iconbutton.scrolldown_button{ :onclick => 'scroll_for(200,20);', :title => t(:scroll_down) }
  - else
    = render('functions_footer')
    
#items_notifications
  %h3= t '.preparation_list'
  #preparation_list
  %h3= t '.delivery_list'
  #delivery_list
  %span.done{ :onclick => "$('#items_notifications').slideUp();" }
    
:javascript
  var i18n_server_no_response = '#{ escape_javascript t :server_no_response }';
  var i18n_just_order         = '#{ escape_javascript t :just_order }';
  var i18n_enter_price        = '#{ escape_javascript t :please_enter_item_price }';
  var i18n_enter_comment      = '#{ escape_javascript t :please_enter_item_comment }>';
  var i18n_no_printing        = '#{ escape_javascript t :no_printing }';
  var permission_delete_items = #{ @current_user.role.permissions.include?("delete_items") ? "true" : "false" };
  var permission_decrement_items = #{ @current_user.role.permissions.include?("decrement_items") ? "true" : "false" };
  var i18n_decimal_separator  = '#{ escape_javascript t "number.currency.format.separator" }';
  var i18n_takeaway  = '#{ escape_javascript t "articles.new.takeaway" }';
  var mobile_special = #{ mobile_special? ? "true" : "false" };
  var screenlock_timeout = #{ @current_user.screenlock_timeout };
  var new_item_tablerow = "#{ escape_javascript render :partial => 'items/item_tablerow' }";
  var resources = #{ @current_vendor.resources };
