%script{ :type => 'text/javascript' }= generate_js_variables

- if ipod?
  %a.iconbutton.tables_button{ :onclick => 'document.getElementById("order_action").value="save_and_go_back"; document.itemform.submit();', :onmouseup => 'this.hide();', :title => t(:save_and_go_back) }
  %a.iconbutton.cancel_button{ :href => '/orders', :title => t(:cancel_and_go_back) }
  %a.iconbutton.invoice_button{ :onclick => 'document.getElementById("order_action").value="go_to_invoice"; document.itemform.submit();', :onmouseup => 'this.hide();', :title => t(:finish_order) }

%a.iconbutton.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 10);', :title => t(:scroll_down) }

- path = controller.action_name == 'edit' ? table_order_path(@order.table_id, @order) : table_orders_path
- method = controller.action_name == 'edit' ? 'put' : 'post'

- form_for :order, @order, :url => path, :html => { :method => method, :name => 'itemform' } do |order_form|

  = hidden_field_tag 'order_action', 'not_set'
  = hidden_field_tag 'order[cost_center_id]', @cost_centers.first.id

  %div.waiter
    = order_form.collection_select :user_id, User.all, :id, :login, { :include_blank => !ipod? }


  .order_info
    = @order.id ? "#{Order.human_name} ##{@order.id}" : t('.new')
    %br
    = @order.table.name


  %div#categories
    - @categories.each do |category|
      %div{ :class => "category #{ category.name.delete ' ' }", :style => "background-color: #{category.color}; background-image: url('/images/category_#{category.icon}.png')", :onmousedown => "category_onmousedown(#{ category.id })", :onmouseup => 'category_onmouseup(this)' }
        %div{ :class => "category_label" }
          %span= category.name
  
  
  %div#articles
  
  
  %div#quantities
  

  %div#items
    %div.ordersum_container
      = t '.sum'
      = t 'number.currency.format.unit'
      %input#order_sum{ :value => number_with_precision(@order.sum, :precision => 2) }

    %div#inputfields
      - @parameters = Array.new
      - order_form.fields_for :items do |item_form|
        - item = item_form.object
        - @designator = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1] # nested_attribute_id
        - @sort = item.sort
        - @articleid = item.article_id
        - @price = item.real_price
        - @quantityid = item.quantity_id
        - @count = item.count
        - @comment = item.comment
        - @label = compose_item_label(item)
        - @optionslist = item.optionslist
        - @optionsnames = compose_option_names(item)
        - @optionsselect = compose_option_select(item)

        = render 'items/item_inputfields', :locals => { :sort => @sort, :articleid => @articleid, :quantityid => @quantityid , :itemname => @itemname, :designator => @designator, :count => @count, :comment => @comment, :price => @price, :label => @label, :optionslist => @optionslist, :optionsnames => @optionsnames, :optionsselect => @optionsselect }

        - @parameters << { :designator => @designator, :sort => @sort, :articleid => @articleid, :price => @price, :quantityid => @quantityid, :count => @count, :comment => @comment, :label => @label, :label => @label, :optionslist => @optionslist, :optionsnames => @optionsnames, :optionsselect => @optionsselect }

    %table#itemstable
      - @parameters.each do |@p|
        = render 'items/item_tablerow', :locals => { :sort => @p[:sort], :articleid => @p[:articleid], :quantityid => @p[:quantityid] , :itemname => @p[:itemname], :designator => @p[:designator], :count => @p[:count], :comment => @p[:comment], :price => @p[:price], :label => @p[:label], :optionslist => @p[:optiosnlist], :optionsnames => @p[:optionsnames], :optionsselect => @p[:optionsselect] }


  %div#functions
    %a.iconbutton.tables_button{ :onclick => 'document.getElementById("order_action").value="save_and_go_back"; document.itemform.submit();', :title => t(:save_and_go_back), :onmouseup => 'this.hide();' }

    %select{ :id => "move_order_to_table", :name => "move_order_to_table", :onchange => "hide_tableselect(this); document.getElementById('order_action').value='save_and_go_back'; document.itemform.submit();" }
      = options_from_collection_for_select(Table.all, 'id', 'abbreviation', @order.table.id)

    %a.iconbutton.cash_button{ :onclick => 'document.getElementById("order_action").value="go_to_invoice"; document.itemform.submit();', :onmouseup => 'this.hide();', :title => t(:finish_order) }
    - if not ipod?
      %a.iconbutton.cancel_button{ :href => '/orders', :title => t(:cancel_and_go_back) }




%a.iconbutton.scrollup_button{ :onclick => 'Effect.ScrollTo("categories", 10);', :title => t(:scroll_up) }

%div#footer
