%h2= @order.id ? "#{t :order} ##{@order.id} #{Table.find(@order.table_id).name}" : "#{t :new_order} #{Table.find(@order.table_id).name}"

= error_messages_for 'order'

- path = controller.action_name == 'edit' ? table_order_path(@order.table_id, @order) : table_orders_path
- method = controller.action_name == 'edit' ? 'put' : 'post'

- form_for :order, @order, :url => path, :html => { :method => method } do |order_form|
  %p
    = order_form.label 'User'
    = order_form.collection_select :user_id, User.all, :id, :login, { :include_blank => true }

    = order_form.label :finished
    = order_form.check_box :finished

  %p
    #items
      - order_form.fields_for :items do |item_form|

        - nested_attribute_id = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1]

        %p
          = item_form.label :count, 'Anzahl:'
          %select{ :id => "order_items_attributes_#{ nested_attribute_id }_count", :name => "order[items_attributes][#{ nested_attribute_id }][count]" }
            = options_for_select MyGlobals::predefined_count, item_form.object.count

          = item_form.label :article_id, 'Artikel:'
          %select{ :id => "order_items_attributes_#{ nested_attribute_id }_article_id", :name => "order[items_attributes][#{ nested_attribute_id }][article_id]" }
            %option{ :value => '' }
            = option_groups_from_collection_for_select Category.find(:all), :articles_in_menucard, :name, :id, :name, item_form.object.article_id

          = item_form.label :free
          = item_form.check_box :free

          = item_form.label :partial_order
          = item_form.check_box :partial_order

          -# unless item_form.object.new_record?
          %span
            = item_form.label :_delete, 'Entfernen'
            = item_form.check_box :_delete

  %p= add_item_link 'Artikel hinzufuegen', order_form
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
