%script{ :type => 'text/javascript' }= generate_js_variables

%a.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 10);', :title => t(:scroll_down) }
  %div.iconbutton.scrolldown

- path = controller.action_name == 'edit' ? table_order_path(@order.table_id, @order) : table_orders_path
- method = controller.action_name == 'edit' ? 'put' : 'post'

- form_for :order, @order, :url => path, :html => { :method => method, :name => 'itemform' } do |order_form|

  = hidden_field_tag 'order_action', 'not_set'

  %div.waiter
    = order_form.collection_select :user_id, User.all, :id, :login, { :include_blank => !ipod? }

  .order_info
    = @order.id ? "#{Order.human_name} ##{@order.id}" : t('.new')
    %br
    = @order.table.name


  %div#categories
    - @categories.each do |category|
      %div{ :class => "category #{ category.name.delete ' ' }", :style => "background-color: #{category.color}; background-image: url('/images/category_#{category.icon}.png')", :onmousedown => "category_onmousedown(#{ category.id })", :onmouseup => 'category_onmouseup(this)' }
        %div{ :class => "category_label" }
          %span= category.name
  
  
  %div#articles
    %table#articlestable
  
  
  %div#quantities
    %table#quantitiestable
  

  %div#items
    %div.ordersum_container
      = t '.sum'
      = t 'number.currency.format.unit'
      %input#order_sum{ :value => number_with_precision(@order.sum, :precision => 2) }

    %div#inputfields
      - @parameters = Array.new
      - order_form.fields_for :items do |item_form|
        - item = item_form.object
        - @designator = /order\[items_attributes\]\[(.*)\]/.match(item_form.object_name)[1] # nested_attribute_id
        - @sort = item.sort
        - @articleid = item.article_id
        - @price = item.real_price
        - @quantityid = item.quantity_id
        - @count = item.count
        - @comment = item.comment
        - @label = compose_item_label(item)
        - @options = item.option_ids
        = render 'items/item_inputfields', :locals => { :sort => @sort, :articleid => @articleid, :quantityid => @quantityid , :itemname => @itemname, :designator => @designator, :count => @count, :comment => @comment, :price => @price, :label => @label, :options => @options }
        - @parameters << { :designator => @designator, :sort => @sort, :articleid => @articleid, :price => @price, :quantityid => @quantityid, :count => @count, :comment => @comment, :label => @label, :label => @label, :options => @options }

    %table#itemstable
      - @parameters.each do |@p|
        = render 'items/item_tablerow', :locals => { :sort => @p[:sort], :articleid => @p[:articleid], :quantityid => @p[:quantityid] , :itemname => @p[:itemname], :designator => @p[:designator], :count => @p[:count], :comment => @p[:comment], :price => @p[:price], :label => @p[:label], :options => @p[:options] }


  %div#functions
    %a{ :onclick => 'document.getElementById("order_action").value="save_and_go_back"; document.itemform.submit();', :title => t(:save_and_go_back) }
      %div.iconbutton.tables_button
    
    %a{ :href => '/orders', :title => t(:cancel_and_go_back) }
      %div.iconbutton.cancel_button

    %a{ :onclick => 'document.getElementById("order_action").value="go_to_invoice"; document.itemform.submit();', :title => t(:finish_order) }
      %div.iconbutton.invoice_button

%a.scrollup_button{ :onclick => 'Effect.ScrollTo("categories", 10);', :title => t(:scroll_up) }
  %div.iconbutton.scrollup_button

%div#footer
