= form_for @order, :as => :order, :url => table_order_path(@order.table_id, @order), :html => { :method => :put, :name => 'order_form' } do |order_form|

  = hidden_field_tag 'order_action', 'not_set', :id => "order_action_#{@order.id}"

%div#buttons
  - if local_variant?
    - i = 0
    - @current_company.vendor_printers.existing.each do |p|
      - i += 1
      = link_to('', "/orders/print_and_finish/#{ @order.id }/#{ p.id }", :class => "iconbutton printinvoice#{ i }_button", :title => "#{ t(:print) } #{ p.name }", :remote => true)
  - else
    = link_to '', "/orders/print_and_finish/#{ @order.id }/1", :remote => true, :class => 'iconbutton print_guestroom_button', :title => t(:print)
  %a.iconbutton.print2_button{ :onclick => "window.print()", :title => (t '.print_business_invoice') }
  %a.iconbutton.tables_button{ :href => '/orders', :title => t(:go_back) }
  = link_to '', "/orders/storno/#{@order.id}", :class => 'iconbutton storno_button', :title => t(:storno)
  %a.iconbutton.previous_button{ :href => order_path(@previous_order), :title => (t '.previous_invoice') }
  %a.iconbutton.next_button{ :href => order_path(@next_order), :title => (t '.next_invoice') }
  
%p
  = @current_company.address
  %br
  = @current_company.revenue_service_tax_number

%h1== #{ t 'invoice' } ##{ @order.nr }

= text_field_tag 'customer_data_1'
%br
= text_field_tag 'customer_data_2'
%br
= text_field_tag 'customer_data_3'
%br

%p#cost_center== #{ CostCenter.model_name.human }: #{ (@order.cost_center.name if @order.cost_center) }
%p= t 'served_by_X_on_table_Y', :waiter => @order.user.title, :table => @order.table.name
%p= l @order.created_at, :format => :long


%table.printed_invoice
  %tr
    %th.one= Tax.model_name.human
    %th.two= Item.model_name.human
    %th.three= t '.unit_price'
    %th.four= t '.count'
    %th.five= t '.sum'

  - sum_taxes = Hash.new
  - Tax.all.each { |t| sum_taxes[t.id] = 0 }

  - @order.items.each do |item|
    - sum_taxes[item.tax.id] += item.full_price
    %tr
      %td.one= item.tax.letter
      %td.two= item.quantity_id ? "#{ item.quantity.prefix} #{ item.quantity.article.name} #{ item.quantity.postfix} #{ item.comment}" : "#{ item.article.name } #{ item.comment }"
      %td.three= number_to_currency item.price
      %td.four= item.count
      %td.five= number_to_currency item.total_price

    - item.options.each do |o|
      - next if o.price == 0
      %tr
        %td.one= item.tax.letter
        %td.two= o.name
        %td.three= number_to_currency o.price
        %td.four= item.count
        %td.five= number_to_currency item.total_options_price

  %tr
    %td{ :colspan => 4 }
    %td.five= number_to_currency @order.sum

%p= t '.list_of_taxes'

%table.printed_taxes
  %tr
    %th.one= Tax.model_name.human
    %th.two= Tax.human_attribute_name(:percent)
    %th.three= t(:net)
    %th.four= t(:value_added_tax)
    %th.five= t(:gross)
  - Tax.all.each do |tax|
    - next if sum_taxes[tax.id] == 0
    - fact = tax.percent/100.00
    - net = sum_taxes[tax.id]/(1.00+fact)
    - gro = sum_taxes[tax.id]
    - vat = gro-net
    %tr
      %td.one= tax.letter
      %td.two= number_to_percentage tax.percent, :precision => 0
      %td.three= number_to_currency net
      %td.four= number_to_currency vat
      %td.five= number_to_currency gro

%br
%br

%small Bill Gastro Gastronomiesysteme www.billgastro.com
