%h3== #{ t :order, :count => 1} ##{@order.id}
%p= l @order.created_at, :format => :long
%p== #{ t :served_by } #{ @order.user.login }
%table{ :class => 'order' }
  %tr
    %th{ :style => 'width:30px; text-align:right' }
    %th
    %th{ :style => 'width:90px' }
    %th{ :style => 'width:90px' }
  - subtotal = 0
  - @order.items.each do |item|
    - c = item.count
    - p = item.article.price
    - sum = 0
    - if !item.free
      - sum = c * p
      - subtotal += sum
    %tr
      %td= c
      %td= item.article.name
      %td{ :style => 'text-align:right' }= number_to_currency p
      %td{ :style => 'text-align:right' }= number_to_currency sum.zero? ? "#{t :free}" : sum
  %tr
    %td{ :colspan => '3'}
    %td{ :style => 'text-align:right'}
      %b= number_to_currency subtotal

%a{ :href => "#{order_path(@order)}.bon" }
  %div{ :class => "item_category MainDishes" }Drucken
%a{ :href => orders_path }
  %div{ :class => "item_category MainDishes" }Weiter

= link_to((t :delete), @order, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3
