%h2== #{ t :invoice } ##{ @order.id }

%div#buttons
  %a{ :href => "#{order_path(@order)}.bon", :title => (t '.print_invoice') }
    %img{ :src => '/images/button_print.png' }

  %a{ :href => '#', :onclick => "window.print()", :title => (t '.print_business_invoice') }
    %img{ :src => '/images/button_print2.png' }
  
  %a{ :href => '#', :onclick => "history.back(); return false;", :title => (t '.back') }
    %img{ :src => '/images/button_back.png' }
  
  %a{ :href => "/orders/storno/#{@order.id}", :title => (t :storno) }
    %img{ :src => '/images/button_storno.png' }
  
  %a{ :href => order_path(@previous_order), :title => (t '.next_invoice') }
    %img{ :src => '/images/button_previous.png' }
  
  %a{ :href => order_path(@next_order), :title => (t '.previous_invoice') }
    %img{ :src => '/images/button_next.png' }
  
%h3= t "clients.#{MyGlobals.client}.invoice_title"

%p
  = t "clients.#{MyGlobals.client}.address"
  %br
  = t "clients.#{MyGlobals.client}.tax_number"

%p== #{ t :served_by } #{ @order.user.title } auf #{ @order.table.name }
%p== #{l @order.created_at, :format => :long}

%table.printed_invoice
  %tr
    %th.one= Tax.human_name
    %th.two= Item.human_name
    %th.three= t '.unit_price'
    %th.four= t '.count'
    %th.five= t '.sum'
  - sum_taxes = Array.new(Tax.count, 0)
  - subtotal = 0
  - @order.items.each do |item|
    - c = item.count
    - p = item.quantity_id ? item.quantity.price : item.article.price
    - p = -p if item.storno_status == 2
    - sum = 0
    - sum = c * p
    - subtotal += sum
    - tax_id = item.article.category.tax.id
    - sum_taxes[tax_id-1] += sum
    %tr
      %td.one= "%c" % [tax_id+64]
      %td.two= item.quantity_id ? "#{ item.quantity.article.name} #{ item.quantity.name}" : item.article.name
      %td.three= number_to_currency p
      %td.four= c
      %td.five= number_to_currency sum
  %tr
    %td{ :colspan => 4 }
    %td.five= number_to_currency subtotal

%p= t '.list_of_taxes'

%table.printed_taxes
  %tr
    %th.one= Tax.human_name
    %th.two= Tax.human_attribute_name(:percent)
    %th.three= t(:net)
    %th.four= t(:value_added_tax)
    %th.five= t(:gross)
  - Tax.all.each do |tax|
    - tax_id = tax.id - 1
    - next if sum_taxes[tax_id] == 0
    - fact = tax.percent/100.00
    - net = sum_taxes[tax_id]/(1.00+fact)
    - gro = sum_taxes[tax_id]
    - vat = gro-net
    %tr
      %td.one= "%c:" % [tax.id+64]
      %td.two= number_to_percentage tax.percent, :precision => 0
      %td.three= number_to_currency net
      %td.four= number_to_currency vat
      %td.five= number_to_currency gro
