//%script= download_invoice_js

%div.invoice
  %h3== #{ t :order, :count => 1} ##{@order.id}
  %p= l @order.created_at, :format => :long
  %p== #{ t :served_by } #{ @order.user.login }
  %table{ :class => 'invoice' }
    %tr
      %th{ :style => 'width:30px; text-align:right' }
      %th
      %th{ :style => 'width:90px' }
      %th{ :style => 'width:90px' }
    - subtotal = 0
    - @order.items.each do |item|
      - c = item.count
      - p = item.quantity_id ? item.quantity.price : item.article.price
      - sum = 0
      - sum = c * p
      - subtotal += sum
      %tr
        %td= c
        %td= item.quantity_id ? compose_item_label(item.quantity) : item.article.name
        %td{ :style => 'text-align:right' }= number_to_currency p
        %td{ :style => 'text-align:right' }= number_to_currency sum
    %tr
      %td{ :colspan => '3'}
      %td{ :style => 'text-align:right'}
        %b= number_to_currency subtotal
  
%a{ :href => "#{order_path(@order)}.bon", :title => 'Drucken' }
  %img{ :src => '/images/button_print.png' }
%a{ :href => orders_path, :title => 'Bestellen' }
  %img{ :src => '/images/button_tables.png' }
- if !@order.finished
  %a{ :href => edit_order_path(@order), :title => 'Bearbeiten' }
    %img{ :src => '/images/button_list.png' }
