- form_for :order, @order, :url => table_order_path(@order.table_id, @order), :html => { :method => :put, :name => 'order_form' } do |order_form|

  = hidden_field_tag 'order_action', 'not_set', :id => "order_action_#{@order.id}"

%div#buttons
  %a.iconbutton.print_kitchen_button{ :href => "/orders/print_and_finish/#{ @order.id }/0", :title => t(:print)}
  %a.iconbutton.print_bar_button{ :href => "/orders/print_and_finish/#{ @order.id }/1", :title => t(:print)}
  %a.iconbutton.print_guestroom_button{ :href => "/orders/print_and_finish/#{ @order.id }/2", :title => t(:print)}
  %a.iconbutton.print2_button{ :onclick => "window.print()", :title => (t '.print_business_invoice') }
  %a.iconbutton.tables_button{ :href => "/", :title => t(:go_back) }
  %a.iconbutton.storno_button{ :href => "/orders/storno/#{@order.id}", :title => (t :storno) }
  %a.iconbutton.previous_button{ :href => order_path(@previous_order), :title => (t '.previous_invoice') }
  %a.iconbutton.next_button{ :href => order_path(@next_order), :title => (t '.next_invoice') }
  
%p
  = @client_data[:address]
  %br
  = @client_data[:taxnumber]

%h1== #{ t 'invoice' } ##{ @order.nr }

= text_field_tag 'customer_data_1'
%br
= text_field_tag 'customer_data_2'
%br
= text_field_tag 'customer_data_3'
%br
= text_field_tag 'customer_data_4'
%br

%p#cost_center== #{ CostCenter.human_name }: #{ (@order.cost_center.name if @order.cost_center) }
%p= t 'served_by_X_on_table_Y', :waiter => @order.user.title, :table => @order.table.name
%p= l @order.created_at, :format => :long


%table.printed_invoice
  %tr
    %th.one= Tax.human_name
    %th.two= Item.human_name
    %th.three= t '.unit_price'
    %th.four= t '.count'
    %th.five= t '.sum'
  - sum_taxes = Array.new(Tax.count, 0)
  - subtotal = 0
  - @order.items.each do |item|
    - p = item.real_price
    - p = -p if item.storno_status == 2
    - sum = item.count * p
    - subtotal += sum
    - tax_id = item.article.category.tax.id
    - sum_taxes[tax_id-1] += sum
    %tr
      %td.one= "%c" % [tax_id+64]
      %td.two= item.quantity_id ? "#{ item.quantity.prefix} #{ item.quantity.article.name} #{ item.quantity.postfix} #{ item.comment}" : "#{ item.article.name } #{ item.comment}"
      %td.three= number_to_currency p
      %td.four= item.count
      %td.five= number_to_currency sum
  %tr
    %td{ :colspan => 4 }
    %td.five= number_to_currency subtotal

%p= t '.list_of_taxes'

%table.printed_taxes
  %tr
    %th.one= Tax.human_name
    %th.two= Tax.human_attribute_name(:percent)
    %th.three= t(:net)
    %th.four= t(:value_added_tax)
    %th.five= t(:gross)
  - Tax.all.each do |tax|
    - tax_id = tax.id - 1
    - next if sum_taxes[tax_id] == 0
    - fact = tax.percent/100.00
    - net = sum_taxes[tax_id]/(1.00+fact)
    - gro = sum_taxes[tax_id]
    - vat = gro-net
    %tr
      %td.one= "%c:" % [tax.id+64]
      %td.two= number_to_percentage tax.percent, :precision => 0
      %td.three= number_to_currency net
      %td.four= number_to_currency vat
      %td.five= number_to_currency gro

%br
%br

%small Bill Gastro Gastronomiesysteme www.billgastro.com
