%h1 t :unsettled_orders
%table
  - @unsettled_users.each do |uu|
    %th= uu.login
  %tr
    - @unsettled_users.each do |uu|
      %td= link_to(t('make_settlement'), "#{user_settlements_path(uu)}/new")
  %tr
    - @unsettled_users.each do |uu|
      %td
        - Order.find_all_by_user_id(uu.id, :conditions => { :settlement_id => nil, :finished => true } ).each do |uo|
          %p= link_to "Best. ##{uo.id}", order_path(uo)
