%table.page
  %tr
    %td
      #page
        - @partials.each do |par|
          %div.partial{ :style => "left: #{ par.left }px; top: #{ par.top }px" }= raw @partial_htmls[par.id]
          
    %td#drop_remove
      = text_field_tag 'search_text', 'su', :onclick => 'this.value = "";', :onkeypress => 'enable_articles_search = true;'
      %span#article_name_display_keyboard.display_keyboard
      %ul#search_results
        
:javascript
  var enable_articles_search = false;
  
  $('#drop_remove').droppable({
    hoverClass: 'hover',
    drop: function(event,ui){
      $.ajax({
        type: 'DELETE',
        url: '/partials/' + ui.draggable.attr('model_id'),
        data: 'page_id=#{ @page.id }'
      });
    }
  });
  
    $('#page').droppable({
    hoverClass: 'hover',
    drop: function(event,ui){
      $.ajax({
        type: 'POST',
        url: '/partials/',
        data: 'model_id=' + ui.draggable.attr('model_id') + '&page_id=#{ @page.id }&model=' + ui.draggable.attr('model') + '&partial[left]=' + ui.draggable.position().left + '&partial[top]=' + ui.draggable.position().top
      });
    }          
  });

  window.setInterval(
    function() {
      if (enable_articles_search == true) {
        enable_articles_search = false;
        $.ajax({
          type: 'POST',
          url: '/pages/find',
          data: 'search_text=' + $('#search_text').val()
        });
      }
    }
  , 2000);

  $('#article_name').keyboard( {openOn: '', accepted: function(){ enable_articles_search = true } } );
  $('#article_name_display_keyboard').click(function(){
    $('#article_name').val('');
    $('#article_name').getkeyboard().reveal();
  });
  
