%h2= t '.edit_page'

= link_to (t '.view'), page_path(@page), :class => 'links'

= form_for @page, :html => { :multipart => true } do |page_form|
  %div
    %span.label= page_form.label( 'image', Page.human_attribute_name(:image))
    %span.input_fields= page_form.file_field :image
  %div
    %span.label= page_form.label( 'width', Page.human_attribute_name(:width))
    %span.input_fields= page_form.text_field :width, :size => 4, :class => 'color'
  %div
    %span.label= page_form.label( 'height', Page.human_attribute_name(:height))
    %span.input_fields= page_form.text_field :height
  = submit_tag t :edit
  
%table.page
  %tr
    %td
      #page{ :style => "width: #{ @page.width }; height: #{ @page.height }"}= render :partial => 'page', :locals => { :page => @page, :partial_htmls => @partial_htmls }
    %td#remove
      = text_field_tag 'search_text', 'su', :onclick => 'this.value = "";', :onkeypress => 'enable_articles_search = true;'
      %span#article_name_display_keyboard.display_keyboard
      %ul#search_results
        
:javascript
  var enable_articles_search = false;
  
  $('#remove').droppable({
    hoverClass: 'hover',
    drop: function(event,ui){
      ui.draggable.remove();
      $.ajax({
        type: 'DELETE',
        url: '/partials/' + ui.draggable.attr('partial_id')
      });
    }
  });
  
    $('#page').droppable({
    hoverClass: 'hover',
    drop: function(event,ui){
      if (ui.draggable.attr('type') == 'partial') {
        $.ajax({
          type: 'PUT',
          url: '/partials/' + ui.draggable.attr('partial_id'),
          data: '&partial[left]=' + ui.draggable.position().left + '&partial[top]=' + ui.draggable.position().top
        });
      } else {
        $.ajax({
          type: 'POST',
          url: '/partials/',
          data: 'model_id=' + ui.draggable.attr('model_id') + '&page_id=#{ @page.id }&model=' + ui.draggable.attr('model') + '&type=' + ui.draggable.attr('type') + '&partial[left]=' + ui.draggable.position().left + '&partial[top]=' + ui.draggable.position().top
        });
      }
    }          
  });

  window.setInterval(
    function() {
      if (enable_articles_search == true) {
        enable_articles_search = false;
        $.ajax({
          type: 'POST',
          url: '/pages/find',
          data: 'search_text=' + $('#search_text').val()
        });
      }
    }
  , 2000);

  $('#article_name').keyboard( {openOn: '', accepted: function(){ enable_articles_search = true } } );
  $('#article_name_display_keyboard').click(function(){
    $('#article_name').val('');
    $('#article_name').getkeyboard().reveal();
  });
  
