%h2= t :cost_centers_menu

%table
  %tr
    %th{ :style => 'width:50px' }
    %th{ :style => 'width:50px' }
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:200px' }
    %th{ :style => 'width:100px' }
    %th{ :style => 'width:100px' }
  - @cost_centers.each do |cc|
    %tr
      %td= cc.id
      %td= cc.active
      %td= cc.name
      %td= cc.description
      %td= link_to((t :edit), edit_cost_center_path(cc)) if @current_user.role >= 2
      %td= link_to((t :delete), cc, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3

%p= link_to((t :new), new_cost_center_path) if @current_user.role >= 2
