%h2= @cost_center.new_record? ? (t '.new_cost_center') : (t '.edit_cost_center')

= error_messages_for 'cost_center'

- form_for @cost_center do |cost_center_form|
  %table
    %tr
      %td
        = cost_center_form.label('name',CostCenter.human_attribute_name(:name))
      %td
        = cost_center_form.text_field :name, :size => '10'
    %tr
      %td
        = cost_center_form.label('description', CostCenter.human_attribute_name(:description))
      %td
        = cost_center_form.text_field :description, :size => '20'
    %tr
      %td
        = cost_center_form.label('active', CostCenter.human_attribute_name(:active))
      %td
        = cost_center_form.check_box :active

  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
