%h2== Kostenstelle #{ controller.action_name == 'new' ? (t :new) : (t :edit) }

= error_messages_for 'cost_center'

- form_for @cost_center do |cost_center_form|
  %table
    %tr
      %td
        = cost_center_form.label('name',"#{t :name}*")
      %td
        = cost_center_form.text_field :name, :size => '10'
    %tr
      %td
        = cost_center_form.label('description', "#{t :description}")
      %td
        = cost_center_form.text_field :description, :size => '20'
    %tr
      %td
        = cost_center_form.label('active', "#{t :active}")
      %td
        = cost_center_form.check_box :active

  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
