- id = /company\[vendor_printers_attributes\]\[(.*)\]/.match(f.object_name)[1]
%div
  %span= f.label :name, VendorPrinter.human_attribute_name(:name)
  %span= f.text_field :name

  %select#company_printer_kitchen{ :name => "company[vendor_printers_attributes][#{ id }][path]" }
    = options_for_select BillGastro::Application::DEVICE_NODES, f.object.path

  - unless f.object.new_record?
    %td= f.label('hidden', VendorPrinter.human_attribute_name(:hidden))
    %td= f.check_box :hidden
