%h1= Company.model_name.human

%p#backup_database= link_to t('.backup_database'), 'companies/backup_database'
%p#backup_logfile= link_to t('.backup_logfile'), 'companies/backup_logfile'

= form_for @current_company do |company_form|
  %div#company_data
    %p
      = company_form.label :name, Company.human_attribute_name(:name)
      = company_form.text_field :name
    %p
      = company_form.label :invoice_subtitle, Company.human_attribute_name(:invoice_subtitle)
      = company_form.text_field :invoice_subtitle
    %p
      = company_form.label :address, Company.human_attribute_name(:address)
      = company_form.text_field :address
    %p
      = company_form.label :revenue_service_tax_number, Company.human_attribute_name(:revenue_service_tax_number)
      = company_form.text_field :revenue_service_tax_number
    %p
      = company_form.label :invoice_slogan1, Company.human_attribute_name(:invoice_slogan1)
      = company_form.text_field :invoice_slogan1
    %p
      = company_form.label :invoice_slogan2, Company.human_attribute_name(:invoice_slogan2)
      = company_form.text_field :invoice_slogan2
    %p
      = company_form.label :bank_account1, Company.human_attribute_name(:bank_account1)
      = company_form.text_field :bank_account1
    %p
      = company_form.label :bank_account2, Company.human_attribute_name(:bank_account2)
      = company_form.text_field :bank_account2
    %p
      = company_form.label :internet_address, Company.human_attribute_name(:internet_address)
      = company_form.text_field :internet_address
    %p
      = company_form.label :email, Company.human_attribute_name(:email)
      = company_form.text_field :email
    %p
      = company_form.label :country, Company.human_attribute_name(:country)
      %select#category_color{ :name => 'company[country]' }
        - BillGastro::Application::COUNTRIES.each do |key, val|
          %option{ :value => key, :selected => company_form.object.country == key }= t val
    %p
      = company_form.label :time_offset, Company.human_attribute_name(:time_offset)
      = company_form.text_field :time_offset, :size => 2

    - if saas_variant?
      %p
        = company_form.label :automatic_printing, Company.human_attribute_name(:automatic_printing)
        = company_form.check_box :automatic_printing

  - if local_variant?
    %div#company_printers
      %h3= t('activerecord.models.vendor_printer.other')
      %p#add_printer
        %a= t '.add_printer'
      = company_form.fields_for :vendor_printers, company_form.object.vendor_printers.available do |f|
        = render :partial => 'vendor_printer', :locals => { :f => f }
      %script== var printer_template = '#{ generate_template(company_form, :vendor_printers) }'

  %p= submit_tag t :edit


:javascript
  $('#add_printer').click(function(){
    var new_printer_id = new Date().getTime();
    $('#company_printers').append(printer_template.replace(/NEW_RECORD/g, 'new_' + new_printer_id));
  });
