<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :party_size %><br />
    <%= f.text_field :party_size %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :table %><br />
    <%= f.text_field :table %>
  </div>
  <div class="field">
    <%= f.label :diet_restrictions %><br />
    <%= f.text_area :diet_restrictions %>
  </div>
  <div class="field">
    <%= f.label :occasion %><br />
    <%= f.text_field :occasion %>
  </div>
  <div class="field">
    <%= f.label :honor %><br />
    <%= f.text_field :honor %>
  </div>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_area :allergies %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.text_area :other %>
  </div>
  <div class="field">
    <%= f.label :menu_selection %><br />
    <%= f.text_area :menu_selection %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
