- if @vendor.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @vendor.errors.size, :model => Vendor.model_name.human
    %ul
      - @vendor.errors.full_messages.each do |msg|
        %li= msg


= form_for nest_image(@vendor), :html => { :multipart => true, :class => 'vendor_form' } do |vendor_form|
  .image
    = vendor_form.label :logo
    %img.asset{ :src => @vendor.image('logo') }
    = vendor_form.label :invoice_logo
    %img.asset{ :src => @vendor.image('invoice_logo') }
  %p= submit_tag @vendor.new_record? ? (t :create) : (t :edit)
  %table
    %tr
      %td
        = vendor_form.fields_for :images do |image_form|
          = vendor_form.label image_form.object.image_type.to_s
          = image_form.file_field :file_data
          = image_form.hidden_field :image_type
          %br
        = vendor_form.label :rlogo_header
        = vendor_form.file_field :rlogo_header
        %br
        = vendor_form.label :rlogo_footer
        = vendor_form.file_field :rlogo_footer

        %br
        = vendor_form.label :country
        %select#category_color{ :name => 'vendor[country]' }
          - SalorGastro::Application::COUNTRIES.each do |key, val|
            %option{ :value => key, :selected => vendor_form.object.country == key }= t val
        %br
        = vendor_form.label :time_offset
        = vendor_form.text_field :time_offset, :size => 2

        %br
        = vendor_form.label :receipt_header_blurb
        = vendor_form.text_area :receipt_header_blurb
        %br
        = vendor_form.label :receipt_footer_blurb
        = vendor_form.text_area :receipt_footer_blurb
        %br
        = vendor_form.label :invoice_header_blurb
        = vendor_form.text_area :invoice_header_blurb
        %br
        = vendor_form.label :invoice_footer_blurb
        = vendor_form.text_area :invoice_footer_blurb

      %td
        = vendor_form.check_box :use_order_numbers
        = vendor_form.label :use_order_numbers
        %br
        = vendor_form.check_box :ticket_wide_font
        = vendor_form.label :ticket_wide_font
        %br
        = vendor_form.check_box :ticket_tall_font
        = vendor_form.label :ticket_tall_font
        %br
        = vendor_form.check_box :ticket_item_separator
        = vendor_form.label :ticket_item_separator
        %br
        = vendor_form.check_box :ticket_display_time_order
        = vendor_form.label :ticket_display_time_order, :class => 'wide'
        - if saas_pro_variant?
          %br
            = vendor_form.label :automatic_printing
            = vendor_form.check_box :automatic_printing

        - if local_variant?
          %div#vendor_printers
            %h3= t('activerecord.models.vendor_printer.other')
            %p#add_printer
              %span.link= t '.add_printer'
            = vendor_form.fields_for :vendor_printers, vendor_form.object.vendor_printers.existing do |f|
              = render :partial => 'vendor_printer', :locals => { :f => f }
            %script== var printer_template = '#{ generate_template(vendor_form, :vendor_printers) }'


:javascript
  $('#add_printer').click(function(){
    var new_printer_id = new Date().getTime();
    $('#vendor_printers').append(printer_template.replace(/NEW_RECORD/g, 'new_' + new_printer_id));
  });
