%h1= Company.model_name.human

- if @current_company.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @current_company.errors.size, :model => Company.model_name.human
    %ul
      - @current_company.errors.full_messages.each do |msg|
        %li= msg

= form_for nest_image(@current_company), :html => { :multipart => true } do |company_form|
  %div#company_data
    %p= submit_tag t :edit
    %br
    %p
      = company_form.fields_for :images do |image_form|
        = image_form.label :logo, Company.human_attribute_name(:logo)
        = image_form.file_field :file_data, :size => 15
    %p
      = company_form.label :name, Company.human_attribute_name(:name)
      = company_form.text_field :name, :size => 30
    %p
      = company_form.label :invoice_subtitle, Company.human_attribute_name(:invoice_subtitle)
      = company_form.text_field :invoice_subtitle, :size => 30
    %p
      = company_form.label :address, Company.human_attribute_name(:address)
      = company_form.text_field :address, :size => 30
    %p
      = company_form.label :revenue_service_tax_number, Company.human_attribute_name(:revenue_service_tax_number)
      = company_form.text_field :revenue_service_tax_number, :size => 30
    %p
      = company_form.label :invoice_slogan1, Company.human_attribute_name(:invoice_slogan1)
      = company_form.text_field :invoice_slogan1, :size => 30
    %p
      = company_form.label :invoice_slogan2, Company.human_attribute_name(:invoice_slogan2)
      = company_form.text_field :invoice_slogan2, :size => 30
    %p
      = company_form.label :bank_account1, Company.human_attribute_name(:bank_account1)
      = company_form.text_field :bank_account1, :size => 30
    %p
      = company_form.label :bank_account2, Company.human_attribute_name(:bank_account2)
      = company_form.text_field :bank_account2, :size => 30
    %p
      = company_form.label :internet_address, Company.human_attribute_name(:internet_address)
      = company_form.text_field :internet_address, :size => 30
    %p
      = company_form.label :email, Company.human_attribute_name(:email)
      = company_form.text_field :email, :size => 30
    %p
      = company_form.label :country, Company.human_attribute_name(:country)
      %select#category_color{ :name => 'company[country]' }
        - BillGastro::Application::COUNTRIES.each do |key, val|
          %option{ :value => key, :selected => company_form.object.country == key }= t val
    %p
      = company_form.label :time_offset, Company.human_attribute_name(:time_offset)
      = company_form.text_field :time_offset, :size => 2
    %p
      = company_form.label :res_fetch_url, I18n.t("activerecord.attributes.company.res_fetch_url")
      = company_form.text_field :res_fetch_url, :size => 55
    %p
      = company_form.label :res_confirm_url, I18n.t("activerecord.attributes.company.res_confirm_url")
      = company_form.text_field :res_confirm_url, :size => 55
    %p
      = company_form.label :use_order_numbers, Company.human_attribute_name(:use_order_numbers)
      = company_form.check_box :use_order_numbers

    - if saas_pro_variant?
      %p
        = company_form.label :automatic_printing, Company.human_attribute_name(:automatic_printing)
        = company_form.check_box :automatic_printing

  - if local_variant?
    %div#company_printers
      %h3= t('activerecord.models.vendor_printer.other')
      %p#add_printer
        %span.link= t '.add_printer'
      = company_form.fields_for :vendor_printers, company_form.object.vendor_printers.existing do |f|
        = render :partial => 'vendor_printer/vendor_printer', :locals => { :f => f }
      %script== var printer_template = '#{ generate_template(company_form, :vendor_printers) }'

- if not demo_variant?
  %p#backup_database= link_to t('.backup_database'), 'companies/backup_database'
  %p#backup_logfile= link_to t('.backup_logfile'), 'companies/backup_logfile'


:javascript
  $('#add_printer').click(function(){
    var new_printer_id = new Date().getTime();
    $('#company_printers').append(printer_template.replace(/NEW_RECORD/g, 'new_' + new_printer_id));
  });
