%h2= t('activerecord.models.vendors.other')

%p
  = link_to(t(:new), new_vendor_path, :class => 'links')

%table
  %tr
    %th{ :width => '150px' }
    %th{ :width => '150px' }
    %th{ :width => '50px' }
  - @vendors.each do |v|
    %tr
      %td= link_to v.name, vendor_path(v)
      %td= link_to t('.edit'), edit_vendor_path(v)
      %td= link_to image_tag('button_small_delete.png', :title => Vendor.human_attribute_name(:hidden), :alt => Vendor.human_attribute_name(:hidden)), vendor_path(v), :method => :delete, :confirm => t(:are_you_sure)
