%h3== #{ t :order, :count => 1} ##{order.id}
%p= l order.created_at, :format => :long
%table{ :class => 'invoice' }
  %tr
    %th{ :style => 'width:30px; text-align:right' }
    %th
    %th{ :style => 'width:90px' }
    %th{ :style => 'width:90px' }
    %th{ :style => 'width:30px' }
  - subtotal = 0
  - order.items.each do |item|
    - c = item.count
    - p = item.quantity_id ? item.quantity.price : item.article.price
    - sum = 0
    - sum = c * p
    - subtotal += sum
    %tr
      %td= c
      %td= item.quantity_id ? compose_item_label(item.quantity) : item.article.name
      %td{ :style => 'text-align:right' }= number_to_currency p
      %td{ :style => 'text-align:right' }= number_to_currency sum
      %td{ :style => 'text-align:right' }a
  %tr
    %td{ :colspan => '3'}
    %td{ :style => 'text-align:right'}
      %b= number_to_currency subtotal
