- use_attributes_for_mobile = (params[:mobile_drag_and_drop] or mobile?)

- width   = table.width
- height  = width
- left    = use_attributes_for_mobile ? table.left_mobile   : table.left
- top     = use_attributes_for_mobile ? table.top_mobile    : table.top

- color_style = "background-color: #{ table.user.color }" if table.user
- status = table.user ? 'occupied' : 'vacant'

%div{ :id => "table#{table.id}", :class => "table #{status}", :style => "width:#{width}px;height:#{height}px;left:#{left}px;top:#{top}px;position:absolute;font-size:small;#{color_style}"}
  - if session[:admin_interface] == true or params[:mobile_drag_and_drop]
    %div.handle_for_table{ :id => "handle_for_table#{table.id}", :src => 'images/drag_handle.png', :style => 'cursor:move' }= table.abbreviation
    - left_attribute = use_attributes_for_mobile ? 'left_mobile' : 'left'
    - top_attribute = use_attributes_for_mobile ? 'top_mobile' : 'top'
    = draggable_element "table#{table.id}", :revert => "function(el){new Ajax.Request('/tables/#{table.id}', {method: 'put', parameters:'table[#{left_attribute}]=' + document.getElementById('table#{table.id}').style.left + '&table[#{top_attribute}]=' + document.getElementById('table#{table.id}').style.top }); return false;}", :handle => "'handle_for_table#{table.id}'"
  - elsif Order.last and Order.last.credit < 1 and not table.user
    = table.abbreviation
  - else
    %a{ :onmousedown => "go_to_order_form_preprocessing(#{ table.id })" }= table.abbreviation
