- unfinished_orders = Order.find_all_by_finished(false, :conditions => { :table_id => table.id })
- color = unfinished_orders.empty? ? 'occupied' : 'vacant'

%div{ :id => "table#{table.id}", :class => "table #{color}", :style => "width:#{table.width}px;height:#{table.height}px;left:#{table.left}px;top:#{table.top}px;position:absolute;font-size:small;"}

  = draggable_element "table#{table.id}", :revert => "function(el){new Ajax.Request('tables/update', {parameters:'id=#{table.id}&table[left]=' + Position.page(el)[0] + '&table[top]=' + Position.page(el)[1] + '&pageyoffset=' + window.pageYOffset + '&pagexoffset=' + window.pageXOffset }); return false;}"

  - if unfinished_orders.empty?
    %a{ :href => new_table_order_path(table) }
      %div.bigtablename= table.name

  - else
    %a{ :href => "#{new_table_order_path(table)}" }
      %div.smalltablename= table.name

    - unfinished_orders.each do |uo|
      %span.orderid= link_to "##{uo.id}", edit_table_order_path(table, uo)
      = ' ,' if uo != unfinished_orders.last

      //= link_to( (t :new_order), new_table_order_path(table))
      //table_path(table)
