- unfinished_orders = Order.find_all_by_finished(false, :conditions => { :table_id => table.id })
- status = unfinished_orders.empty? ? 'vacant' : 'occupied'

- if unfinished_orders.size == 0
  - path = new_table_order_path(table)
- elsif unfinished_orders.size == 1
  - path = edit_table_order_path(table, unfinished_orders.first.id)
- else
  - path = table_path(table)

- width  = ipod? ? table.width_ipod  : table.width
- height = ipod? ? table.height_ipod : table.height
- left   = ipod? ? table.left_ipod   : table.left
- top    = ipod? ? table.top_ipod    : table.top

- color_style = "background-color: #{ unfinished_orders.first.user.color }" if !unfinished_orders.empty?
%div{ :id => "table#{table.id}", :class => "table #{status}", :style => "width:#{width}px;height:#{height}px;left:#{left}px;top:#{top}px;position:absolute;font-size:small;#{color_style}"}
  - if session[:admin_interface] == true
    %div.handle_for_table{ :id => "handle_for_table#{table.id}", :src => 'images/drag_handle.png', :style => 'cursor:move' } 
  %a{ :href => path }
    %div.bigtablename= table.name

- width_attribute = ipod? ? 'width_ipod' : 'width'
- height_attribute = ipod? ? 'height_ipod' : 'height'
- left_attribute = ipod? ? 'left_ipod' : 'left'
- top_attribute = ipod? ? 'top_ipod' : 'top'

= draggable_element "table#{table.id}", :revert => "function(el){new Ajax.Request('tables/update', {parameters:'id=#{table.id}&table[#{left_attribute}]=' + document.getElementById('table#{table.id}').style.left + '&table[#{top_attribute}]=' + document.getElementById('table#{table.id}').style.top }); return false;}", :handle => "'handle_for_table#{table.id}'" if (session[:admin_interface] == true or ipod?)
