%h2= t('activerecord.models.table.other')

%p
  = link_to(t(:new), new_table_path, :class => 'links')
  = link_to 'iPod', '/tables/ipod?ipod_drag_and_drop=', :class => 'links'

%table
  %tr
    %th{ :width => '100px' }
    %th{ :width => '250px' }
    %th{ :width => '120px' }
  - @tables.each do |ta|
    %tr
      %td= link_to ta.name, edit_table_path(ta)
      %td= ta.description
      %td= link_to(t(:delete), ta, :confirm => t(:are_you_sure), :method => :delete)
