%h2= @table.new_record? ? (t '.new_table') : (t '.edit_table')

- if @table.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @table.errors.size, :model => Table.model_name.human
    %ul
      - @table.errors.full_messages.each do |msg|
        %li= msg

= form_for @table do |table_form|
  %table
    %tr
      %td= table_form.label :name, Table.human_attribute_name(:name)
      %td
        = table_form.text_field :name, :size => '20'
        %span#table_name_display_keyboard.display_keyboard
    %tr
      %td= table_form.label :description, Table.human_attribute_name(:description)
      %td
        = table_form.text_field :description, :size => '20'
        %span#table_description_display_keyboard.display_keyboard
    %tr
      %td= table_form.label :abbreviation, Table.human_attribute_name(:abbreviation)
      %td
        = table_form.text_field :abbreviation, :size => '20'
        %span#table_abbreviation_display_keyboard.display_keyboard
    %tr
      %td= table_form.label :width, Table.human_attribute_name(:width)
      %td
        = table_form.text_field :width, :size => '10'
        %span#table_width_display_keyboard.display_keyboard
    %tr
      %td= table_form.label :height, Table.human_attribute_name(:height)
      %td
        = table_form.text_field :height, :size => '10'
        %span#table_height_display_keyboard.display_keyboard
    %tr
      %td= table_form.label :enabled, Table.human_attribute_name(:enabled)
      %td= table_form.check_box :enabled
    %tr
      %td= table_form.label :hidden, Table.human_attribute_name(:hidden)
      %td= table_form.check_box :hidden
    %tr
      %td
      %td= table_form.hidden_field :top, :size => '10'
    %tr
      %td
      %td= table_form.hidden_field :left, :size => '10'

  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )

:javascript
  $('#table_name').keyboard( {openOn: '' } );
  $('#table_name_display_keyboard').click(function(){
    $('#table_name').getkeyboard().reveal();
  });

  $('#table_description').keyboard( {openOn: '' } );
  $('#table_description_display_keyboard').click(function(){
    $('#table_description').getkeyboard().reveal();
  });

  $('#table_abbreviation').keyboard( {openOn: '' } );
  $('#table_abbreviation_display_keyboard').click(function(){
    $('#table_abbreviation').getkeyboard().reveal();
  });

  $('#table_width').keyboard( {openOn: '', layout: 'num' } );
  $('#table_width_display_keyboard').click(function(){
    $('#table_width').getkeyboard().reveal();
  });

  $('#table_height').keyboard( {openOn: '', layout: 'num' } );
  $('#table_height_display_keyboard').click(function(){
    $('#table_height').getkeyboard().reveal();
  });
