%label.wide{ :for => "sortby" }= t ".sort_by"
%br
%select#sortby{ :name => "sortby", :onchange => "statistics_submit();" }
  %option{ :value => "article_name" }= t ".article_name"
  %option{ :value => "quantity_name" }= t ".quantity_name"
  %option{ :value => "tax" }= t ".tax"
  %option{ :value => "category" }= t ".category"
  %option{ :value => "count" }= t ".count"
  %option{ :value => "sum" }= t ".sum"

%table.settlements.statistics
  %tr
    %th.bb
      %a= t :article_name
    %th.bb= t ".quantity_name"
    %th.bb= t ".tax"
    %th.bb= t ".category"
    %th.bb= t ".count"
    %th.bb= t ".sum"
  - @data.each do |id, data|
    - next if data[:count].zero?
    %tr
      %td= data[:article_name]
      %td= data[:quantity_name]
      %td= data[:tax]
      %td= data[:category]
      %td= data[:count]
      %td= data[:sum]