%table.settlements.statistics
  %tr
    %th.bb= t '.hour'
    %th.bb= t :sum
    %th.bb.bar
      %select{ :name => 'weekday', :onchange => '$("#statisticform").submit()', :value => @weekday }
        %option
        - i = 0
        - @days.each do |day|
          - if i == @weekday
            %option{ :value => i, :selected => 1 }= day
          - else
            %option{ :value => i }= day
          - i += 1
  - sums = []
  - 0.upto(23).each do |hour|
    - if @weekday
      - sums[hour] =  @current_vendor.orders.existing.where(:paid => true, :user_id => @uids, :cost_center_id => @csids, :created_at => @from..@to).where("HOUR(DATE_ADD(finished_at, INTERVAL '#{ @current_vendor.total_utc_offset_hours }' HOUR)) = #{hour} AND WEEKDAY(DATE_ADD(finished_at, INTERVAL '#{ @current_vendor.total_utc_offset_hours }' HOUR)) = #{@weekday}").sum(:sum)
    - else
      - sums[hour] = @current_vendor.orders.existing.where(:paid => true, :user_id => @uids, :cost_center_id => @csids, :created_at => @from..@to).where("HOUR(DATE_ADD(finished_at, INTERVAL '#{ @current_vendor.total_utc_offset_hours }' HOUR)) = '#{hour}'").sum(:sum)
    - sums[hour] ||= 0
  - stripped_sums = sums.clone
  - stripped_sums.delete(nil)
  - maximum = stripped_sums.sort.last
  - 0.upto(23).each do |hour|
    %tr
      %td== #{hour}:00
      %td= number_to_currency sums[hour]
      %td
        .statistics_bar{ :style => "width:#{2 + 200 * sums[hour]/maximum}px" }