%table.settlements.statistics
  %tr
    %th.bb= PaymentMethod.model_name.human
    %th.bb= t :sum
    %th.bb.bar
  - sums = []
  - total = 0
  - i = 0
  - @payment_methods.each do |pm|
    - next if pm.change == true
    - if pm.cash == true
      - sums[i] =  @current_vendor.payment_method_items.existing.where(:user_id => @uids, :cash => true, :cost_center_id => @csids, :settlement_id => @sids, :refunded => nil).sum(:amount) - @current_vendor.payment_method_items.existing.where(:user_id => @uids, :cash => true, :cost_center_id => @csids, :settlement_id => @sids, :refunded => true).sum(:amount) - @current_vendor.payment_method_items.existing.where(:user_id => @uids, :change => true, :cost_center_id => @csids, :settlement_id => @sids).sum(:amount)
      - total += sums[i]
      - i += 1
    - elsif pm.change != true
      - sums[i] = @current_vendor.payment_method_items.existing.where(:user_id => @uids, :payment_method_id => pm, :cost_center_id => @csids, :settlement_id => @sids, :refunded => nil).sum(:amount) - @current_vendor.payment_method_items.existing.where(:user_id => @uids, :payment_method_id => pm, :cost_center_id => @csids, :settlement_id => @sids, :refunded => true).sum(:amount)
      - total += sums[i]
      - i += 1  

  - maximum = sums.sort.last
  - i = 0
  - @payment_methods.each do |pm|
    - next if pm.change == true
    %tr
      %td= pm.name
      %td= number_to_currency sums[i]
      %td
        .statistics_bar{ :style => "width:#{2 + 200 * sums[i]/maximum}px" }
    - i += 1
  %tr
    %td= I18n.t(:sum)
    %td= number_to_currency total
    %td