%table.settlements.statistics
  %tr
    %th.bb= PaymentMethod.model_name.human
    %th.bb= t :sum
    %th.bb.bar
  - sums = []
  - i = 0
  - @payment_methods.each do |pm|
    - sums[i] =  @current_vendor.payment_method_items.existing.where(:user_id => @uids, :payment_method_id => pm, :cost_center_id => @csids, :created_at => @from..@to).sum(:amount)
    - i += 1
  - maximum = sums.sort.last
  - i = 0
  - @payment_methods.each do |pm|
    %tr
      %td= pm.name
      %td= number_to_currency sums[i]
      %td
        .statistics_bar{ :style => "width:#{2 + 200 * sums[i]/maximum}px" }
    - i += 1