%table.settlements.statistics
  %tr
    %th.bb= Article.model_name.human
    %th.bb= t :tax
    %th.bb= t :count
    %th.bb= t :sum
  - @articles.each do |article|
    - sold_quantity = @current_vendor.items.existing.where(:refunded => nil, :article_id => article.id, :settlement_id => @sids, :user_id => @uids, :cost_center_id => @csids).sum(:count)
    - total = @current_vendor.items.existing.where(:refunded => nil, :article_id => article.id, :settlement_id => @sids, :user_id => @uids, :cost_center_id => @csids).sum(:sum)
    - next if sold_quantity.zero?
    %tr
      %td= article.name
      %td= article.taxes.first.name
      %td= sold_quantity
      %td= number_to_currency total
      
%table.settlements.statistics
  %tr
    %th.bb= Quantity.model_name.human
    %th.bb= t :tax
    %th.bb= t :count
    %th.bb= t :sum
  - @quantities.each do |quantity|
    - sold_quantity = @current_vendor.items.existing.where(:refunded => nil, :quantity_id => quantity.id, :settlement_id => @sids, :user_id => @uids, :cost_center_id => @csids).sum(:count)
    - total = @current_vendor.items.existing.where(:refunded => nil, :quantity_id => quantity.id, :settlement_id => @sids, :user_id => @uids, :cost_center_id => @csids).sum(:sum)
    - next if sold_quantity.zero?
    %tr
      %td== #{ quantity.prefix } #{ quantity.article.name } #{ quantity.postfix }
      %td= quantity.article.taxes.first.name
      %td= sold_quantity
      %td= number_to_currency total