%table.settlements.statistics
  %tr
    %th.bb= Table.model_name.human
    %th.bb= t :sum
    %th.bb.bar
  - sums = []
  - i = 0
  - @tables.each do |table|
    - sums[i] =  @current_vendor.orders.existing.where(:paid => true, :user_id => @uids, :table_id => table, :cost_center_id => @csids, :settlement_id => @sids).sum(:sum)
    - i += 1
  - maximum = sums.sort.last
  - i = 0
  - @tables.each do |table|
    %tr
      %td= table.name
      %td= number_to_currency sums[i]
      %td
        .statistics_bar{ :style => "width:#{2 + 200 * sums[i]/maximum}px" }
    - i += 1