%h2== #{ t 'statistic' } #{ t 'activerecord.models.article.other' }

= render 'menu'

- form_tag '/statistics/articles' do
  = render 'date_form'

%h3== #{ t 'activerecord.models.article.other' }

%table{ :style => 'border-collapse: collapse;' }
  %tr
    %th{ :width => '20px' } ID
    %th{ :width => '300px', :style => 'text-align: right;' }= Article.human_attribute_name(:description)
    %th{ :width => '50px' }
  - @articles_by_sort.each do |ar|
    %tr
      %td{ :style => 'text-align: right;' }= ar.id
      %td{ :style => 'text-align: right;' }= ar.name
      %td{ :style => 'text-align: right;' }= ar.sort

%h3== #{ t 'activerecord.models.quantity.other' }

%table{ :style => 'border-collapse: collapse;' }
  %tr
    %th{ :width => '20px' } ID
    %th{ :width => '300px', :style => 'text-align: right;' }= Quantity.human_attribute_name(:description)
    %th{ :width => '50px' }
  - @quantities_by_sort.each do |q|
    %tr
      %td{ :style => 'text-align: right;' }= q.article.id if q.article
      %td{ :style => 'text-align: right;' }== #{ q.prefix } #{ q.article.name } #{ q.postfix }
      %td{ :style => 'text-align: right;' }= q.sort
