%h2= t 'various.statistics'
- if @current_company.mode == 'local' and @current_vendor.vendor_printers.existing.any?
  %a.iconbutton.print2_button{ :onclick => "print_statistics()" }
  
= form_tag statistics_path, :method => :get do
  = submit_tag t(:display)
  = label 'from', t('settlements.index.start_date'), :class => 'right'
  = select_date(@from, :prefix => 'from', :order => [:year, :month, :day])
  = label 'to', t('settlements.index.end_date'), :class => 'right'
  = select_date(@to, :prefix => 'to', :order => [:year, :month, :day])
  - if @cost_centers.any?
    = label 'cc', CostCenter.model_name.human, :class => 'right'
    %select{ :name => 'cost_center_id', :onchange => '$("form").submit()' }
      %option{ :value => '' }= t ('settlements.index.all_cost_centers')
      - selected_id = @selected_cost_center ? @selected_cost_center.id.to_s : ''
      = options_from_collection_for_select(@cost_centers, :id, :name, selected_id)

  .clear
  
  - if permit('statistics_weekday')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= t '.weekday'
        %th.bb= t :sum
        %th.bb
      - i = 0
      - sums = []
      - @days.each do |day|
        - sums[i] = Order.where(:settlement_id => @settlement_ids, :cost_center_id => @scids).where("WEEKDAY(finished_at) = #{i}").sum(:sum)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @days.each do |day|
        %tr
          %td= day
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1

  - if permit('statistics_hour')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= t '.hour'
        %th.bb= t :sum
        %th.bb
          %select{ :name => 'weekday', :onchange => '$("form").submit()', :value => @weekday }
            %option
            - i = 0
            - @days.each do |day|
              - if i == @weekday
                %option{ :value => i, :selected => 1 }= day
              - else
                %option{ :value => i }= day
              - i += 1
      - sums = []
      - 8.upto(23).each do |hour|
        - if @weekday
          - sums[hour] = Order.where(:settlement_id => @settlement_ids, :cost_center_id => @scids).where("HOUR(finished_at) = #{hour} AND WEEKDAY(finished_at) = #{@weekday}").sum(:sum)
        - else
          - sums[hour] = Order.where(:settlement_id => @settlement_ids, :cost_center_id => @scids).where("HOUR(finished_at) = #{hour}").sum(:sum)
        - sums[hour] ||= 0
      - stripped_sums = sums.clone
      - stripped_sums.delete(nil)
      - maximum = stripped_sums.sort.last
      - 8.upto(23).each do |hour|
        %tr
          %td== #{hour}:00
          %td= number_to_currency sums[hour]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[hour]*100/maximum}px" }

  - if permit('statistics_table')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= Table.model_name.human
        %th.bb= t :sum
        %th.bb
      - sums = []
      - i = 0
      - @tables.each do |table|
        - sums[i] = Order.where(:settlement_id => @settlement_ids, :table_id => table, :cost_center_id => @scids).sum(:sum)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @tables.each do |table|
        %tr
          %td= table.name
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1

  - if permit('statistics_category')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= Category.model_name.human
        %th.bb= t :sum
        %th.bb
      - sums = []
      - i = 0
      - @categories.each do |cat|
        - sums[i] = Item.where(:settlement_id => @settlement_ids, :category_id => cat, :cost_center_id => @scids).sum(:sum)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @categories.each do |cat|
        %tr
          %td= cat.name
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1
        
  - if permit('statistics_statistic_category')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= StatisticCategory.model_name.human
        %th.bb= t :sum
        %th.bb
      - sums = []
      - i = 0
      - @statistic_categories.each do |cat|
        - sums[i] = Item.where(:settlement_id => @settlement_ids, :statistic_category_id => cat, :cost_center_id => @scids).sum(:sum)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @statistic_categories.each do |cat|
        %tr
          %td= cat.name
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1

  - if permit('statistics_payment_method')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= PaymentMethod.model_name.human
        %th.bb= t :sum
        %th.bb
      - sums = []
      - i = 0
      - @payment_methods.each do |pm|
        - sums[i] = PaymentMethodItem.where(:settlement_id => @settlement_ids, :payment_method_id => pm, :cost_center_id => @scids).sum(:amount)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @payment_methods.each do |pm|
        %tr
          %td= pm.name
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1
        
  - if permit('statistics_tax')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:40px' }= Tax.model_name.human
        %th.bb= t :sum
        %th.bb
      - sums = []
      - i = 0
      - @taxes.each do |tax|
        - sums[i] = TaxItem.where(:settlement_id => @settlement_ids, :tax_id => tax, :cost_center_id => @scids).sum(:gro)
        - i += 1
      - maximum = sums.sort.last
      - i = 0
      - @taxes.each do |tax|
        %tr
          %td= tax.name
          %td= number_to_currency sums[i]
          %td
            .statistics_bar{ :style => "width:#{2 + sums[i]*100/maximum}px" }
        - i += 1
          
  - if permit('statistics_sold_quantities')
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:1500px' }= Article.model_name.human
        %th.bb= t :count
      - @articles.each do |article|
        - sold_quantity = Item.where(:article_id => article.id).sum(:count)
        %tr
          %td= article.name
          %td= sold_quantity
          
    %table.settlements.statistics
      %tr
        %th.bb{ :style => 'width:1500px' }= Quantity.model_name.human
        %th.bb= t :count
      - @quantities.each do |quantity|
        - sold_quantity = Item.where(:quantity_id => quantity.id).sum(:count)
        %tr
          %td== #{ quantity.prefix } #{ quantity.article.name } #{ quantity.postfix }
          %td= sold_quantity
      
.clear

:javascript
  function print_statistics() {
    if (window.location.search == "") {
      window.location += "?print=1";
    } else {
      window.location += "&print=1";
    }
  }