%h2= @table.new_record? ? (t '.new_table') : (t '.edit_table')

- if @table.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @table.errors.size, :model => Table.model_name.human
    %ul
      - @table.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @table do |table_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), tables_path, :class => 'links')
    .clear
    %table
      %tr
        %td= table_form.label :name, Table.human_attribute_name(:name)
        %td
          = table_form.text_field :name, :size => '20'
          %span#table_name_display_keyboard.display_keyboard
      %tr
        %td= table_form.label :width, Table.human_attribute_name(:width)
        %td
          = table_form.text_field :width, :size => '10'
          %span#table_width_display_keyboard.display_keyboard
      %tr
        %td= table_form.label :height, Table.human_attribute_name(:height)
        %td
          = table_form.text_field :height, :size => '10'
          %span#table_height_display_keyboard.display_keyboard
      %tr
        %td= table_form.label :width_mobile, Table.human_attribute_name(:width_mobile)
        %td
          = table_form.text_field :width_mobile, :size => '10'
          %span#table_width_mobile_display_keyboard.display_keyboard
      %tr
        %td= table_form.label :height_mobile, Table.human_attribute_name(:height_mobile)
        %td
          = table_form.text_field :height_mobile, :size => '10'
          %span#table_height_mobile_display_keyboard.display_keyboard
      %tr
        %td= table_form.label :rotate, Table.human_attribute_name(:rotate)
        %td= table_form.check_box :rotate
      - if permit('manage_hotel')
        %tr
          %td= table_form.label :booking_table, Table.human_attribute_name(:booking_table)
          %td= table_form.check_box :booking_table
      - if permit('manage_customers')
        %tr
          %td= table_form.label :customer_table, Table.human_attribute_name(:customer_table)
          %td= table_form.check_box :customer_table
      %tr
        %td= table_form.label :enabled, Table.human_attribute_name(:enabled)
        %td= table_form.check_box :enabled
      %tr
        %td= link_to image_tag('button_small_delete.png', :title => Article.human_attribute_name(:hidden), :alt => Table.human_attribute_name(:hidden)), table_path(table_form.object), :method => :delete, :confirm => t(:are_you_sure), :class => 'delete' unless table_form.object.new_record?
      %tr
        %td
        %td= table_form.hidden_field :top, :size => '10'
      %tr
        %td
        %td= table_form.hidden_field :left, :size => '10'

:javascript
  $('#table_name').keyboard( {openOn: '' } );
  $('#table_name_display_keyboard').click(function(){
    $('#table_name').getkeyboard().reveal();
  });

  $('#table_description').keyboard( {openOn: '' } );
  $('#table_description_display_keyboard').click(function(){
    $('#table_description').getkeyboard().reveal();
  });

  $('#table_abbreviation').keyboard( {openOn: '' } );
  $('#table_abbreviation_display_keyboard').click(function(){
    $('#table_abbreviation').getkeyboard().reveal();
  });

  $('#table_width').keyboard( {openOn: '', layout: 'num' } );
  $('#table_width_display_keyboard').click(function(){
    $('#table_width').getkeyboard().reveal();
  });

  $('#table_height').keyboard( {openOn: '', layout: 'num' } );
  $('#table_height_display_keyboard').click(function(){
    $('#table_height').getkeyboard().reveal();
  });

  $('#table_width_mobile').keyboard( {openOn: '', layout: 'num' } );
  $('#table_width_mobile_display_keyboard').click(function(){
    $('#table_width_mobile').getkeyboard().reveal();
  });

  $('#table_height_mobile').keyboard( {openOn: '', layout: 'num' } );
  $('#table_height_mobile_display_keyboard').click(function(){
    $('#table_height_mobile').getkeyboard().reveal();
  });
