%h2= @room_type.new_record? ? (t '.new_room_type') : (t '.edit_room_type')

- if @room_type.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @room_type.errors.size, :model => RoomType.model_name.human
    %ul
      - @room_type.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @room_type do |room_type_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), room_types_path, :class => 'links')
    .clear
    = room_type_form.label :name
    = room_type_form.text_field :name, :size => '20'
