%table
  %tr{ :valign => 'top' }
    %td
      - form_tag 'blackboard/update' do
        = label_tag 'special', 'Special Note'
        %br
        = text_field_tag 'special', @special
        %br
        = label_tag 'title', 'Titel'
        %br
        = text_field_tag 'title', @title
        %br
        = label_tag 'date', 'Datum'
        %br
        = text_field_tag 'date', @date
        %br
        = label_tag 'blackboard', 'Auswahl fuer Tafel'
        %br
        %select{ :id => 'blackboard', :name => 'blackboard[]', :multiple => true, :size => 15 }
          = grouped_options_for_select @menucard, @selected
        %p= submit_tag
    %td
      %object{ :style => 'float:left' }
        %param{ :name => 'movie', :value => 'blackboard.swf' }
        %embed{ :src => 'tafel.swf', :width => '577', :height => '391' }
    %tr
      %td
      %td
        %table
          %tr
            - 1.upto(3) do |category_id|
              %td{ :style => 'width:200px;text-align:center;vertical-align:top' }
                - Category.find(category_id).articles_in_menucard.each do |article|
                  = link_to article.name, edit_article_path(article)
                  %br
