%table
  %tr
    %td{ :style => ' text-align:center;' }
      - form_remote_tag :url => 'blackboard/update', :complete => "var time = new Date().getTime(); Element.replace('blackboard_flash', '<object id=\"blackboard_flash\" class=\"' + time + '\"><embed src=\"blackboard.swf\" width=577 height=391 /></object>');" do
        = label_tag 'title', 'Titel'
        %br
        = text_field_tag 'title', @title, :style => 'text-align:center'
        %br
        = label_tag 'special', 'Special Note'
        %br
        = text_field_tag 'special', @special, :size => 55, :style => 'text-align:center'
        %br
        = submit_tag t('.update')
    %td
  %tr
    %td
      %object#blackboard_flash
        %embed{ :src => 'blackboard.swf', :width => '577', :height => '391' }
    %td
      - 1.upto(3) do |category_id|
        %td{ :style => 'width:200px;text-align:center;vertical-align:top' }
          - Category.find(category_id).articles.find_in_blackboard.each do |article|
            - article.format_name = " \n#{article.name}" if ( article.format_name.nil? or article.format_name.empty? )
            - remote_form_for article, :html => { :id => "form_#{article.id}" }, :before => "Element.hide('submit_button_#{article.id}'); Element.show('submit_spinner_#{article.id}');", :complete => "Element.hide('submit_spinner_#{article.id}'); Element.show('submit_button_#{article.id}'); var time = new Date().getTime(); Element.replace('blackboard_flash', '<object id=\"blackboard_flash\" class=\"' + time + '\"><embed src=\"blackboard.swf\" width=577 height=391 /></object>');" do |f|
              = f.text_area :format_name, :size => '25x2', :style => 'text-align:center'
              %br
              = link_to t(:edit), edit_article_path(article)
              = submit_tag t('.update'), :id => "submit_button_#{article.id}", :style => 'height:20px'
              %img{ :id => "submit_spinner_#{article.id}", :src => '/images/ajax-loader.gif', :style => 'display:none;' }
  %tr
    %td{ :style => 'text-align: right' }
      - form_remote_tag :url => 'blackboard/update', :complete => "var time = new Date().getTime(); Element.replace('blackboard_flash', '<object id=\"blackboard_flash\" class=\"' + time + '\"><embed src=\"blackboard.swf\" width=577 height=391 /></object>');" do
        = label_tag 'date', 'Datum'
        %br
        = text_field_tag 'date', @date, :style => 'text-align:right'
        %br
        = submit_tag t('.update')
