%h2= @role.new_record? ? (t '.new_role') : (t '.edit_role')

- if @role.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @role.errors.size, :model => Role.model_name.human
    %ul
      - @role.errors.full_messages.each do |msg|
        %li= msg

= form_for @role do |role_form|
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
  = role_form.text_field :name, :size => '20'
  %span#role_name_display_keyboard.display_keyboard
  %br
  %input#permissions_take_orders{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'take_orders', :checked => role_form.object.permissions.include?('take_orders') }
  %label{ :for => 'permissions_take_orders' }= t '.take_orders'
  %br
  %input#permissions_decrement_items{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'decrement_items', :checked => role_form.object.permissions.include?('decrement_items') }
  %label{ :for => 'permissions_decrement_items' }= t '.decrement_items'
  %br
  %input#permissions_delete_items{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'delete_items', :checked => role_form.object.permissions.include?('delete_items') }
  %label{ :for => 'permissions_delete_items' }= t '.delete_items'
  %br
  %input#permissions_cancel_all_items_in_active_order{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'cancel_all_items_in_active_order', :checked => role_form.object.permissions.include?('cancel_all_items_in_active_order') }
  %label{ :for => 'permissions_cancel_all_items_in_active_order' }= t '.cancel_all_items_in_active_order'
  %br
  %input#permissions_finish_orders{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'finish_orders', :checked => role_form.object.permissions.include?('finish_orders') }
  %label{ :for => 'permissions_finish_orders' }= t '.finish_orders'
  %br
  %input#permissions_split_items{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'split_items', :checked => role_form.object.permissions.include?('split_items') }
  %label{ :for => 'permissions_split_items' }= t '.split_items'
  %br
  %input#permissions_move_tables{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'move_tables', :checked => role_form.object.permissions.include?('move_tables') }
  %label{ :for => 'permissions_move_tables' }= t '.move_tables'
  %br
  %input#permissions_make_storno{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'make_storno', :checked => role_form.object.permissions.include?('make_storno') }
  %label{ :for => 'permissions_make_storno' }= t '.make_storno'
  %br
  %input#permissions_assign_cost_center{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'assign_cost_center', :checked => role_form.object.permissions.include?('assign_cost_center') }
  %label{ :for => 'permissions_assign_cost_center' }= t '.assign_cost_center'
  %br
  %input#permissions_move_order{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'move_order', :checked => role_form.object.permissions.include?('move_order') }
  %label{ :for => 'permissions_move_order' }= t '.move_order'
  %br
  %input#permissions_change_waiter{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'change_waiter', :checked => role_form.object.permissions.include?('change_waiter') }
  %label{ :for => 'permissions_change_waiter' }= t '.change_waiter'
  %br
  %input#permissions_manage_articles_categories_options{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'manage_articles_categories_options', :checked => role_form.object.permissions.include?('manage_articles_categories_options') }
  %label{ :for => 'permissions_manage_articles_categories_options' }= t '.manage_articles_categories_options'
  %br
  %input#permissions_finish_all_settlements{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'finish_all_settlements', :checked => role_form.object.permissions.include?('finish_all_settlements') }
  %label{ :for => 'permissions_finish_all_settlements' }= t '.finish_all_settlements'
  %br
  %input#permissions_finish_own_settlement{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'finish_own_settlement', :checked => role_form.object.permissions.include?('finish_own_settlement') }
  %label{ :for => 'permissions_finish_own_settlement' }= t '.finish_own_settlement'
  %br
  %input#permissions_view_all_settlements{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'view_all_settlements', :checked => role_form.object.permissions.include?('view_all_settlements') }
  %label{ :for => 'permissions_view_all_settlements' }= t '.view_all_settlements'
  %br
  %input#permissions_manage_business_invoice{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'manage_business_invoice', :checked => role_form.object.permissions.include?('manage_business_invoice') }
  %label{ :for => 'permissions_manage_business_invoice' }= t '.manage_business_invoice'
  %br
  %input#permissions_view_statistics{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'view_statistics', :checked => role_form.object.permissions.include?('view_statistics') }
  %label{ :for => 'permissions_view_statistics' }= t '.view_statistics'
  %br
  %input#permissions_manage_users{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'manage_users', :checked => role_form.object.permissions.include?('manage_users') }
  %label{ :for => 'permissions_manage_users' }= t '.manage_users'
  %br
  %input#permissions_manage_settings{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'manage_settings', :checked => role_form.object.permissions.include?('manage_settings') }
  %label{ :for => 'permissions_manage_settings' }= t '.manage_settings'
  %br
  %input#permissions_see_debug{ :type => 'checkbox', :name => 'role[permissions][]', :value => 'see_debug', :checked => role_form.object.permissions.include?('see_debug') }
  %label{ :for => 'permissions_see_debug' }= t '.see_debug'

:javascript
  $('#role_name').keyboard( {openOn: '' } );
  $('#role_name_display_keyboard').click(function(){
    $('#role_name').getkeyboard().reveal();
  });
