%tr{ :id => "item_#{ locals[:designator] }", :class => "item" }

  %td{ :id => "count_#{ locals[:designator] }", :class => 'item_count', :onclick => "increment_item('#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= locals[:count]

  %td{ :id => "label_#{ locals[:designator] }", :class => 'item_label', :onclick => "add_details_to_item('#{ t('.please_enter_item_comment') }', '#{ t('.please_enter_item_price') }', '#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }
    = locals[:label]
    %div{ :id => "optionsnames_#{ locals[:designator] }" }
      = locals[:optionsnames]

  %td{ :id => "minus_#{ locals[:designator] }", :class => 'item_minus', :onclick => "decrement_item('#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }

  %td{ :class => 'item_options' }
    - if not ipod?
      %a{ :onmouseup => "$('optionsselect_#{ locals[:designator] }').show();" }
    %select{ :id => "optionsselect_#{ locals[:designator] }", :onchange => "add_option_to_item('#{ locals[:designator] }', this)", :onmouseup => 'hide_optionsselect(this); this.hide();', :size => 12, :style => "#{ 'display: none;' if not ipod? }" }
      %option{ :value => -1 } exit
      %option{ :value => 0 }= t('.no_options')
      = locals[:optionsselect]
