%div.plus +
%div.minus -
%div.itemname= @itemname
<input id='order_items_attributes_new_#{ @number }_article_id' name='order[items_attributes][#{ @number }][article_id]' type='text' value='#{ @articleid}' }
<input id='order_items_attributes_new_#{ @number }_count' name='order[items_attributes][#{ @number }][count]' type='text' value='1' }
<input id='order_items_attributes_new_#{ @number }_sort' name='order[items_attributes][#{ @number }][sort]' type='text' value='#{ @number}' }
