%tr{ :id => "item_#{ designator }", :class => "item" }

  %td{ :id => "tablerow_#{ designator }_count", :class => 'item_count', :onclick => "increment_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)', :ondblclick => 'alert("test");' }= count

  %script== $('tablerow_#{ designator }_count').keyboard();

  %td{ :id => "tablerow_#{ designator }_label", :class => 'item_label', :onclick => "add_comment_to_item('#{ designator }'); add_price_to_item('#{ designator }');", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }
    = label
    %small
      %br
      = t 'number.currency.format.unit'
      %span{ :id => "price_#{ designator }" }= number_with_precision price, :precision => 2
      %span{ :id => "comment_#{ designator }" }= comment
      %div{ :id => "optionsnames_#{ designator }" }= raw optionsnames

  - if @current_user.role.permissions.include? 'decrement_items'
    %td{ :id => "tablerow_#{ designator }_minus", :class => 'item_minus', :onclick => "decrement_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }

  %td{ :id => "tablerow_#{ designator }_options", :class => 'item_options' }

    - if workstation?
      %a{ :onmouseup => "$('#optionsselect_div_#{ designator }').slideDown();" }
      %div.optionsselect{ :id => "optionsselect_div_#{ designator }", :style => 'display: none' }
        %div{ :onclick => "add_option_to_item_from_div('#{ designator }', -2, '#{t('.done')}')" }= t('.done')
        %div{ :onclick => "add_option_to_item_from_div('#{ designator }', 0, '#{t('.clear')}')" }= t('.clear')
        %div{ :onclick => "add_option_to_item_from_div('#{ designator }', -1, '#{t('.no_printing')}')" }= t('.no_printing')
        - if item
          - Option.find(:all, :conditions => { :category_id => item.category.id }).each do |o|
            %div{ :onclick => "add_option_to_item_from_div('#{ designator }', #{ o.id }, '#{ o.name }')" }= o.name
        - else
          OPTIONSDIV

    - else
      %select{ :id => "optionsselect_select_#{ designator }", :onchange => "add_option_to_item_from_select('#{ designator }', this)", :size => 12 }
        %option{ :value => -2 }= t('.done')
        %option{ :value => 0 }= t('.clear')
        %option{ :value => -1 }= t('.no_printing')
        - if item
          - Option.find(:all, :conditions => { :category_id => item.category.id }).each do |o|
            %option{ :value => o.id }= o.name
        - else
          OPTIONSSELECT
