%tr{ :id => "item_#{ @designator }", :class => "item" }
  %td{ :id => "count_#{ @designator }", :class => 'item_count', :onclick => "increment_item('#{ @designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= @count
  %td{ :id => "label_#{ @designator }", :class => 'item_label', :onclick => "increment_item('#{ @designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= @label
  %td{ :id => "minus_#{ @designator }", :class => 'item_plusminus', :onclick => "decrement_item('#{ @designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }-
  %td{ :id => "remove_#{ @designator }", :class => 'item_plusminus', :onclick => "remove_item('#{ @designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }X
  
%input.count{ :id => "order_items_attributes_#{ @designator }_count", :name => "order[items_attributes][#{ @designator }][count]", :type => 'hidden', :value => "#{ @count }" }
%input{ :id => "order_items_attributes_#{ @designator }_article_id", :name => "order[items_attributes][#{ @designator }][article_id]", :type => 'hidden', :value => "#{ @articleid }" }
%input{ :id => "order_items_attributes_#{ @designator }_quantity_id", :name => "order[items_attributes][#{ @designator }][quantity_id]", :type => 'hidden', :value => "#{ @quantityid }" }
%input{ :id => "order_items_attributes_#{ @designator }_sort", :name => "order[items_attributes][#{ @designator }][sort]", :type => 'hidden', :value => "#{ @sort }" }
%input.price{ :id => "#{ @designator }_price", :type => 'hidden', :value => "#{ @price }" }
%input{ :id => "order_items_attributes_#{ @designator }__destroy", :name => "order[items_attributes][#{ @designator }][_destroy]", :type => 'hidden', :value => '0' }
