%div{ :id => "item_#{ @designator }", :class => "item" }
  %span{ :id => "plus_#{ @designator }", :class => 'item_plusminus', :onclick => "var i; i=parseInt($('order_items_attributes_#{ @designator }_count').value); if(i<0){i=0}; $('order_items_attributes_#{ @designator }_count').value = i+1;" }+
  %span{ :id => "minus_#{ @designator }", :class => 'item_plusminus', :onclick => "var i; i=parseInt($('order_items_attributes_#{ @designator }_count').value); if(i<1){i=1}; $('order_items_attributes_#{ @designator }_count').value = i-1;" }-
  %span{ :id => "label_#{ @designator }", :class => 'item_label', :onclick => "$('order_items_attributes_#{ @designator }_count').value++" }= @label
  %input{ :id => "order_items_attributes_#{ @designator }_count", :name => "order[items_attributes][#{ @designator }][count]", :class => 'item_count', :type => 'text', :value => "#{ @count }" }
  %span{ :id => "remove_#{ @designator }", :class => 'item_plusminus', :onclick => "$('item_#{ @designator }').remove(); $('order_items_attributes_#{ @designator }__delete').value = 1;" }X

%input{ :id => "order_items_attributes_#{ @designator }_article_id", :name => "order[items_attributes][#{ @designator }][article_id]", :type => 'hidden', :value => "#{ @articleid }" }
%input{ :id => "order_items_attributes_#{ @designator }_quantity_id", :name => "order[items_attributes][#{ @designator }][quantity_id]", :type => 'hidden', :value => "#{ @quantityid }" }
%input{ :id => "order_items_attributes_#{ @designator }_sort", :name => "order[items_attributes][#{ @designator }][sort]", :type => 'hidden', :value => "#{ @sort }" }


%input{ :id => "order_items_attributes_#{ @designator }__delete", :name => "order[items_attributes][#{ @designator }][_delete]", :type => 'hidden', :value => '0' }
