%tr{ :id => "item_#{ @designator }", :class => "item" }

  %td
    %input{ :id => "order_items_attributes_#{ @designator }_count", :name => "order[items_attributes][#{ @designator }][count]", :class => 'item_count', :type => 'text', :value => "#{ @count }", :onclick => "$('order_items_attributes_#{ @designator }_count').value++; new Effect.Highlight(this, { startcolor: '#ffff99', endcolor: '#ffffff' });" }

  %td{ :id => "label_#{ @designator }", :class => 'item_label', :onclick => "$('order_items_attributes_#{ @designator }_count').value++; new Effect.Highlight('order_items_attributes_#{ @designator }_count', { startcolor: '#ffff99', endcolor: '#ffffff' });" }= @label

  %td{ :id => "minus_#{ @designator }", :class => 'item_plusminus', :onclick => "var i; i=parseInt($('order_items_attributes_#{ @designator }_count').value); if(i<2){ Effect.DropOut('item_#{ @designator }'); }; $('order_items_attributes_#{ @designator }_count').value = i-1; new Effect.Highlight('order_items_attributes_#{ @designator }_count', { startcolor: '#ffff99', endcolor: '#ffffff' });" }-

  %td{ :id => "remove_#{ @designator }", :class => 'item_plusminus', :onclick => "Effect.DropOut('item_#{ @designator }');" }X

  %td
    %input{ :id => "order_items_attributes_#{ @designator }_article_id", :name => "order[items_attributes][#{ @designator }][article_id]", :type => 'hidden', :value => "#{ @articleid }" }
    %input{ :id => "order_items_attributes_#{ @designator }_quantity_id", :name => "order[items_attributes][#{ @designator }][quantity_id]", :type => 'hidden', :value => "#{ @quantityid }" }
    %input{ :id => "order_items_attributes_#{ @designator }_sort", :name => "order[items_attributes][#{ @designator }][sort]", :type => 'hidden', :value => "#{ @sort }" }


    %input{ :id => "order_items_attributes_#{ @designator }__delete", :name => "order[items_attributes][#{ @designator }][_delete]", :type => 'hidden', :value => '0' }
