%tr{ :id => "item_#{ locals[:designator] }", :class => "item" }

  %td{ :id => "count_#{ locals[:designator] }", :class => 'item_count', :onclick => "increment_item('#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= locals[:count]

  %td{ :id => "label_#{ locals[:designator] }", :class => 'item_label', :onclick => "add_comment_to_item('#{ t('.please_enter_item_comment') }', '#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= locals[:label]

  %td{ :id => "minus_#{ locals[:designator] }", :class => 'item_plusminus', :onclick => "decrement_item('#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }-

  %td{ :id => "remove_#{ locals[:designator] }", :class => 'item_plusminus', :onclick => "remove_item('#{ locals[:designator] }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }X

  %td{ :id => "option_#{ locals[:designator] }", :class => 'item_plusminus', :onclick => "", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= #link_to_remote 'O', :url => { :controller => 'item', :action => 'add_option', :id =>
