%tr{ :id => "item_#{ designator }", :class => "item" }

  %td{ :id => "tablerow_#{ designator }_count", :class => 'item_count', :onclick => "increment_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= count

  %td{ :id => "tablerow_#{ designator }_label", :class => 'item_label', :onclick => "add_comment_to_item('#{ designator }'); add_price_to_item('#{ designator }');", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }
    = label
    %small
      %br
      %span{ :id => "price_#{ designator }" }= number_to_currency price
      %span{ :id => "comment_#{ designator }" }= comment
      %div{ :id => "optionsnames_#{ designator }" }= raw optionsnames

  - if @current_user.role >= 20
    %td{ :id => "tablerow_#{ designator }_minus", :class => 'item_minus', :onclick => "decrement_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }

  %td{ :id => "tablerow_#{ designator }_options", :class => 'item_options' }
    - if workstation?
      %a{ :onmouseup => "$('optionsselect_#{ designator }').show();" }
    %select{ :id => "optionsselect_#{ designator }", :onchange => "add_option_to_item('#{ designator }', this)", :onmouseup => 'hide_optionsselect(this);', :size => 12, :style => "#{ 'display: none;' if workstation? }" }
      %option{ :value => -2 }= t('.exit')
      %option{ :value => -1 }= t('.do_not_print')
      %option{ :value => 0 }= t('.no_options')
      = raw optionsselect
