%tr{ :id => "item_#{ designator }", :class => "item" }

  %td{ :id => "tablerow_#{ designator }_count", :class => 'item_count', :onclick => "increment_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }= count

  %td{ :id => "tablerow_#{ designator }_label", :class => 'item_label', :onclick => "add_comment_to_item('#{ designator }'); add_price_to_item('#{ designator }');", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }
    %span= label
    %small
      %br
      = t 'number.currency.format.unit'
      %span{ :id => "price_#{ designator }" }= number_with_precision price, :precision => 2
      %span{ :id => "comment_#{ designator }" }= comment
      %div{ :id => "optionsnames_#{ designator }" }= raw optionsnames


  - if @current_user.role.permissions.include? 'decrement_items'
    %td{ :id => "tablerow_#{ designator }_minus", :class => 'item_minus', :onclick => "decrement_item('#{ designator }')", :onmousedown => 'highlight_button(this)', :onmouseup => 'restore_button(this)' }

  %td{ :id => "tablerow_#{ designator }_options", :class => 'item_options' }

    - if workstation?
      %a{ :onmouseup => "$('#optionsselect_div_#{ designator }').slideDown();" }
      %div.optionsselect{ :id => "optionsselect_div_#{ designator }" }
        %h3= t 'activerecord.models.option.other'
        %span.done{ :onclick => "add_option_to_item_from_div(this, '#{ designator }', -2, null, '#{t('.done')}')" }
        %span.option{ :onclick => "add_option_to_item_from_div(this, '#{ designator }', 0, null, '#{t('.clear')}')" }= t('.clear')
        %span.option{ :onclick => "add_option_to_item_from_div(this, '#{ designator }', -1, null, '#{t('.no_printing')}')" }= t('.no_printing')
        %span.option{ :onclick => "add_option_to_item_from_div(this, '#{ designator }', -3, null, '#{t('articles.new.take_away')}')" }= t('articles.new.takeaway')
        - if item
          - Option.find(:all, :conditions => { :category_id => item.category.id, :hidden => false }, :order => 'position ASC' ).each do |o|
            %span.option{ :onclick => "add_option_to_item_from_div(this, '#{ designator }', #{ o.id }, #{ o.price }, '#{ escape_javascript o.name }')" }== #{ o.name }
        - else
          OPTIONSDIV

    - else
      %select{ :id => "optionsselect_select_#{ designator }", :onchange => "add_option_to_item_from_select('#{ designator }', this)" }
        %option{ :value => -2 }= t('.done')
        %option{ :value => 0 }= t('.clear')
        %option{ :value => -1 }= t('.no_printing')
        %option{ :value => -3 }= t('articles.new.takeaway')
        - if item
          - Option.find(:all, :conditions => { :category_id => item.category.id }).each do |o|
            %option{ :value => o.id }== #{ o.name } #{ number_to_currency o.price }
        - else
          OPTIONSSELECT

    - if workstation?
      %div.comment_for_item{ :id => "comment_for_item_#{ designator }" }
        %p= t :please_enter_item_comment
        %span.display_keyboard{ :id => "comment_for_item_#{ designator }_display_keyboard" }
        %input{ :id => "comment_for_item_#{ designator }" }
        %div.enter_comment_or_price{ :id => "enter_comment_for_item_#{ designator }" }
      %div.price_for_item{ :id => "price_for_item_#{ designator }" }
        %p= t :please_enter_item_price
        %span.display_keyboard{ :id => "price_for_item_#{ designator }_display_keyboard" }
        %input{ :id => "price_for_item_#{ designator }" }
        %div.enter_comment_or_price{ :id => "enter_price_for_item_#{ designator }" }

  :javascript
    enable_keyboard_for_items('#{ designator}');
    $('#enter_comment_for_item_#{ designator}').click(function(){
      comment = $('input#comment_for_item_#{ designator}').val();
      $('#order_items_attributes_#{ designator}_comment').val(comment);
      $('#comment_#{ designator}').html(comment);
      $('#comment_for_item_#{ designator}').slideUp();
    });
    $('#enter_price_for_item_#{ designator}').click(function(){
      price = $('input#price_for_item_#{ designator}').val();
      $('#price_#{ designator}').html(price);
      price = price.replace(',', '.');
      $('#order_items_attributes_#{ designator}_price').val(price);
      calculate_sum();
      $('#price_for_item_#{ designator}').slideUp();
    });
