- i = list
- id = i.id
- count_method = '_count'
- scope_count_method = scope + '_count'
- reference_count_method = scope == 'preparation' ? 'count' : 'preparation_count'

.item_list{ :id => "item_list_#{ scope }_#{ id }" }
  .unconfirmed{ :id => "item_list_#{ scope }_#{ id }_unconfirmed", :style => "#{ i.send(scope_count_method) == nil ? '' : 'display: none;' }" }
    == #{ Table.model_name.human } #{ i.order.table.name }, #{ Order.model_name.human } ##{ id } 
  .confirmed{ :style => "#{ i.send(scope_count_method) == nil ? 'display: none;' : '' }" }
    = hidden_field_tag  "item_list_#{ scope }_#{ id }_#{ scope_count_method }", i.send(scope_count_method)
    = hidden_field_tag  "item_list_#{ scope }_#{ id }_#{ reference_count_method }", i.send(reference_count_method)
    == #{ Table.model_name.human } #{ i.order.table.name }, #{ Order.model_name.human } ##{ id } 
    %table
      %tr
        - if scope == 'delivery'
          %td.reference_count
            = i.send count_method
        %td.reference_count
          = i.send reference_count_method
        %td.increment{ :id => "item_list_#{ scope }_#{ id }_increment_button" }
          = i.send(scope_count_method)
        %td.update{ :id => "item_list_#{ scope }_#{ id }_update_button" }
          = raw i.quantity ? "#{ i.quantity.prefix } #{ i.article.name } #{ i.quantity.postfix }#{ i.formatted_comment }#{ compose_option_names_without_price(i) }" : "#{ i.article.name }#{ i.formatted_comment }#{ compose_option_names_without_price(i) }"

:javascript
  $("#item_list_#{ scope }_#{ id }_unconfirmed").click(function(){
    $(this).hide();
    $('#item_list_#{ scope }_#{ id }_#{ scope }_count').val(0); // don't wait for the ajax refresh
    $('#item_list_#{ scope }_#{ id }_increment_button').html(0);
    $(this).parent().children('.confirmed').slideDown();
    $.ajax({
      scope: 'GET',
      url: '/items/set_attribute?id=#{ id }&attribute=#{ scope_count_method }&value=0'
    });
  })
  
  $("#item_list_#{ scope }_#{ id }_increment_button").click(function(){
    var r = parseInt($("#item_list_#{ scope }_#{ id }_#{ reference_count_method }").val());
    var c = parseInt($('#item_list_#{ scope }_#{ id }_#{ scope_count_method }').val());
    if ( c < r ) {
      $('#item_list_#{ scope }_#{ id }_#{ scope_count_method }').val(c + 1);
      $(this).html(c + 1);
      $(this).css('background-color','#74101B');
      $(this).effect('highlight');
      counter_update_item_lists = timeout_update_item_lists;
    }
  })
  
  $("#item_list_#{ scope }_#{ id }_update_button").click(function(){
    var r = parseInt($("#item_list_#{ scope }_#{ id }_#{ reference_count_method }").val());
    var c = parseInt($("#item_list_#{ scope }_#{ id }_#{ scope_count_method }").val());
    if( c >= r ) {
      $("#item_list_#{ scope }_#{ id }").slideUp();
    }
    $.ajax({
      scope: 'GET',
      url: '/items/set_attribute?id=#{ id }&attribute=#{ scope_count_method }&value=' + $('#item_list_#{ scope }_#{ id }_#{ scope_count_method }').val()
    });
    $("#item_list_#{ scope }_#{ id }_increment_button").css('background-color','#3a4d3a');
    $("#item_list_#{ scope }_#{ id }_increment_button").effect('highlight');
  })
  

  

