%h2= t :taxes_menu

%table
  %tr
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:100px'  }
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @taxes.each do |ta|
    %tr
      %td= ta.name
      %td= number_to_percentage ta.percent
      %td= link_to((t :edit), edit_tax_path(ta)) if @current_user.role >= 2
      %td= link_to((t :delete), ta, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3

%p= link_to((t :new), new_tax_path) if @current_user.role >= 2
