%h2= t :taxes

%table
  %tr
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:100px'  }
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @taxes.each do |ta|
    %tr
      %td= ta.name
      %td= number_to_percentage ta.percent
      %td= link_to((t :edit), edit_tax_path(ta))
      %td= link_to((t :delete), ta, :confirm => 'Sind Sie sicher?', :method => :delete)

%p= link_to((t :new), new_tax_path)
