%h2= t('activerecord.models.tax.other')

%p= link_to((t :new), new_taxis_path, :class => 'links') if @current_user.role >= 2

%table
  %tr
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:100px'  }
    %th{ :style => 'width:100px'  }
    %th{ :style => 'width:120px' }
  - @taxes.each do |ta|
    %tr
      %td= @current_user.role >= 2 ? link_to(ta.name, edit_taxis_path(ta)) : ta.name
      %td= number_to_percentage ta.percent, :precision => 0
      %td= ta.letter
      %td= link_to((t :delete), ta, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3
