%h2= t('activerecord.models.tax.other')

%p= link_to((t :new), new_taxis_path, :class => 'links') if @current_user.role >= 2

%table
  %tr
    %th{ :style => 'width:120px' }= Tax.human_attribute_name(:name)
    %th{ :style => 'width:100px' }= Tax.human_attribute_name(:percent)
    %th{ :style => 'width:100px' }= Tax.human_attribute_name(:letter)
  - @taxes.each do |ta|
    %tr
      %td= @current_user.role >= 2 ? link_to(ta.name, edit_taxis_path(ta)) : ta.name
      %td= number_to_percentage ta.percent, :precision => 0
      %td= ta.letter
