<h1>Listing discounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Dtype</th>
    <th>Category</th>
    <th>Company</th>
    <th>Article</th>
    <th>Time based</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.name %></td>
    <td><%= discount.amount %></td>
    <td><%= discount.dtype %></td>
    <td><%= discount.category_id %></td>
    <td><%= discount.company_id %></td>
    <td><%= discount.article_id %></td>
    <td><%= discount.time_based %></td>
    <td><%= discount.start_time %></td>
    <td><%= discount.end_time %></td>
    <td><%= link_to 'Show', discount %></td>
    <td><%= link_to 'Edit', edit_discount_path(discount) %></td>
    <td><%= link_to 'Destroy', discount, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discount', new_discount_path %>
