%h2= t :categories_menu

%table
  %tr
    %th{ :style => 'width:250px' }= t :name
    %th{ :style => 'width:150px' }= t :percent
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @categories.each do |ca|
    %tr
      %td= ca.name
      %td= ca.tax.custom_name
      %td= link_to((t :edit), edit_category_path(ca)) if @current_user.role >= 2
      %td= link_to((t :delete), ca, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3

%p= link_to((t :new), new_category_path) if @current_user.role >= 2
