%h2= t :categories

%table
  %tr
    %th{ :style => 'width:250px' }= t :name
    %th{ :style => 'width:150px' }= t :percent
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @categories.each do |ca|
    %tr
      %td= ca.name
      %td= ca.tax.custom_name
      %td= link_to((t :edit), edit_category_path(ca))
      %td= link_to((t :delete), ca, :confirm => 'Sind Sie sicher?', :method => :delete)

%p= link_to((t :new), new_category_path)
