<h1>Alle Kategorien</h1>
<%= link_to 'Neue Kategorie hinzufuegen', new_category_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Prozentsatz</th>
  </tr>
  <% for ca in @categories %>
    <tr>
      <td><%= ca.name %></td>
      <td><%= ca.percent %></td>
      <td><%= link_to 'Bearbeiten', edit_category_path(ca) %></td>
      <td><%= link_to 'Loeschen', ca, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
