%style= generate_item_style

%h2= @category.new_record? ? (t '.new_category') : (t '.edit_category')

= error_messages_for 'category'

- form_for @category do |category_form|
  %table
    %tr
      %td= category_form.label('name', Category.human_attribute_name(:name))
      %td= category_form.text_field :name, :size => '20'
    %tr
      %td= category_form.label('sort_order', Category.human_attribute_name(:sort_order))
      %td= category_form.text_field :sort_order, :size => '20'
    %tr
      %td= category_form.label('tax_id', Category.human_attribute_name(:tax_id))
      %td= category_form.collection_select :tax_id, Tax.all, :id, :custom_name, { :include_blank => true }
    %tr
      %td= category_form.label('icon', Category.human_attribute_name(:icon))
      %td
        %select#category_icon{ :name => 'category[icon]', :size => 2 }
          = options_for_select(get_icon_array, category_form.object.icon)
    %tr
      %td= category_form.label('color', Category.human_attribute_name(:color))
      %td
        %select#category_color{ :name => 'category[color]', :size => 2 }
          = options_for_select(get_color_array, category_form.object.color)
          
  %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
