%h2= @surcharge.new_record? ? (t '.new_surcharge') : (t '.edit_surcharge')

- if @surcharge.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @surcharge.errors.size, :model => Surcharge.model_name.human
    %ul
      - @surcharge.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @surcharge do |surcharge_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), surcharges_path, :class => 'links')
    .clear
    %br
    = surcharge_form.label :name
    = surcharge_form.text_field :name, :size => 9
    - if @surcharge.season_id.nil?
      %br
      = label_tag t('.common_surcharge')
      = check_box_tag 'common_surcharge'
    %br
    = surcharge_form.label :radio_select
    = surcharge_form.check_box :radio_select
    %br
    = surcharge_form.label :selected
    = surcharge_form.check_box :selected
    %br
    = surcharge_form.label :visible
    = surcharge_form.check_box :visible
    %br
    = link_to image_tag('button_small_delete.png', :title => Surcharge.human_attribute_name(:hidden), :alt => Surcharge.human_attribute_name(:hidden)), surcharge_path(surcharge_form.object), :method => :delete, :confirm => t(:are_you_sure), :class => 'delete' unless surcharge_form.object.new_record?
    - if @surcharge.season_id
      %div#tax_amounts
        %h3= t('activerecord.models.tax_amount.other')
        %p#add_tax_amount
          %span.link= t '.add_tax_amount'
      = surcharge_form.fields_for :tax_amounts, surcharge_form.object.tax_amounts.existing do |f|
        = render :partial => 'tax_amount', :locals => { :f => f }
      %script== var tax_amount_template = '#{ generate_template(surcharge_form, :tax_amounts) }'

:javascript
  $('#add_tax_amount').click(function(){
    var new_tax_amount_id = - new Date().getTime();
    $('#tax_amounts').append(tax_amount_template.replace(/NEW_RECORD/g, new_tax_amount_id));
  });
