%h2= t('activerecord.models.surcharge.other')

%p= link_to((t :new), new_surcharge_path, :class => 'links')

- @seasons.each do |s|
  %table.settlements.hotel
    %tr
      %th{ :style => 'width:100px' }
        %b= s.name
      - @guest_types.each do |gt|
        %th{ :style => 'width:70px' }= gt.name
    - @surcharge_names.each do |n|
      %tr
        %td= n
        - @guest_types.each do |gt|
          - surcharge_object = @current_vendor.surcharges.existing.where(:season_id => s.id, :guest_type_id => gt.id, :name => n)
          - next if surcharge_object.nil?
          - amount = surcharge_object.amount
          %td{:class => "#{'highlighted' if base_price.zero?}" }= link_to number_to_currency(base_price), edit_room_price_path(room_price_object)
