%h2= @surcharge.new_record? ? (t '.new_surcharge') : (t '.edit_room_price')

- if @surcharge.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @surcharge.errors.size, :model => Surcharge.model_name.human
    %ul
      - @surcharge.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @surcharge do |surcharge_form|
    %p= submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    = surcharge_form.label :name
    = surcharge_form.text_field :name
    %br
    = surcharge_form.label :season_id
    = surcharge_form.select :season_id, @seasons.collect{|s| [s.name,s.id]}
    %br
    = surcharge_form.label :guest_type_id
    = surcharge_form.select :guest_type_id, @guest_types.collect{|g| [g.name,g.id]}
    %br
    = surcharge_form.label :radio_select
    = surcharge_form.check_box :radio_select
    %br
    = surcharge_form.label :amount
    = surcharge_form.text_field :amount, :size => 5
