%h1= t('client_data.menulabel')

#message

- form_remote_tag :url => { :action => :update }, :html => { :id => 'client_data_form' } do
  = label_tag 'data_name', t('.name')
  = text_field_tag 'data[name]', @client_data[:name]
  %br
  = label_tag 'data_subtitle', t('.subtitle')
  = text_field_tag 'data[subtitle]', @client_data[:subtitle]
  %br
  = label_tag 'data_address', t('.address')
  = text_field_tag 'data[address]', @client_data[:address]
  %br
  = label_tag 'data_taxnumber', t('.taxnumber')
  = text_field_tag 'data[taxnumber]', @client_data[:taxnumber]
  %br
  = label_tag 'data_slogan', t('.slogan')
  = text_field_tag 'data[slogan]', @client_data[:slogan]
  %br
  = submit_tag
