%h1= t('client_data.menulabel')

#message

- form_tag :url => { :action => :update }, :remote => true, :html => { :id => 'client_data_form' } do
  = label_tag 'data_name', t('.name')
  = text_field_tag 'data[name]', @client_data[:name]
  %br
  = label_tag 'data_subtitle', t('.subtitle')
  = text_field_tag 'data[subtitle]', @client_data[:subtitle]
  %br
  = label_tag 'data_address', t('.address')
  = text_field_tag 'data[address]', @client_data[:address]
  %br
  = label_tag 'data_taxnumber', t('.taxnumber')
  = text_field_tag 'data[taxnumber]', @client_data[:taxnumber]
  %br
  = label_tag 'data_slogan1', t('.slogan')
  = text_field_tag 'data[slogan1]', @client_data[:slogan1]
  %br
  = label_tag 'data_slogan2', t('.slogan')
  = text_field_tag 'data[slogan2]', @client_data[:slogan2]
  %br
  = label_tag 'data_internet', t('.internet_address')
  = text_field_tag 'data[internet]', @client_data[:internet]
  %br
  = label_tag 'data_email', t('.email')
  = text_field_tag 'data[email]', @client_data[:email]
  %br
  = submit_tag
