%h2= t('activerecord.models.category.other')

= link_to (t :new), new_category_path, :class => 'links'

%ul#categories
  - @categories.each do |ca|
    %li{ :id => "category_#{ ca.id }" }
      %span.handle
      %span.inline= link_to ca.name, edit_category_path(ca), :class => "list_item"
      %span.inline== #{ t('activerecord.models.vendor_printer.one') }: #{ ca.vendor_printer ? ca.vendor_printer.name : '-' }
      %span.inline= link_to image_tag('button_small_delete.png', :title => Category.human_attribute_name(:hidden), :alt => Category.human_attribute_name(:hidden), :style => "vertical-align:bottom;padding-top:5px;"), category_path(ca), :method => :delete, :confirm => t(:are_you_sure)

:javascript
  $(document).ready(function(){
    $('#categories').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'POST',
          data: $('#categories').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            //$('#categories').effect('highlight', {}, 300);
          },
        url: '/categories/sort'})
      }
    });
  });
