%style= generate_item_style

%h2= @category.new_record? ? (t '.new_category') : (t '.edit_category')

- if @category.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @category.errors.size, :model => Category.model_name.human
    %ul
      - @category.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for nest_image(@category), :html => { :multipart => true, :class => 'category_form' } do |category_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), categories_path, :class => 'links')
    .clear
    %table
      %tr
        %td
          %p
            = category_form.fields_for :images do |image_form|
              %span.label_width= image_form.label Category.human_attribute_name(:image)
              %br
              - if @category.icon == 'custom' and not @category.images.first.id.nil?
                %div.category{:style => "background-color: #{@category.color}; background-image: url('#{@category.icon_path}');"}
                %br
              %span.input_fields
                = image_form.file_field :file_data
          %p
            = category_form.label :name
            = category_form.text_field :name, :size => '10'
            %span#category_name_display_keyboard.display_keyboard
          - if permit('see_item_notifications_user_preparation') or permit('see_item_notifications_user_delivery') or permit('see_item_notifications_vendor_preparation') or permit('see_item_notifications_vendor_delivery') or permit('see_item_notifications_static')
            %p
              = category_form.label :user_id
              = category_form.collection_select :preparation_user_id, @users, :id, :login, { :include_blank => true }
          %p
            = category_form.label :vendor_printer_id
            = category_form.collection_select :vendor_printer_id, @printers, :id, :name, { :include_blank => true }
          %p
            = category_form.label :separate_print
            = category_form.check_box :separate_print
        %td
          = category_form.label :icon
          %br
          %select#category_icon{ :name => 'category[icon]', :size => 20}
            = options_for_select(get_icon_array, category_form.object.icon)
        %td
          = category_form.label 'color'
          %br
          %select#category_color{ :name => 'category[color]', :size => 10 }
            = options_for_select(get_color_array, category_form.object.color)

:javascript
  $('#category_name').keyboard( {openOn: '' } );
  $('#category_name_display_keyboard').click(function(){
    $('#category_name').getkeyboard().reveal();
  });
