%p== #{ Table.model_name.human } #{ order.table.name } / #{ order.user ? order.user.title : 'customer' }

%table
  %tr
    %th.one= Tax.model_name.human
    %th.two= Item.model_name.human
    %th.three= t '.unit_price'
    %th.four= t '.count'
    %th.five= t '.sum'

  - order.items.existing.order(:position_category).each do |item|
    %tr
      %td.one= item.taxes.collect{ |k,v| v[:l] }.join(',')
      %td.two= item.quantity_id ? "#{ t(:refund) + ' ' if item.refunded }#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ t(:refund) + ' ' if item.refunded }#{ item.article.name } #{ item.comment }"
      %td.three= number_to_currency item.price
      %td.four= item.count
      %td.five= number_to_currency item.refunded ? 0 : item.count * item.price

    - item.option_items.each do |o|
      - next if o.price == 0
      %tr
        %td.one= item.taxes.collect{ |k,v| v[:l] }.join(',')
        %td.two== &nbsp;&nbsp; #{ t(:refund) + ' ' if item.refunded }#{ o.name }
        %td.three= number_to_currency o.price
        %td.four= item.count
        %td.five= number_to_currency item.refunded ? 0 : o.count * o.price

  %tr
    %td{ :colspan => 4 }= t :sum
    %td.five= number_to_currency order.sum
