%h3
  %span#order_info{ :onclick => '$("#note_for_order").slideDown()'}= t :just_order

#note_for_order= render 'note'

- if workstation?
  #tablesselect
    %h3= t :move_order_to_table
    %span.done{ :onclick => "$('#tablesselect').slideUp();" }
    - @current_user.tables.existing.each do |t|
      %span.option{ :onclick => "route('tables', submit_json.model.table_id, 'move', {target_table_id:#{t.id}});" }== #{ t.name }

#categories
  - @categories.existing.active.positioned.each do |category|
    .category{ :class => category.name.delete(' '), :style => "background-color: #{category.color}; background-image: url('#{category.icon_path}')", :onmousedown => "category_onmousedown(#{ category.id }, this)" }
      %div{ :class => "category_label" }
        %span= category.name

#articles

#items
  .ordersum_container
    %span== #{ t '.sum' } #{ t 'number.currency.format.unit' }
    %span#order_sum
  %table#itemstable
