- order = refund_form if refund_form
- payment_methods = order.vendor.payment_methods.existing.where(:change => false)
- cash_payment_method = order.vendor.payment_methods.existing.where(:cash => true).first
- selected_payment_method_id = cash_payment_method.id.to_s if cash_payment_method

%div.invoice{ :id => "invoice_#{order.id}" }
  - @current_vendor.vendor_printers.existing.each do |p|
    %a{ :onclick => "update_order_from_refund_form({id:#{order.id},jsaction:'just_print',printer:#{p.id}});", :class => "iconbutton print_#{ p.print_button_filename }_button", :title => "#{ t(:print) } #{ p.name }" }

  %h3== #{ t(:invoice) } ##{order.nr}, #{ order.table.name }
  %p= l order.finished_at, :format => :long
  - if permit('refund')
    = select_tag 'payment_method_selector', options_from_collection_for_select(payment_methods, 'id', 'refund_name', selected_payment_method_id)
  %table
    - order.items.existing.positioned.each do |item|
      - color = item.refunded ? '#FAA' : 'transparent'
      - label = item.quantity ? "#{ item.quantity.prefix } #{ item.quantity.article.name } #{ item.quantity.postfix } #{ item.comment }" : "#{ item.article.name } #{ item.comment }"
      - optionslabel = item.option_items.collect { |o| "<br>#{ o.name }" unless o.price.zero? }.join
      - label = raw "%20.20s%s" % [label, optionslabel]
      - onclick_method_refund = (not item.refunded and permit('refund')) ? "update_order_from_refund_form({id:#{item.id},jsaction:'do_refund',payment_method_id:$('#payment_method_selector').val()});" : ''
      - onclick_method_separate = (not item.refunded and permit('refund')) ? "$.ajax({url:'/items/#{item.id}/edit', cache: false});" : ''

      %tr{ :style => "background-color: #{color}" }
        %td.count.count_separate{ :onclick => onclick_method_separate, :title => t('.do_separate_items') }= item.count
        %td.label{ :id => "item#{item.id}", :onclick => onclick_method_refund, :title => t('.do_refund') }= label
        %td.total{ :style => 'text-align:right' }= number_to_currency item.sum

    %tr
      %td{ :colspan => '2'}= t :sum
      %td{ :style => 'text-align:right'}
        %b= number_to_currency order.sum

    - unless order.refund_sum.zero?
      %tr
        %td{ :colspan => '2'}= t :refund
        %td{ :style => 'text-align:right'}
          %b= number_to_currency order.refund_sum