#seasons
  #nested_seasons
  #spliced_seasons

- unless @current_customer
  %span#drag_and_drop_toggle_view_button.button= t 'various.mobile_view'
  #areas= render 'areas'
  #tables

#functions
  #functions_header_index= render(:partial => 'functions_header_index') if workstation?
  #functions_header_last_invoices= render(:partial => 'functions_header_last_invoices') if mobile?
  #functions_header_order_form= render( :partial => 'functions_header_order_form', :locals => {:position => 'header'})
  #functions_header_invoice_form{ :style => 'display: none;' }= render 'functions_header_invoice_form'
#orderform{ :style => 'display: none;' }= render 'order_form'

- unless @current_customer
  #items_notifications_interactive
    /- if @current_user.confirmation_user == true
    /  %h3= t '.confirmation_list'
    /  #list_interactive_confirmation
    - if permit('see_item_notifications_user_preparation') or permit('see_item_notifications_vendor_preparation')
      %h3= t '.preparation_list'
      #list_interactive_preparation
    - if permit('see_item_notifications_user_delivery') or permit('see_item_notifications_vendor_delivery')
      %h3= t '.delivery_list'
      #list_interactive_delivery
    %span.done{ :onclick => "hide_items_notifications()" }
    
  - if workstation? && permit('see_item_notifications_static')
    #items_notifications_static
      - if @current_user.confirmation_user == true
        %h3= t '.confirmation_list'
        #list_static_confirmation
      - if permit('see_item_notifications_user_preparation') or permit('see_item_notifications_vendor_preparation')
        %h3= t '.preparation_list'
        #list_static_preparation
      - if permit('see_item_notifications_user_delivery') or permit('see_item_notifications_vendor_delivery')
        %h3= t '.delivery_list'
        #list_static_delivery

#invoices
#functions_footer{ :style => 'display: none;' }= render(:partial => 'functions_header_order_form', :locals => {:position => 'footer' }) if mobile?

#queue
  %a
    %div queue