- if workstation?
  %h2.current_user= @current_user.login

- unless workstation?
  #areas= render 'areas'
#tables{ :ontouchstart => "javascript:enable_audio();"}= render @tables
#functions
  #functions_header_index= render(:partial => 'functions_header_index') if workstation?
  #functions_header_order_form{ :style => 'display: none;' }= render( :partial => 'functions_header_order_form', :locals => {:position => 'header'})
  #functions_header_invoice_form{ :style => 'display: none;' }= render 'functions_header_invoice_form'
#orderform{ :style => 'display: none;' }= render 'order_form'

- if permit('see_item_notifications_vendor')
  #items_notifications_vendor
    - if permit('see_item_notifications_preparation')
      %h3= t '.preparation_list'
      #list_vendor_preparation
    - if permit('see_item_notifications_delivery')
      %h3= t '.delivery_list'
      #list_vendor_delivery
#items_notifications
  - if permit('see_item_notifications_preparation')
    %h3= t '.preparation_list'
    #list_preparation
  - if permit('see_item_notifications_delivery')
    %h3= t '.delivery_list'
    #list_delivery
  %span.done{ :onclick => "hide_items_notifications()" }

#invoices
#functions_footer{ :style => 'display: none;' }= render(:partial => 'functions_header_order_form', :locals => {:position => 'footer' }) if mobile?

#queue
  %a
    %div queue