%h2= t '.title'

= form_tag 'last', :id => 'search_by_nr' do
  = text_field_tag 'nr', t('orders.show.search_by_number')
  %span#nr_display_keyboard.display_keyboard

%table.settlements
  %tr
    %th= Order.human_attribute_name :nr
    %th= Order.human_attribute_name :finished_at
    %th= Order.human_attribute_name :sum
    %th= User.model_name.human
    %th= Customer.model_name.human
    %th= Settlement.model_name.human
    %th= t('invoice')
  - @orders.each do |o|
    %tr
      %td
        %span.button= link_to("#{ o.nr }", order_path(o))
      %td= l o.finished_at, :format => :datetime_iso
      %td
        %b= number_to_currency o.gross
      %td= o.user.login
      %td= o.customer.full_name if o.customer
      %td
        - if o.settlement
          %span.button= link_to("#{ Settlement.model_name.human } #{ o.settlement.nr }", "/settlements/detailed_list?settlement_id=#{o.settlement.id}") 
      %td
        = link_to '', order_path(o), :class => 'print1_button_small'

:javascript
  $(function() {
    $('#nr').select();
  });
  
  $('#nr').keyboard({
    openOn: '',
    layout:'num',
    accepted: function(){
      $('form#search_by_nr').submit();
    }
  });
  
  $('#nr_display_keyboard').click(function(){
    $('#nr').val('');
    $('#nr').getkeyboard().reveal();
  });
  $('#nr').click(function(){
    $('#nr').val('');
  });