

%div#buttons
  %a.iconbutton.back_button{ :href => '/orders', :title => t(:go_back) }
  - @current_vendor.vendor_printers.existing.each do |p|
    %a{ :onclick => "update_order({id:#{@order.id},jsaction:'just_print',printer:#{p.id}});", :class => "iconbutton print_#{ p.print_button_filename }_button", :title => "#{ t(:print) } #{ p.name }" }
  %a.iconbutton.print2_button{ :onclick => "window.print()", :title => (t '.print_business_invoice') }
    
  - if permit('reactivate_orders')
    %a.iconbutton.gear_button{ :href => "/orders/reactivate/#{@order.id}", :title => (t '.reactivate') }
  /%a.iconbutton.next_button{ :href => order_path(@next_order), :title => (t '.next_invoice'), :style => 'float:right' }
  /%a.iconbutton.previous_button{ :href => order_path(@previous_order), :title => (t '.previous_invoice'), :style => 'float:right' }

.paper_invoice= render :partial => "orders/invoice_styles/#{SalorHospitality::Application::COUNTRIES_INVOICES[@current_vendor.country]}"


:javascript
  function update_order(data) {
    data['currentview'] = 'invoice_paper';
    $.ajax({
      type: 'POST',
      url: '/route',
      data: data,
      timeout: 5000
    });
  }
  

