%h2= @room.new_record? ? (t '.new_room') : (t '.edit_room')

- if @room.errors.any?
  .errors
    %h3= t 'activerecord.errors.template.header', :count => @room.errors.size, :model => Room.model_name.human
    %ul
      - @room.errors.full_messages.each do |msg|
        %li= msg

.form_fields
  = form_for @room do |room_form|
    = submit_tag( controller.action_name == 'new' ? (t :create) : (t :edit) )
    .floatright= link_to(t('various.cancel'), rooms_path, :class => 'links')
    .clear
    = room_form.label :name
    = room_form.text_field :name, :size => '20'
    %br
    = room_form.label :room_type_id
    = room_form.select :room_type_id, @room_types.collect{|r| [r.name,r.id]}, :include_blank => true
