%a#toggle_admin_interface{ :onclick => "#{ 'toggle_admin_interface();' if controller.controller_name == 'orders' and ( controller.action_name == 'index' or controller.action_name == 'login' )}" }
  %img{ :src => "/images/client_logo.png" }

%img#logo{ :src => "/images/logo-small.png" }

- if logged_in?
  #admin{ :style => "display: visible;" }
    .adminlinks
      - if @current_user.role >= 40
        = link_to( t('activerecord.models.order.other'), '/')
        = link_to( t('activerecord.models.table.other'), tables_path)
      - if @current_user.role >= 50
        = link_to( t('activerecord.models.category.other'), categories_path)
        = link_to( t('activerecord.models.article.other'), articles_path)
        = link_to( t('activerecord.models.option.other'), options_path)
        = link_to( (t :unsettled_orders_generic_name), '/orders/unsettled')
      - if @current_user.role >= 60
        = link_to( t('activerecord.models.settlement.other'), settlements_path)
        = link_to( t('activerecord.models.tax.other'), taxes_path)
        = link_to( t('activerecord.models.cost_center.other'), cost_centers_path)
        = link_to( t('activerecord.models.user.other'), users_path)
        = link_to( t('activerecord.models.role.other'), roles_path)
        = link_to( t('statistic'), statistics_path)
        = link_to( t('activerecord.models.company.one'), companies_path)
      = link_to t(:logout, :who => @current_user.login), session_path
