!!! XML
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if ipod?
      %meta{ 'name' => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title Bill Gastro

    = stylesheet_link_tag('generic', :media => 'screen')
    = javascript_include_tag 'prototype.js'
    = javascript_include_tag 'effects.js'
    = javascript_include_tag 'application-generic.js'
    %script{ :type => 'text/javascript' }= generate_js_variables
    = javascript_include_tag "/articles.js"

    - if ipod?
      = stylesheet_link_tag('ipod', :media => 'screen')
      = javascript_include_tag 'application-ipod.js'
    - else
      = javascript_include_tag 'dragdrop.js'
      = stylesheet_link_tag 'print', :media => 'print'
      = stylesheet_link_tag('workstation', :media => 'screen')
      = javascript_include_tag 'application-workstation.js'

  %body
    #container
      #header= render 'layouts/header'
      #flash
        #flash_notice= flash[:notice]
        #flash_error= flash[:error]
      #main= yield
      #footer
      #copyright Copright (C) 2010 <a href="http://michaelfranzl.com" target="_blank">Dipl.-Ing. (FH) Michael Franzl e.U.</a>, FN 332235 g, Austria
