!!! XML iso-8859-1
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=ISO-8859-1' }
    %meta{ :name => 'language', :content => 'de' }
    %title restaurant_helper
    = stylesheet_link_tag 'style'
    = javascript_include_tag :defaults

  %body
    %p{ :style => 'color: green' }= flash[:notice]

    %small
      = link_to 'User', users_path
      = link_to 'Lager', groups_path
      = link_to 'Artikel', articles_path
      = link_to 'Tische', tables_path

    = yield
