!!! XML
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %meta{ :name => 'language', :content => 'de' }
    %title restaurant_helper
    = stylesheet_link_tag 'style'
    = javascript_include_tag :defaults

  %body
    - if flash[:notice]
      #flash_notice= flash[:notice]
    - if flash[:error]
      #flash_error= flash[:error]

    - if logged_in?

      #login_logout
        - if @current_user
          = "Eingeloggt als <b>#{ @current_user.login }</b>"
          %em= link_to '(Logout)', session_path, :method => :delete
        - else
          %em Ausgeloggt.
          = link_to 'Login', new_session_path

      #metanavi
        %small
          = link_to 'Bestellungen', orders_path
          = link_to 'Abrechnungen', settlements_path
          = link_to 'Verkaufsartikel', articles_path
          = link_to 'Kategorien', categories_path
          = link_to 'Lagerartikel', stocks_path
          = link_to 'Lagergruppen', groups_path
          = link_to 'Steuerklassen', taxes_path
          = link_to 'User', users_path
          = link_to 'Tische', tables_path

      //.sidebar
      //  %small
      //    //%p== #{ link_to 'Aktive Artikel', :controller => 'menucard' } (#{ link_to 'Bearb.', :controller => 'menucard', :action => 'edit' })
      //    //%p== #{ link_to 'Bestellblock', :controller => 'waiterpad' } (#{ link_to 'Bearb.', :controller => 'waiterpad', :action => 'edit' })
      //    //%p= link_to 'Tafel', :controller => 'blackboard'

      //    - if (controller.controller_name == 'orders') and (controller.action_name == 'index')
      //      %h3= t :settlements
      //      - @unsettled_users.each do |uu|
      //        %ul
      //          %li= link_to uu.login, new_user_settlement_path(uu)
      //          %ul
      //            - Order.find_all_by_user_id(uu.id, :conditions => { :settlement_id => nil, :finished => true } ).each do |uo|
      //              %li= link_to "Best. ##{uo.id}", order_path(uo)

      //  //%ul#search_results

    = yield
