!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile?
      %meta{ 'name' => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title BillGastro

    = csrf_meta_tag
    = javascript_include_tag 'application'
    - if workstation? and @current_user and @current_user.onscreen_keyboard_enabled
      = javascript_include_tag 'jquery.keyboard'
      = javascript_include_tag 'jquery.keyboard.config'
    - if workstation?
      = javascript_include_tag 'application-workstation'
      = javascript_include_tag 'jquery.checkbox'
      = javascript_include_tag 'jquery.modcoder.excolor'
    - if mobile?
      = javascript_include_tag 'application-mobile'
    - if controller.controller_name == 'orders' and controller.action_name == 'index' and @current_user
      = javascript_include_tag 'orders-generic'
      - if workstation?
        = javascript_include_tag 'orders-workstation'
      - else
        = javascript_include_tag 'orders-mobile'

    %style= render :file => 'app/views/layouts/_fonts', :formats => [:css], :content_type => 'text/css' 
    = stylesheet_link_tag 'generic', :media => 'screen'
    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
    - if workstation?
      = stylesheet_link_tag 'print', :media => 'print'
      = stylesheet_link_tag('workstation', :media => 'screen')

    %script== automatic_printing = #{ (@current_user.automatic_printing and saas_variant? and workstation?) ? 'true' : 'false' };


  %body
    = render 'sessions/screenlock' if workstation? and controller.controller_name == 'orders'
    #container
      #header= render 'layouts/header'
      #flash
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_error= flash[:error]
      #messages messages
      #main= yield
      #footer
      #copyright
        .left
          = image_tag 'salorgastro-tiny.png'
          == Version #{ BillGastro::Application::VERSION }
        .right
          &copy; 2012 Red (E) Tools Ltd.
          = image_tag 'red-e-tiny.png'
