!!! XML
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - case MyGlobals.client
      - when 'stempel'
        %title Gasthaus Stempel
      - when 'gaube'
        %title Gasthaus Gaube
      - when 'local'
        %title Lokal
      - else
        %title gastrohelper
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'print', :media => 'print'  unless controller.controller_name == 'orders'
    = javascript_include_tag :defaults unless controller.controller_name == 'orders'

  %body
    - if flash[:notice]
      .flash_notice= flash[:notice]
    - if flash[:error]
      .flash_error= flash[:error]

    - case MyGlobals.client
      - when 'stempel'
        %h1 Gasthaus Stempel
      - when 'gaube'
        %h1 Gasthaus Gaube
      - when 'local'
        %h1 Lokal
      - else
        %h1 gastrohelper
        %h6= t :this_is_a_demo_app

    - if logged_in?

      #login_logout
        = t :language
        = link_to( 'English', 'sessions/set_language/en')
        = link_to( 'Deutsch', 'sessions/set_language/de')
        |
        - if @current_user
          = "#{ t :logged_in_as } <b>#{ @current_user.login }</b>"
          %em= link_to "(#{ t :logout })", session_path, :method => :delete
        - else
          %em "#{ t :logged_out }."
          = link_to (t :login), new_session_path

      .metanavi
        %small
          = link_to( (t :orders_menu), orders_path)
          = link_to( 'Druck', '/items/print.bon')

          - if @current_user.role == 1
            = link_to( (t :settlements_menu), settlements_path)
            = link_to( (t :articles_menu), '/menucard')

          - if @current_user.role >= 2
            = link_to( (t :settlements_menu), settlements_path)
            = link_to( (t :articles_menu), articles_path)
            = link_to( (t :categories_menu), categories_path)
            = link_to( (t :stocks_menu), stocks_path)
            = link_to( (t :groups_menu), groups_path)
            = link_to( (t :taxes_menu), taxes_path)
            = link_to( (t :cost_centers_menu), cost_centers_path)
            = link_to( (t :users_menu), users_path)
            = link_to( (t :tables_menu), tables_path)


    - if @current_user and @current_user.role >= 2
      %br
      .metanavi
        %small
          %b= t :statistics
          = link_to( (t :tables_menu), '/statistics/tables')
          = link_to( (t :weekdays), '/statistics/weekdays')
          = link_to( (t :waiter), '/statistics/users')
          = link_to( (t :articles_menu), '/statistics/articles')
          = link_to( (t :journal), '/statistics/journal')

    = yield
