!!! XML
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }

    - if controller.controller_name == 'orders' and controller.action_name == 'index' and not ipod?
      %meta{ 'http-equiv' => 'refresh', :content => '60' }

    - if ipod?
      %meta{ 'name' => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title Bill Gastro

    = stylesheet_link_tag('generic', :media => 'screen')
    = stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'application-generic.js'
    = javascript_include_tag 'prototype.js'
    = javascript_include_tag 'effects.js'
    = javascript_include_tag 'dragdrop.js'

    - if ipod?
      = stylesheet_link_tag('ipod', :media => 'screen')
      = stylesheet_link_tag('orders-ipod', :media => 'screen')
      = javascript_include_tag 'application-ipod.js'
    - else
      = stylesheet_link_tag('workstation', :media => 'screen')
      = stylesheet_link_tag('orders', :media => 'screen')
      = javascript_include_tag 'application-workstation.js'


    - if logged_in?
      = javascript_include_tag "/articles.js?#{ l Time.now, :format => :datetime_iso2 }" if controller.controller_name == 'orders' and ( controller.action_name == 'new' or controller.action_name == 'edit' or controller.action_name == 'create')
      %script{ :type => 'text/javascript' }= toggle_admin_interface

  %body
    #container
      #header
        %a#toggle_admin_interface{ :onclick => "toggle_admin_interface(); #{ remote_function(:url => { :controller => 'sessions', :action => 'toggle_admin_interface' }) }" }
          %img{ :src => "/images/client_logos/mohrsederl.png" }
        %img#logo{ :src => "/images/logo-small.png" }
        - if logged_in?
          #admin{ :style => "display: #{ session[:admin_interface] ? 'visible' : 'none' }" }
            .adminlinks
              = link_to( t('activerecord.models.order.other'), orders_path)
              - if @current_user.role >= 1
                = link_to( t('activerecord.models.article.other'), articles_path)
                = link_to( t('activerecord.models.option.other'), options_path)
                = link_to( (t :unsettled_orders_generic_name), '/orders/unsettled')
              - if @current_user.role >= 2
                = link_to( t('activerecord.models.settlement.other'), settlements_path)
                = link_to( t('activerecord.models.category.other'), categories_path)
                = link_to( t('activerecord.models.tax.other'), taxes_path)
                = link_to( t('activerecord.models.cost_center.other'), cost_centers_path)
                = link_to( t('activerecord.models.user.other'), users_path)
                = link_to( t('activerecord.models.table.other'), tables_path)
                = link_to( t('statistic'), statistics_path)
                = link_to( t('client_data.menulabel'), '/client_data')
              = link_to t(:logout, :who => @current_user.login), session_path, :method => :delete, :class => 'links logout' if logged_in?

      .flash
        - if flash[:notice]
          .flash_notice= flash[:notice]
        - if flash[:error]
          .flash_error= flash[:error]
      #main
        = yield
      #copyright
        %p Copright (C) 2010 <a href="http://michaelfranz.com" target="_blank">Dipl.-Ing. (FH) Michael Franzl e.U.</a>, FN 332235 g, Austria
