!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile?
      %meta{ 'name' => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title Bill Gastro

    = stylesheet_link_tag('generic', :media => 'screen')
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery-ui.js'
    = javascript_include_tag 'application-generic.js'
    %script= generate_js_variables
    - if controller.controller_name == 'orders' and controller.action_name == 'index' and @current_user
      = javascript_include_tag '/articles.js'
    %script== automatic_printing = #{ session[:automatic_printing] ? 'true' : 'false' };
    = csrf_meta_tag


    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
      = javascript_include_tag 'application-mobile.js'
    - else
      = stylesheet_link_tag 'print', :media => 'print'
      = stylesheet_link_tag('workstation', :media => 'screen')
      = javascript_include_tag 'application-workstation.js'

  %body
    #container
      %a{ :onclick => "$.ajax({ type: 'GET', url: '/tables' });" } test
      #header= render 'layouts/header'
      #flash
        #flash_notice= flash[:notice]
        #flash_error= flash[:error]
      #main= yield
      #footer
      #copyright
        %p <a href='http://billgastro.com' target='_blank'>BillGastro 3.1.0</a> &mdash; The innovative Point Of Sales Software for your Restaurant
        %p== Copyright (C) 2011  <a href='mailto:michael@billgastro.com'>Michael Franzl</a>
        %small This program is free software: you can redistribute it and/or modify it under the terms of the <a href="http://www.gnu.org/licenses/agpl.html" target='_blank'>GNU Affero General Public License</a> as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
