!!! XML
!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - case MyGlobals.client
      - when 'stempel'
        %title Gasthaus Stempel
      - when 'gaube'
        %title Gasthaus Gaube
      - when 'local'
        %title Lokal
      - else
        %title gastrohelper
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag controller.controller_name, :media => 'screen'
    = stylesheet_link_tag "#{controller.controller_name}_#{controller.action_name}", :media => 'screen'
    = stylesheet_link_tag 'print', :media => 'print'  unless controller.controller_name == 'orders'
    = javascript_include_tag :defaults
    %script{ :type => 'text/javascript' }= onload_functions
    %script{ :type => 'text/javascript' }= toggle_admin_interface

  %body{ :onload => 'onload_function' }
  
    #admin{ :style => "display: #{ session[:admin_interface] ? 'visible' : 'none' }" }
      .adminlinks
        - if logged_in?
          - if @current_user.role == 1
            = link_to( (t :settlements_menu), settlements_path)
            = link_to( (t :articles_menu), '/menucard')
          - if @current_user.role >= 2
            = link_to( (t :settlements_menu), settlements_path)
            = link_to( (t :articles_menu), articles_path)
            = link_to( (t :categories_menu), categories_path)
            = link_to( (t :taxes_menu), taxes_path)
            = link_to( (t :cost_centers_menu), cost_centers_path)
            = link_to( (t :users_menu), users_path)
            = link_to( (t :tables_menu), tables_path)
            = link_to( (t :statistics), '/statistics/index')
          = link_to "#{ t :logout } #{ @current_user.login}", session_path, :method => :delete


    #container
      #header
        %a#toggle_admin_interface{ :onclick => "toggle_admin_interface(); #{ remote_function(:url => { :controller => 'sessions', :action => 'toggle_admin_interface' }) }" }
          %img{ :src => "/images/client_logos/#{ MyGlobals.client }.jpg" }

        .flash
          - if flash[:notice]
            .flash_notice= flash[:notice]
          - if flash[:error]
            .flash_error= flash[:error]

        - if logged_in?
          .metaelements
            //= link_to( 'English', '/sessions/set_language/en')
            //= link_to( 'Deutsch', '/sessions/set_language/de')
            


      #main
        = yield
