!!!

%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    - if mobile?
      %meta{ 'name' => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }
      %meta{ 'name' => "apple-mobile-web-app-capable", :content => "yes" }

    %title BillGastro
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = stylesheet_link_tag('generic', :media => 'screen')
    - if workstation?
      = javascript_include_tag 'jquery.keyboard.js'
      = javascript_include_tag 'jquery.keyboard.config.js'
    = javascript_include_tag 'application-generic.js'
    
    %style= render :file => 'app/views/layouts/_fonts', :formats => [:css], :content_type => 'text/css' 

    = csrf_meta_tag

    - if mobile?
      = stylesheet_link_tag('mobile', :media => 'screen')
    - else
      = stylesheet_link_tag('workstation', :media => 'screen')

  %body
    #container
      #header
        %img#logo{ :src => "logo-small.png" }
      #flash
        #flash_notice= flash[:notice]
        #flash_error= flash[:error]
      #main= yield
      #footer
      #copyright
        %p== BillGastro #{ BillGastro::Application::VERSION } &mdash; The innovative Point Of Sale Software for your Restaurant
        %p== Copyright (C) 2012 Red (E) Tools Ltd.
